@{
    ViewData["Title"] = "En feil oppstod";
}

<div class="pagecontainer">
    <div class="mid-content">
        <div class="page-header">
            <h3>Beklager, en feil oppstod på denne siden.</h3>
        </div>
    </div>
</div>