 <div class="page_section mobile_padding">

    <p>Eksempel på relevant informasjon er publiserte artikler eller rapporter som dokumenterer fremmede arters effekt eller spredning. Dokumentert spredning av fremmede arter til nye områder er også av stor interesse. Innsynet er åpent 22. februar - 12. mars 2023.</p>
    <p>Det er ikke tillatt å bruke de foreløpige vurderingene i vitenskapelige publikasjoner.</p>
    <br>
    <p style="font-size:19px"><b class="impact-bold"><span class="material-icons">info</span>Fristen for å sende innspill er 12. mars 2023.</b></p>
    <br>
    <div class="innsyn-info-box">
        <h3>Gi tilbakemeldinger</h3>
        <h4>Hvordan se vurderingene og gi tilbakemelding?</h4>
        <ol class="prettier-ol">
            <li>Skriv inn navn på en art (eller slekt) i tekstfeltet «Søk i Fremmedartslista 2023» eller bruk øvrige filter for å finne arten du vil lese om.</li>
            <li>Klikk på linjen for å komme til vurderingen.</li>
            <li>Nederst i de foreløpige vurderingene finner du skjemaet «Tilbakemelding». Fyll først inn navn og e-postadresse, og godta vilkårene. Du vil da motta en e-post for å validere e-postadressen. Trykk på lenken i eposten så blir du sendt tilbake til vurderingen hvor du kan skrive din tilbakemelding inkludert eventuelle filvedlegg. <a href="~/feedback/terms">Se hvordan Artsdatabanken behandler dine personopplysninger.</a></li>
        </ol>
        <p>Hvis du ønsker å gi en tilbakemelding som ikke er relatert til en spesifikk art gjøres det via <a href="mailto:fremmedearter@artsdatabanken.no">epost</a>.</p>

    </div>
   </div>