@model AlienSpeciesAssessment2023Attachment[];

@{
    var visible = Model.Count() > 0;
}     
<div is-visible="visible">
    <h2 id="Attachments">@Constants.HeadingsNO["Attachments"]</h2>
    @{
        foreach (var attachment in Model)
        {
            <a asp-controller="AlienSpecies" asp-action="Attachment" 
            asp-route-attachmentId="@attachment.Id" 
            asp-route-name="@attachment.FileName">
                Desc:@attachment.Description, 
                Filename:@attachment.FileName, 
                Mimetype:@attachment.MimeType, Id:@attachment.Id
            </a>
            <br />
        }
    }
</div>

    


