
@model AttachmentViewModel;

<h2 id="@Constants.HeadingsIds.Attachments">@Constants.HeadingsNo.Attachments</h2>
@foreach (var attachment in Model.Attachments)
{
    <a asp-controller="AlienSpecies" 
    asp-action="Attachment" 
    sp-route-attachmentId="@attachment.Id" 
    asp-route-name="@attachment.FileName">
    Desc:@attachment.Description, 
    Filename:@attachment.FileName, 
    Mimetype:@attachment.MimeType, 
    Id:@attachment.Id</a>
    <br />
}        
