@model AlienSpeciesDetailViewModel;
@using Assessments.Mapping.AlienSpecies.Model.Enums;

@{
    var showPage = Model.Assessment.Category != AlienSpeciesAssessment2023Category.NR;
    var hasClimateEffectsInvasionpotential = Model.Assessment.RiskAssessmentClimateEffectsInvasionpotential == true;   
    var hasClimateEffectsEcoEffect = Model.Assessment.RiskAssessmentClimateEffectsEcoEffect == true;   
    var hasRiskAssessmentClimateEffectsDocumentation = Model.Assessment.RiskAssessmentClimateEffectsDocumentation != "";

    var sentenceEnding = "vært lavere i fravær av pågående eller fremtidige klimaendringer.";


}

<div class="page_section" is-visible="@showPage">
    <div class="collapsible initially_closed">
        <div class="collapsible_header">
             <h2>
                 Klimaeffekter
             </h2>
            <button class="hide" onclick="toggleCollapsible(this)">
                <span class="material-icons expanded_icon">expand_less</span>
                <span class="material-icons collapsed_icon">expand_more</span>
            </button>
        </div>
        <div class="collapsible_content">


            <div is-visible="hasClimateEffectsInvasionpotential == hasClimateEffectsEcoEffect">
                <p is-visible="!hasClimateEffectsInvasionpotential">
                    Hverken delkategori for økologisk effekt eller invasjonspotensial 
                    ville @sentenceEnding
                </p>
                <p is-visible="hasClimateEffectsInvasionpotential">
                    Både delkategori for økologisk effekt og invasjonspotensial 
                    ville @sentenceEnding      
                 </p>

            </div>

            <div is-visible="hasClimateEffectsInvasionpotential != hasClimateEffectsEcoEffect">

                 <p is-visible="hasClimateEffectsInvasionpotential">
                    Delkategori for invasjonspotensial ville @sentenceEnding
                </p>

                <p is-visible="!hasClimateEffectsInvasionpotential">
                    Delkategori for invasjonspotensial ville <i>ikke</i>  @sentenceEnding
                </p>

                <p is-visible="hasClimateEffectsEcoEffect">
                    Delkategori for økologisk effekt ville @sentenceEnding
                </p>

                <p is-visible="!hasClimateEffectsEcoEffect">
                    Delkategori for økologisk effekt ville <i>ikke</i> @sentenceEnding
                </p>
            </div>

                     
                            
            <div is-visible="(hasClimateEffectsInvasionpotential || hasClimateEffectsEcoEffect) && hasRiskAssessmentClimateEffectsDocumentation">
                <h3>Betydningen av klimaendringer:</h3>
                <p>@Model.Assessment.RiskAssessmentClimateEffectsDocumentation</p>
            </div>

        </div>
    </div>
</div>