@model ExpertStatementViewModel

@{
    var showCriteriaDocumentation = Model.Category != Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciesAssessment2023Category.NR &&
                Model.AlienSpeciesCategory != Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciecAssessment2023AlienSpeciesCategory.TaxonEvaluatedAtAnotherLevel;

    var showConclusion = showCriteriaDocumentation && !string.IsNullOrEmpty(Model.CriteriaDocumentationSpeciesStatus);
}

<div class="page_section" id="@nameof(Constants.HeadingsNo.Conclusion)" is-visible="@showConclusion">
    <h2>@Constants.HeadingsNo.Conclusion</h2>
    <div class="expert_Assessment">
        <p class="expert_text">
            @Html.Raw(Model.CriteriaDocumentation)
        </p>
    </div>
</div>
