@model ExpertStatementViewModel
<div>
    <p>
        Arten er vurdert som en potensiell dørstokkart i <a href="blabla">Horisontskanning av fremmede arter</a>. Resultatet viser at arten ikke er en dørstokkart for Norge fordi kombinasjonen av etableringspotensial og negative økologiske effekter ikke skårer høyt nok. Den skal derfor ikke risikovurderes.
    </p>

    <h3>Etableringspotensial</h3>
    <p>Antall forekomster 10 år etter én introduksjon ble vurdert til: [VIS GJELDENDE VERDI HER.]  </p>

    <h3>Økologisk effekt</h3>
    <p>Vesentlige negative økologiske effekter knyttet til arten er: [VIS GJELDENDE VERDI HER]</p>
    <div class="collapsible initially_closed">
        <div class="collapsible_header"  onclick="toggleCollapsible(this)">
                <h3>Se mulige verdier for etableringspotensial og økologisk effekt</h3>
                <span class="material-icons expanded_icon">expand_less</span>
                <span class="material-icons collapsed_icon">expand_more</span>
        </div >

        <div class="collapsible_content">
            
        </div>
    </div >
</div>