@model AlienSpeciesDetailViewModel;
@using Assessments.Mapping.AlienSpecies.Model.Enums;

@{
    var isMisidentiFied = Model.Assessment.AlienSpeciesCategory == AlienSpeciecAssessment2023AlienSpeciesCategory.MisIdentified;
}

<p is-visible="isMisidentiFied">
    @Model.Assessment.MisIdentifiedDescription 
</p>
    
    

