@model RaceViewModel

@{
    var higherNameRank = Model.NameHierarchy.LastOrDefault();
}

<p>
    MERK: Vurderingen gjelder kun @Helpers.FixSpeciesLevel("{art}en", (int)Model.ScientificName.ScientificNameRank) @Html.Raw(Model.ScientificName.ScientificNameFormatted)@( !string.IsNullOrEmpty(Model.ScientificName.ScientificNameAuthor ) ? " " + Model.ScientificName.ScientificNameAuthor  : string.Empty )@Model.VernacularName 
    og ikke @Helpers.FixSpeciesLevel("{art}en", (int)higherNameRank.ScientificNameRank) @Html.Raw(higherNameRank.ScientificNameFormatted)@( !string.IsNullOrEmpty(Model.ScientificName.ScientificNameAuthor) ? " " + Model.ScientificName.ScientificNameAuthor : string.Empty ). 
    <a is-visible="false" asp-action="Detail" asp-route-id="place id here">Se her.</a>
</p>