@model RegionalSpreadViewModel;

@{
    var showPage = Model.Category != Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciesAssessment2023Category.NR;
}

<div id="geographical_spread" class="page_section" is-visible="@showPage">
    <h2>
        Utbredelse
    </h2>
    <button id="domestic_spread_button" class="changetab active" onclick="selectTab('domestic_spread_button', 'domestic_spread' , 'geographical_spread' )">Utbredelse i Norge</button>
    <button id="regional_nature_variation_button" class="changetab" onclick="selectTab('regional_nature_variation_button', 'regional_nature_variation' , 'geographical_spread' )">Regional naturvariasjon</button>
    <div class="tabbed_element_container assessment_tabs">
        <div id="domestic_spread">
            domestic_spread
        </div>
        <div id="regional_nature_variation">
            regional_nature_variation
        </div>
    </div>
</div>
