@model AlienSpeciesDetailViewModel

@{
    // WHILE INCOMPLETE: HIDE THE WHOLE ELEMENT
    var showMain = false;
}

<div is-visible="showMain" class="page_section">
    <h2 id="TableOfContents">@Constants.HeadingsNO["TableOfContents"]</h2>
    <ul>
         @{
            foreach (var heading in Constants.HeadingsNO)
            {
                
                <li is-visible=@Constants.showHeading(@heading.Key,@Model.Assessment.Category)><a href="#@heading.Key">@heading.Value</a></li>
            }
        }
    </ul>
</div>
