@{
    ViewBag.Title = "Vilkår";
}

<h1>
    @ViewBag.Title
</h1>

<p>
    Årsaken til at Artsdatabanken etterspør navn og epost er for at Artsdatabanken og ledere i ekspertkomiteene for Fremmedartslista 2023 skal kunne verifisere påstander i tilbakemeldingen, kontakte deg ved ytterligere spørsmål og informere deg om hvorvidt påstander i din tilbakemelding har ført til endringer i vurderingen. Vi har til hensikt å svare (per epost) alle som kommer med en tilbakemelding.
</p>

<p>
    Det rettslige grunnlaget for å lagre navn og epost er å utføre en oppgave i allmennhetens interesse (jfr. Artikkel 6, punkt 1. e i EU forordning 2016 /679, som er innlemmet i personopplysningsloven av 2018). I vårt tilfelle er oppgaven i allmennhetens interesse å øke kunnskapsgrunnlaget til Fremmedartslista 2023 slik at vurderingene er gjort på best mulig grunnlag.
</p>

<p>
    Ditt navn og epost vil kun deles med leder av ekspertkomiteen for arten(e) du har gitt tilbakemelding på. Lederne for ekspertkomiteene er kjent med lovverket rundt håndtering av personopplysninger, og vil behandle opplysningene konfidensielt i tråd med databehandleravtalen de har med Artsdatabanken. Artsdatabanken vil ikke dele, selge, overføre eller på annen måte utlevere personopplysningene dine til andre aktører enn disse.
</p>

<p>
    Din epostadresse slettes etter at Artsdatabanken og ledere i respektive ekspertkomite for Fremmedartslista 2023 er ferdig med å behandle tilbakemeldingen, men senest 3 måneder etter at innsynet har stengt. Hvis din tilbakemelding fører til endring av kategori, blir hele tilbakemeldingen -inkludert ditt navn- å regne som informasjon av offentlig interesse. I slike tilfeller vil tilbakemeldingen og ditt navn arkiveres. Dersom din tilbakemelding ikke fører til endring av kategori vil tilbakemeldingen først anonymiseres (ditt navn slettes permanent), og deretter arkiveres.
</p>

<p>
    Du kan lese <a href="https://artsdatabanken.no/personvern">Artsdatabankens generelle personvernerklæring her</a>
</p>