@model RL2021ViewModel
@using Assessments.Web.Infrastructure

@{
    ViewData["Title"] = "Rødlista 2021";

    CitationForListViewModel citationViewModel = new CitationForListViewModel
    {
        CitationString = Constants.RedlistSpecies2021CitationString
    };

    PageHeaderViewModel headerViewModel = new PageHeaderViewModel
    {
        HeaderText = Constants.RedlistSpecies2021HeaderText,
        HeaderByline = Constants.RedlistSpecies2021HeaderByline
    };

    IntroductionViewModel introductionViewModel = new IntroductionViewModel
    {
        Introduction = Constants.RedlistSpecies2021Introduction
    };

    PageMenuViewModel pageMenuViewModel = new PageMenuViewModel
    {
        AssessmentType = Assessments.Web.Infrastructure.Enums.AssessmentType.RedlistSpecies2021,
        PageMenuContentId = Constants.RedlistSpecies2021PageMenuContentId,
        PageMenuExpandButtonText = Constants.RedlistSpecies2021PageMenuHeaderText,
        PageMenuHeaderText = Constants.RedlistSpecies2021PageMenuHeaderText
    };
}

@{
    //<partial name="/Views/Redlist/Species/2021/List/partials/_Breadcrumb.cshtml" />
}
<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenu.cshtml" model="pageMenuViewModel" />
    <div class="content-placer bigmid">
        <div class="mid-content">

            <div class="title_with_image">
                <div class="title_with_header">
                    <partial name="/Views/Shared/_Header.cshtml" model="headerViewModel" />
                </div>
                <div class="title_with_ingress">
                    <img src="https://design.artsdatabanken.no/list-icons/rl2021-icon-small.png" alt="Bilde av en fisk">
                    <partial name="/Views/Shared/_Introduction.cshtml" model="introductionViewModel"/>
                </div>

            </div>
            <form id="search_and_filter_form" asp-action="Index2021" method="get">
                <partial name="/Views/Redlist/Species/2021/List/partials/_Search.cshtml" />
                <partial name="/Views/Redlist/Species/2021/List/partials/_Filters.cshtml" />
            </form>
            <partial name="/Views/Shared/_CitationForList.cshtml" model="citationViewModel" />
        </div>
    </div>
</div>



<script>
    document.addEventListener('keydown', function (e) {
        if (e.keyCode == "9") {

            // LOGS OUT ACTIVE ELEMENT WHEN TABBING TO MORE EASILY FIND BUG
            console.log("previous active element", document.activeElement)
        }

    });
</script>