
/* STATISTICS AND GRAPHS */

.viewselector.stat {
    padding: 10px;
}

.viewselector.stat .redlist,
.viewselector .graphs {
    display: none;
}

.viewselector.stat .graphs {
    display: block;
}

.graphs .statelement {
    padding: 0;
}

.stat_subtitle {
    display: inline-block;
    word-break: break-word;
    hyphens: auto;
    font-size: 10pt;
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.graph {
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.statelement {
    display: inline-block;
    padding: 10px;
    flex: 1;
    text-align: center;
}


.graph .heightbar_blank,
.graph .heightbar_indicator {
    height: 200px;
}

.heightbar_blank,
.heightbar_indicator {
    display: flex;
    /*justify-content: center; */
    position: relative;
    width: 100%;
}


.graph .heightbar_indicator {
    width: 70%;
    bottom: 0;
    margin-bottom: 0;
    margin-top: auto;
    position: absolute;
    margin-bottom: 2px;
    border-left: 1px solid white;
    border-right: 1px solid white;
}

.heightbar_indicator {
    background: grey;
}

.greyscale .statelement:nth-child(even) .heightbar_indicator {
    background: #3d3b3a;
}

.statbox {
    display: block;
    padding: 10px;
    hyphens: auto;
}

.percent {
    position: absolute;
    top: -20px;
    color: black;
    left: 0px;
    font-size: 12pt;
    text-align: center;
    width: 100%;
}

/* downwards graph */
.down_graph {
    padding-right: 15px;
    max-width: 500px;
    margin-left: 0;
    margin-right: 15px;
}
.down_graph .statelement {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0;
    text-align: left;
    margin: 0;
    align-items: stretch
}


.down_graph .statbox {
    width: 112px;
    background: none;
    display: inline-block;
    padding: 0;
    margin-right: 5px;
    text-align: right;
    font-size: 10pt;
    flex:1;
}

.down_graph .heightbar_blank,
.down_graph .heightbar_indicator {
    min-height: 20px;
    height:auto;
}

.down_graph .heightbar_indicator {
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}

.down_graph .statelement .heightbar_blank {
    width: calc(100% - 120px);
    flex: 1;
    display: flex;
    align-items: stretch
}


.down_graph .statelement .percent {
    position: absolute;
    top: 0;
    text-align: right;
    height: 100%;
    padding: 4px;
    width: 100%;
    width: 1px;
    margin-left: 100%;
}


@media only screen and (max-width: 330px) {
    .down_graph .statbox {
        flex: none;
        max-width: 50%;
        width: 100%;
        word-break: break-word;
        hyphens: auto;
        font-size: 8pt;
    }
}


@media only screen and (max-width: 250px) {
    .down_graph {
        padding-right: 0;
    }
    .down_graph .statbox {
        max-width:80%
    }

    .down_graph .statelement {
        border-bottom: 1px solid lightgray;
        padding-bottom: 5px;
    }

    .down_graph .statelement .heightbar_blank {
        width: 20%
    }

    .down_graph .statelement .percent,
    .down_graph .statelement .heightbar_indicator {
        width: 100%!important;/*Clean table view*/
        margin:0;
        background:white;
        padding:0;
    }


}

@media only screen and (min-width: 281px) and (max-width: 400px){
    .color_graph .stat_subtitle {
        font-size: 9px;
        vertical-align: top;
    }
}


@media only screen and (max-width: 280px) {
    .color_graph {
        flex-direction: column;
    }

    .color_graph .statelement {
        display: flex;
        margin: 2px;
        border-bottom: 1px solid lightgray;
    }

    .color_graph .heightbar_blank {
        height: 20px;
        display: inline-block;
        order: 2;
        width: 50%;
    }

    .color_graph .heightbar_indicator {
        position: relative;
        background: none;
        height: 100% !important; /*Clean table view*/
    }

    .color_graph .statbox {
        order: 1;
        width: 50%;
        display: inline-block;
        color: black;
        background: none;
        text-align: right;
    }

    .color_graph .percent {
        top: auto;
        margin: auto;
        text-align: left;
        font-size: 12pt;
        padding: 2px;
    }

}
    
.bar-chart {
    width: 100%;
    margin-bottom: 20px;
}

.alien-species .bar-chart {
    max-width: 600px;
}

.bar-chart-element {
    display: flex;
    align-items: center;
    margin: 5px 0;
    width: 100%;
    list-style-type: none;
}

.bar-chart-element-smaller {
    width: 75%;
}

.bar-chart-element-small {
    width: 60%;
}

.bar-chart-element-smallest {
    width: 40%;
}

.bar-chart-bar-wrapper {
    display: flex;
    align-items: center;
    width: calc(100% - 180px);
    min-width: 50px;
}

.bar-chart-bar {
    height: 20px;
    margin-right: 5px;
    background-color: #4b6f79;
}

.bar-chart-decisive-criteria .bar-chart-bar,
.bar-chart-establishment-class .bar-chart-bar {
    height: 40px;
}

.bar-chart-major-nature-types .bar-chart-bar {
    height: 30px;
}

.bar-chart-nature-types .bar-chart-bar,
.bar-chart-spread-ways .bar-chart-bar,
.bar-chart-major-spread-ways .bar-chart-bar {
    height: 35px;
}

.bar-chart-name {
    width: 180px;
    margin-right: 10px;
    text-align: right;
}

.decisive-criteria-figure {
    display: flex;
    flex-direction: row;
}

.bar-chart-sub-chart {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0;
}

.bar-chart-sub-chart .bar-chart {
    margin-bottom: 0;
}

.bar-chart-info-box {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #f5e7d3;
    margin-right: 10px;
}

.bar-chart-major-spread-ways,
.bar-chart-major-nature-types {
    margin: 20px 0;
}

.bar-chart-nature-types .bar-chart-info-box,
.bar-chart-spread-ways .bar-chart-info-box {
    width: 80%;
    height: 50px;
}

.bar-chart-info-box-1 {
    height: 120px;
}

.bar-chart-info-box-2 {
    height: 300px;
}

.bar-chart-info-box-establishment-class-0 {
    height: 130px;
}

.bar-chart-info-box-establishment-class-1 {
    height: 240px;
}

.bar-chart-info-box p {
    transform: rotate(-90deg);
    margin-bottom: 0;
}

.bar-chart-nature-types .bar-chart-info-box p {
    transform: inherit;
}

.bar-chart-double-column {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.bar-chart-double-column .bar-chart-sub-chart {
    flex-direction: column;
    width: 50%;
}

@media only screen and (max-width: 480px) {
    .bar-chart-sub-chart {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 20px 0;
    }

    .bar-chart-sub-chart .bar-chart-info-box {
        height: 30px;
        width: 100%;
    }

    .bar-chart-info-box p {
        transform: inherit;
        margin: 0;
    }

    .bar-chart-element-smaller {
        width: inherit;
    }

    .bar-chart-element-small {
        width: 90%;
    }

    .bar-chart-element-smallest {
        width: 70%;
    }

    .bar-chart-double-column .bar-chart-sub-chart {
        width: 100%;
    }
}