
/* GRID VIEW 

    Moved out to not-included file until 
    such a time as it will again be 
    reconsidered.

*/
.viewselector.grid .listheader {
    display: none;
}

.viewselector.grid li {
    width: auto;
    display: inline;
}

.viewselector.grid li a {
    display: inline-block;
    width: 150px;
    height: 230px;
    background: #fbfbfb;
    margin-bottom: 15px;
    margin-left: 5px;
    vertical-align: top;
    border: 1px solid #d4d4d4;
    text-align: center;
}

.grid .element_icon {
    width: 150px;
    height: 150px;
    background: #eee;
    border-radius: 50%;
}

.redlist .element_area img {
    display: none;
    width: 39px;
    height: 39px;
}

.listwrapper.grid .element_name {
    display: block;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    z-index: 1;
}

.listwrapper.grid .element_category {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}

.viewselector.grid .element_area,
.viewselector.grid .element_area img {
    display: inline;
    position: absolute;
    bottom: 2px;
    left: 3px;
    z-index: 1;
}


.viewselector.grid .element_category span {
    display: inline;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}
