
/* PAGINATOR FOR LIST PAGE*/

.pagination-wrapper {
    padding: 20px 0;
}

@media (max-width: 501px) {
    .pagination-wrapper {
        margin: 10px 0;
    }
}

.pagination-part {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
}

.PagedList-pageCountAndLocation.disabled a {
    color: #4c4a48;
}

.PagedList-pageCountAndLocation.disabled a:hover {
    cursor: default;
}

li.page-item a,
li.page-item a.page-link {
    padding: 10px;
    color: inherit;
    background: inherit;
}

li.page-item a:hover,
li.page-item a.page-link:hover {
    border: 1px solid #4c4a48;
    border-radius: 5px;
}

.page-item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    height: 35px;
    width: 35px;
}

.PagedList-skipToPrevious.page-item,
.PagedList-skipToNext.page-item {
    width: auto;
}

.PagedList-skipToPrevious .page-link,
.PagedList-skipToNext .page-link {
    padding: 10px;
    border: 1px solid #4c4a48;
    border-radius: 50px;
}

.PagedList-skipToPrevious .paginator-link-text {
    padding-right: 10px;
}

.PagedList-skipToNext .paginator-link-text {
    padding-left: 10px;
}

.page-item.active {
    border: 1px solid #4c4a48;
    border-radius: 5px;
}

li.page-item a.page-link:hover {
    color: #8f4997;
}

.pagination-wrapper a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* ICON */
.element_icon {
    width: 45px;
    height: 0;
    position: relative;
    display: inline-block;
}

.element_icon img {
    width: 100%;
    height: 45px;
    padding: 5px;
    /*margin-top: -30%;*/
}


/* LIST PRESENTATION */

.main_list_view li a {
    line-height: 1;
    font-size: 12pt;
    position: relative;
    text-decoration: none;
    color: inherit;
    align-items: center;
    padding-left: 10px;
    padding-right: 2px;
    box-sizing: border-box;
}

.main_list_view li {
    width: 100%;
    list-style-type: none;
    max-width: 100%;
    border-bottom: 1px solid #f5e7d3;
}

.list a:hover,
.list a:focus,
.list a:active {
    background-color: #f5e7d3;
}

li a span.element_icon {
    padding: 0;
}

.viewselector {
    width: 100%;
    height: fit-content;
    border-left: 1px solid lightgrey;
    padding-bottom: 10px;
}

.listwrapper {
    /* Handles placement of filtersidebar vs tabs*/
    display: flex;
    min-height: 20px;
    width: 100%;
    max-width: 100%;
    font-size: 12pt;
    padding-bottom: 20px;
}

/* LIST VIEW */

.element_icon {
    display: flex;
    flex-direction: column;
    height: 58px;
    min-width: 55px;
}

/* ANYTHING GRID */

.listheader,
.main_list_view li a {
    display: inline-grid;
    padding: 5px 0;
    width: 100%;
    padding-left: 10px;
}

.listheader {
    grid-template-columns: 1fr 2fr 2fr 153px;
}

.listheader.door_knocker {
    grid-template-columns: 1fr 2fr auto 2fr 153px;
}

.main_list_view li a {
    grid-template-columns: 1fr 4fr 105px 53px;
}

.main_list_view li.door_knocker a {
    grid-template-columns: 1fr 4fr 54px 100px 53px;
}

.categoryname {
    text-align: right;
    padding-right: 5px;
}

.categorytag {
    text-align: right;
}

.main_list_view .category_tag {
    width: 41px;
    display: block;
    height: 41px;
}

.category_tag_label {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 20px;
    line-height: 41px;
}

.list_cell {
    padding: 5px;
    word-break: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    overflow-wrap: break-word;
    padding: 0px 10px;
}

.element_icon.list_cell {
    padding: 0 5px;
}

.main_list_view .amfibier,
.main_list_view .edderkoppdyr,
.main_list_view .kakerlakker,
.main_list_view .nebbmunner,
.main_list_view .stormaneter {
    min-height: 74px;
}

.main_list_view li.S {
    background: #E6EFF1;
    border-color: #99BDC6;
}

.svalbarcontainer {
    display: none;
}


.main_list_view li.S a .svalbarcontainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: 50px;
    overflow: hidden;
    display: block;
}

.svalbard {
    display: block;
    background: #496571;
    padding: 2px;
    position: absolute;
    color: #fff;
    top: 11px;
    font-size: 10px;
    left: -30px;
    transform: rotate(-34deg);
    width: 100px;
    text-align: center;
    z-index: 1;
}

.speciesgroup_name,
.element_popular_name {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.speciesgroup_name {
    display: block;
    margin-left: -20%;
    margin-right: -20%;
    margin-top: -8px;
    text-align: center;
    overflow: visible;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-size: 12px;
    max-width: inherit;
    font-family: 'Roboto';
}


@media only screen and (max-width: 800px),
only screen and (min-width:941px) and (max-width:1150px){

    .element_species {
        padding-left: 5px;
    }

    .main_list_view li a {
        padding: 4px 0;
    }

    .listheader {
        display: none;
    }

    .element_species .list_cell {
        display: block;
        padding: 2px;
    }

    .element_popular_name {
        color: #7B766B;
    }

    .main_list_view li a {
        grid-template-columns: 1fr 4fr 105px 53px;
    }

    .element_popular_name {
        word-wrap: break-word;
        overflow-wrap: break-word;
    }
}


@media only screen and (max-width: 400px) {
    .categoryname {
        font-size: 12px;
    }

    .main_list_view li a {
        grid-template-columns: 18% 48% 22% 15%;
        padding-left: 0;
        padding-right: 0;
    }
}


@media only screen and (max-width: 320px) {

    .main_list_view li a {
        display: inline-block;
        justify-content: space-between;
        flex-wrap: wrap;
        height: auto;
        padding: 5px;
        padding-bottom: 10px;
    }

    .element_species {
        width: 100%;
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 13pt;
    }

    .main_list_view .category_tag {
        display: inline-block;
        width: 26px;
        height: 26px;
    }

    .category_tag_label {
        font-size: 15px;
        line-height: 26px;
    }

    .element_icon {
        order: 1;
        font-size: 12px;
        display: inline-block;
        height: auto;
    }

        .element_icon img {
            display: none;
        }

    .categoryname {
        order: 3;
    }

    .categorytag {
        order: 2;
    }

    .main_list_view li a.S .svalbard {
        left: -145px;
    }

    .main_list_view li a {
        text-align: center;
    }
}


@media only screen and (min-width: 801px) and (max-width:940px), 
    only screen and (min-width:1151px) {

    .element_species {
        display: flex;
    }

    .element_popular_name {
        word-break: break-word;
    }

    .element_species .list_cell {
        width: 50%;
    }
}


    /* HEADER OF LIST PRESENTATION*/
    .listheader {
        position: sticky;
        position: -webkit-sticky;
        z-index: 1;
        top: -1px;
        background-color: #fff9f0;
        font-weight: bold;
        text-align: left;
    }

        .listheader span:last-child {
            text-align: right;
        }

    .main_list_view .listheader {
        border-bottom: 1px solid #4c4a48;
        padding-bottom: 5px;
        padding-right: 5px;
    }


    /* OTHER THINGS */

    .section {
        border: 1px solid grey;
        padding: 20px;
    }

    @media only screen and (max-width: 750px) {

        .viewselector {
            padding-left: 0;
            padding-top: 0;
            border: 0;
        }


        .listwrapper {
            flex-direction: column;
            padding: 0 10px;
        }

        .main_list_view {
            width: 100%;
        }

        li a span.element_icon {
            padding-right: 10px;
        }

        .num_of_resutls {
            padding: 0 15px;
        }
    }

    .list_header {
        position: relative;
    }

    .num_of_resutls {
        font-size: 12pt;
        width: 100%;
        text-align: end;
        margin: 10px 0;
    }

        .num_of_resutls.desktop_hide {
            width: auto;
            margin-bottom: 0;
            margin-top: 35px;
            float: right;
            padding: 0 5px;
        }

    .degrees {
        font-size: 12px;
        display: block;
        color: #4c4a48;
    }

    .list_doorknocker span {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 12px;
    }

    .list_doorknocker .material-symbols-outlined {
        font-size: 30px;
        font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
    }

    @media (max-width: 500px) {
        .mobile_hide {
            display: none;
        }

        .main_list_view li.door_knocker a {
            grid-template-columns: 1fr 4fr 100px 53px;
        }

        .listheader.door_knocker {
            grid-template-columns: 1fr 2fr 2fr 153px;
        }

        .pagination-container {
            width: 100%;
        }

        ul.pagination {
            width: 100%;
        }

        .pagination {
            justify-content: space-around;
        }

        .page-item {
            border: 0;
            width: inherit;
            max-width: 100px;
        }

        .pagination-wrapper .disabled a {
            white-space: nowrap;
        }
    }

    @media (min-width: 501px) {
        .desktop_hide {
            display: none;
        }
    }
