
/* SEARCH FIELD REDLIST */

.no_results {
    padding:10px;
}

/* Container div for anything search*/
.list-search {
    padding: 10px 0;
    width: 100%;
    padding-bottom: 0;
    border-radius: 2px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
}


@media only screen and (min-width: 750px) {
    .list-search {
        /*padding-left:220px; // testing chips*/
    }
}
    

.list-search h2 {
    color: #3d3b3a;
    padding:0;
    margin:5px;
}

/* Container div for input + button*/
.searchfield {
    display: flex;
    flex-direction: column;
    width: 100%;
    vertical-align: top;
    margin: 5px 0 4px 0;
    height: 45px;
    width: 100%;
    max-width: 100%;
    background: pink;
}

.search-help-text {
    font-size: 10pt;
    color: #646464;
}

.darktheme .search-help-text {
    color: #bbb7b7;
}

@media only screen and (max-width: 410px) {
    input#Name {
        height: 100%;
    }
}

/* Input field */
.list-search input {
    display: inline-block;
    border: 1px solid #3d3b3a;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    line-height: 21.4333px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 100%;
    padding-left: 5px;
    z-index: 12;
}


.searchfield_and_button {
    display: flex;
    height: 45px;
}

/* Button*/
.searchfield button {
    width: 100px;
    min-width: 90px;
    vertical-align: top;
    margin: 0;
    height: 100%;
}

/* Autocomplete list */

.search_autocomplete {
    padding: 5px;
    border-bottom: 2px solid #3d3b3a;
    min-height: 40px;
    font-size: 10pt;
    text-align: left;
    list-style-type: none;
    vertical-align: middle;
    display: flex;
    align-items: center;
    display: inline-grid;
    grid-template-columns: 30px 4fr 1fr 1fr 33px 53px 26px;
    width: 100%;
}

.search_autocomplete .search_speciesgroup,
.search_autocomplete .search_autocomplete {
    padding-left: 2px;
}

.search_name{
    padding-right:2px;
}

@media only screen and (max-width: 600px), only screen and (min-width: 941px) and (max-width: 1120px) {
    .search_autocomplete {
        grid-template-columns: 30px 4fr 1fr 33px 53px 26px;
    }

    .search_speciesgroup {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .search_autocomplete {
        grid-template-columns: 30px 4fr 33px 53px 26px;
    }

    .taxon_rank {
        display: none;
    }

    #autocomplete_list_ul{
        width:100%;
    }
}

@media only screen and (max-width: 300px) {
    .search_autocomplete {
        grid-template-columns: 4fr 33px 53px 26px;
    }

    .search_speciesicon {
        display: none;
    }
}

@media only screen and (max-width: 250px) {
    .search_autocomplete {
        display:flex;
        flex-direction:column;
    }

    .material-icons.right_icon,
    .search_category {
        display: none;
    }
}

.search_speciesgroup{
    min-width:85px;
}

.search_dropdown li:focus,
.search_autocomplete:focus,
.search_autocomplete:hover {
    background-color: lightgray;
    cursor: pointer;
}

.search_speciesicon{
    width:24px;
    height:24px;
}

.right_action{
    text-align:right;
}

.right_icon{
    text-align:center;
}

.search_dropdown {
    background: #fff9f0;
    display: none;
    width: calc(100% - 90px);
    border: 1px solid #3d3b3a;
    z-index: 10;
    border-top: 0;
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.5);
    list-style: none;
}

.search_matchedname {
    font-size: 10pt;
    display: block;
    text-align: left;
    padding: 5px;
    padding-bottom: 0;
}

.search_matchedname,
.search_match {
    color: #0b8293;
}

.hit_count_text {
    display: block;
    font-weight: normal;
    color: #0f0f0f;
    font-size: 21px;
}