html {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background: #fffcf7;
}


body p {
    line-height: 155%;
}

h1,
h2,
h3,
h4,
body,
p {
    color: #262F31;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
div,
span,
.menuitems {
    font-family: 'Chivo', sans-serif;
}

.heyCookie {
    position: fixed;
    width: 100%;
    bottom: 0;
    padding: 10px;
    text-align: center;
    background: #f5e7d3;
    border-top: 1px solid #3d3b3a;
    z-index: 12;
}

.darktheme .heyCookie {
    position: fixed;
    width: 100%;
    background: #2b2b2b;
    bottom: 0;
    padding: 10px;
    text-align: center;
    color: #fff9f0;
    border-color: #f5e7d3;
}

/* 
    Graphic profile colours for reference - classes are not in use as is 
    https://github.com/Artsdatabanken/grafiskprofil/wiki
*/

.main-content,
.main {
    position: relative;
    background: #fffcf7;
}

h1 {
    margin-bottom: 0;
}

ul a:hover {
    cursor: pointer;
    background: lightgrey;
}

ul a:focus,
ul a:active,
.header-logo:active,
.header-logo:focus {
    border:2px solid blue;
}


/* PAGE CRUMB*/
.breadcrumbs li.currentcrumb {
    text-decoration: none;
    color: #555555;
}

/* TEMPORARY CODE NEEDS TO BE THOUGHT ABOUT*/

.front_page_links li{
    display:block;
}

.front_page_links li a{
    padding:20px 10px;
    margin-bottom:10px;
    font-size:5vw;
    display:block;
    text-transform:uppercase;
    text-decoration: none;
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.redlistlink {
    background: #8b0000;
    color: #fff9f0;
}

.fremmedartlink {
    background: #5e3063;
    color: #fff9f0;
}

.fremmedartlink img {
    background: #fff9f0;
    border-radius: 50%;
}

.front_page_links img{
    width:80px;
    margin-right:1vw;
}

.material-icons.bigarrow {
    font-size: 80px;
}

option {
    background-color: #fff;
    color: #262F31;
}

@media only screen and (max-width: 750px) {
    .sort_by_container {
        max-width: 30%;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 940px) {
    .front_page_links li a {
        font-size: 30px;
    }
}
/* SHOULD MOVE TO THE GRAPHIC PROFILE PROJECT */
.ingress p {
    font-size: 22.5px;
}

/* OVERRIDE STYLES */

.page_section h2{
    margin-top:40px;
}

.breadcrumbs {
    max-width: 100%;
}

.bigmid .mid {
    width: 100%;
}

.center-horizontal {
    text-align: center;
}

.flex_row {
    display: flex;
    flex-direction: row;
}

/* FULLSCREEN above 940px*/
@media only screen and (min-width: 941px) {
    .mid-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Page setup */
    .side {
        float: right;
        padding: 4px;
        padding-left: 10px;
        padding-right: 5px;
        height: 100%;
        width: 25%;
        min-width: 200px;
        flex: 0.25;
    }

    .side button{
        width:100%;
    }

    .with_sidebar {
        width: 75%;
        padding:20px;
        padding-top:0;
        flex:1;
    }

    .pagecontainer{
        display:flex;
    }

    .content-placer {
        padding-top: 33px;
        width: calc(75%);
        display: flex;
        flex-wrap: wrap;
    }

    .sidebarmenu {
        vertical-align: top;
        display: inline-block;
        position: sticky;
    }
}
/* PAD-SIZE 940px */
@media only screen and (max-width: 940px) {

    .mid-content {
        width: 100%;
    }

    .side {
        padding: 30px;
        margin-top: 50px;
        width: 100vw;
        border-top: 1px solid #faf1e4;
        margin-left: -30px;
    }

    .content-placer {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    .main-content{
        display:flex;
        flex-direction:column;
        padding-bottom:0;
    }

    footer{
        margin-top:0;
    }

    .sidebarmenu {
        display: inline-block;
        position: absolute;
        right: 10px;
        left: auto;
        top: -30px;
        z-index: 13;
        height: 10px;
    }

    .sidebarmenu ul {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 1px solid lightgrey;
        padding-bottom: 0;
        background:#fff9f0;
    }

    .citation {
        word-break: break-word;
    }
}



/* BIG MOBILE SIZE: 766px  */
@media only screen and (max-width: 766px) {
    .taxonomy {
        font-size: 10pt;
    }

    .history {
        display: none;
    }
}


/* MOBILE SIZE: 650px  */
@media only screen and (max-width: 650px) {

}

/* Tiny mobile : 550px */
@media only screen and (max-width: 527px) {

}

/* SUPER-tiny: 300px*/
@media only screen and (max-width: 300px) {
    .content-placer {        
        padding-left: 5px;
        padding-right: 5px;
    }
}


/* other stuff*/

.species_main_colour {
    fill: #4c4a48 !important;
}

.page-header {
    max-width: 100%;
    border-bottom: 0;
    margin-bottom: 0;
}

#dropdown-header-menu,
#themeselectordropdown {
    z-index: 1000;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

#themeselectordropdown {
    max-width: 300px;
    width: 100vw;
    display: none;
}

@media only screen and (min-width: 750px) {
    #themeselectorbutton .material-icons.only_mobile {
        display: none;
    }

    #themeselectordropdown {
        right: 90px;
    }
}

#themeselectorbutton,
#toggle-dropdown-button,
#adb_header_search_mobile {
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
}

.adb-header .header-right-side {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

@media only screen and (max-width: 750px) {
    .adb-header div.header-right-side {
        flex-direction: column;
    }
}

.adb-header .header-right-side button {
    margin: 0;
}

#themeselectordropdown li {
    margin: 15px 0;
}

#themeselectordropdown .themebutton {
    width: 100%;
    margin: 0;
    background: transparent;
    border: none;
    vertical-align: baseline;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#themeselectordropdown .themebutton > span {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#themeselectordropdown .themebutton .material-icons.toggle {
    vertical-align: middle;
    font-size: 34pt;
}

#adb_header_search {
    z-index: 1000;
}

/* 
    other stuff
    Buttons on page have .main in front, to avoid clashing with footer and header code.
*/
/* TAB STUFF */
.main .changetab {
    border-color: #7f726b;
    margin-bottom: -1px;
    margin-left: 0px;
    margin-right: 4px;
}

.main .changetab.active {
    border: 1px solid #7f726b;
    border-bottom-color: #fff9f0;
    border-left-color: lightgray;
    color: #262F31;
    background: #fff9f0;
}

.tabbed_element_container {
    padding: 10px;
    border: 1px solid lightgrey;
    /* 
        This would help visibility
        border: 1px solid #f5e7d3; 
        background: #fff;
    */
    padding-top: 30px;
    border-top-color: #7f726b;
    margin-top: 0;
}

.sidebarmenu span:first-child {
    width: calc(100% - 26px);
    display: inline-block;
    font-weight: normal;
}

.sidebarmenu .material-icons {
    float: right;
}


.sidebarmenu li .menuheaderlink {
    border: none;
    padding: inherit;
}

.sidebarmenu li h3 {
    color: #4c4a48;
    display: block;
    font-size: 22.5px;
}


@media only screen and (max-width: 940px) {
    .sidebarmenu ul{
        display: none;
    }

    .sidebarmenu.expand ul {
        display: block;
        padding-left: 10px;
    }

    .sidebarmenu.expand .material-icons{
        display:none;
    }

    .sidebarmenu button {
        margin: 0;
    }
}

.title_header .tertiary {
    height: 53px;
    background: transparent;
    border: none;
    margin-right: 0px;
    margin-left: auto;
    width: auto;
}


/* A little bit hacky, should be fixed in dom, but should do for now */

.sidebarmenu button,
.title_header .sidebarmenu {
    display: none;
}

.sidebarmenu li {
    padding: 0;
    border-top: 0;
}

.sidebarmenu li a {
    text-decoration: none;
    color: #262F31;
    height: 100%;
    display: block;
    width: 100%;
    padding: .5em 0 .5em 1em;
    border-top: 1px solid #e4e3e2;
    box-sizing: border-box;
}

@media only screen and (max-width: 940px) {

    .sidebarmenu h3,
    .sidebarmenu {
        display: none;
    }

    .sidebarmenu button,
    .title_header .sidebarmenu {
        display: block;
        height: 0px;
        left: 0;
        right: initial;
    }

    .sidebarmenu button {
        margin-left: initial !important;
        position: relative;
    }

    .sidebarmenu {
        max-width: 100%;
        width: 100%;
        height: auto;
        padding: 0;
        top: 0;
        margin-top: 0;
        box-sizing: border-box;
    }

    .sidebarmenu ul {
        text-align: left;
        padding-top: 10px;
        padding-bottom: 10px;
    }   

    .sidebarmenu li h3,
    .sidebarmenu li a {
        border-top: none;
        font-size: 15px;
        margin: 0;
        padding: 4px;
    }

    .sidebarmenu li a {
        padding-left: 1em;
    }
}


.capitalized{
    display:inline-block;
}

.capitalized:first-letter {
    text-transform: uppercase;
}

/* To correct an issue with needing overflow hidden for some - but not all children */
.clearfix:before,
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

.lowercase{
    text-transform:lowercase;
}

/* FRONT PAGE TITLE AREA */

.title_with_image{
    padding-bottom:10px;
    position:relative;
    min-height:190px;
}

.title_with_image img{
    padding-left:10px;
    width:150px;
    display:inline-block;
    position:absolute;
    top:0;
    right:0;
}

.title_with_ingress,
.title_with_header {
    display:block;
    width:calc(100% - 180px);
}

@media only screen and (max-width: 750px) {
    .title_with_image img {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 610px) {
    .title_with_header {
        width: 100%;
    }

    .title_with_image {
        min-height: 210px;
    }

    .title_with_header {
        width: 100%;
    }

    .title_with_ingress {
        width: calc(100% - 140px);
    }

    .title_with_image img {
        top: 50px;
        width: 130px;
    }
       
}

@media only screen and (max-width: 409px) {
    .title_with_image img {
        width: 100px;
        position:relative;
        top:auto;
        float:right;
        padding-bottom:0px;
    }

    .title_with_ingress {
        width: calc(100% - 100px);
        width:100%;
    }
}



@media only screen and (max-width: 750px) {

    .side,
    .content-placer,
    .main-content {
        padding-left: 0;
        padding-right: 0;
        width:100%;
        margin:auto;
    }


    .mobile_padding,
    .redlist li,
    .controls,
    .main .list-search,
    .title_with_ingress,
    .page-header {
        padding-left: 15px;
        padding-right: 15px;
        margin: 0px;
    }
}

.pad-top {
    padding-top: 3px;
}

.categorytext {
    width: 100px;
}

.content-placer a{
    font-size:initial;
}

.breadcrumbs li {
    text-decoration:none;
}

.englishspacer{
    visibility:hidden;
}


.searchstring {
    margin-top: 10px;
    display: block;
}


.noscroll {
    overflow: hidden;
    position:fixed;
}

/* are these in use? */

.main button.hide_element,
.hide_element {
    display: none;
}

.show_block{
    display:block;
}

.show_inline_block {
    display: inline-block;
}

.archive {
    padding: 15px;
    background: #ffaf31;
    text-align: center;
    color: #262F31;
    width: 100%;
    font-size: initial;
    margin-bottom: 20px;
}

.darktheme .archive a,
.archive a {
    color: #850808;
}

.archive .material-icons{
    vertical-align:bottom;
}

.success {
    color: #16a979;
}

.error {
    color: #cf3e1c;
}

.underline {
    text-decoration: underline;
}


/* FOOTER */

footer a {
    color: #017590;
}

footer {
    background: #fff9f0;
    color: #2b2b2b;
    border-color: #017590;
    border-top: 1px solid;
}

a,
.breadcrumbs li a,
footer a {
    color: #017590;
}

.sidebarmenu li a.active-menuitem {
    background-color: #f5e7d3;
}

ul a:hover,
.sidebarmenu li a.active-menuitem:hover {
    background-color: #f5e7d3;cursor: pointer;
}




/* OVERRIDES SOM SKAL FJERNES NÅR VI FÅR FIKSA HEADER ORDENTLIG: */
@media only screen and (min-width: 750px) {
    .only_mobile {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .main .hideonmobile {
        display: none;
    }
}

.breadcrumbs li{
    color:inherit;
    font:inherit;
}

.bottom > div {
    min-height: 63px;
}

.language-selector {
    padding-left: 15px;
    margin-bottom: 15px;
}