.toggle_switch {
    width: 38px;
    min-width: 38px;
    height: 21px;
    position: relative;
    display: inline-block;
    margin: 3px 3px 3px 0;
}

.switch_list_element input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eee;
    border: 1px solid #908E89;
    transition: .3s;
    border-radius: 30px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 15px;
    width: 15px;
    left: 1px;
    bottom: 1px;
    background-color: white;
    transition: .3s;
    border-radius: 50%;
    border: 1px solid #908E89;
}

input:checked ~ .slider_container .slider {
    background-color: #0283A1;
    border-color: #3d3b3a;
}

input:checked:focus ~ .slider_container .slider,
input:checked:hover ~ .slider_container .slider {
    background-color: #035762;
    outline: 2px solid #3d3b3a;
}

input:focus ~ .slider_container .slider,
input:hover ~ .slider_container .slider {
    outline: 2px solid #3d3b3a;
}

input:checked ~ .slider_container .slider:before {
    transform: translateX(17px);
    background-color: #fff;
    border-color: #3d3b3a;
}

.switch_list_element {
    justify-content: space-between;
    flex-direction: row-reverse;
}

.switch_list_element:hover {
    cursor: pointer;
    background-color: #7f726b;
    color: white;
}

.slider_container {
    min-width: 38px;
}
