@{
    ViewBag.Title = "Rødlista 2021";

    // https://www.artsdatabanken.no/Article/Article/453 <-- link to svartelista 2012
    // https://www.artsdatabanken.no/fremmedearter/svartelista2007 <-- link to svartelista 2007 

}


<div class="sidebarmenu"></div>

<div class="content-placer">
    <div class="page-header">
        <h1>
            Risikovurderinger
        </h1>
        <h2>
            Dette blir landingsside for alle de forskjellige vurderingene!
        </h2>

        <h3>
            <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="N" class="button tertiary">RØDLISTA FOR ARTER 2021</a>
        </h3>

        <div class="page_section">

            <ul class="front_page_links">
                <li>

                    <a asp-controller="Redlist" asp-action="RodlisteForArter" class="redlistlink">
                        <img src="https://design.artsdatabanken.no/list-icons/RL-ART.png" />
                        <span>Rødlista for arter</span>
                        <span class="material-icons bigarrow">keyboard_arrow_right</span>
                    </a>
                </li>

                <li>

                    <a href="https://artsdatabanken.no/rodlistefornaturtyper" class="redlistlink">
                        <img src="https://design.artsdatabanken.no/list-icons/RL-NA.png" />
                        <span>Rødlista for naturtyper</span>
                        <span class="material-icons bigarrow">keyboard_arrow_right</span>
                    </a>
                </li>

                <li>

                    <a href="https://artsdatabanken.no/fremmedartslista2018" class="fremmedartlink">
                        <img src="https://design.artsdatabanken.no/list-icons/FA.png" />
                        <span>Fremmedartslista</span>
                        <span class="material-icons bigarrow">keyboard_arrow_right</span>
                    </a>
                </li>

            </ul>
        </div>
        <div class="page_section">
            <h2>Hva er en risikovurdering?</h2>
            <p>
                Det finnes flere typer risikovurderinger. Til felles har de at de sier noe om nåværende status for arter og naturtyper i Norge.
                Rødlistene viser risikoen for at en art eller naturtype utryddes fra norsk natur, mens fremmedartslista viser
                risikoen en fremmed art har på norsk natur.
        </div>

        


        

        

    </div>
</div>