@{
    ViewBag.Title = "Rødlista 2021";

    // https://www.artsdatabanken.no/Article/Article/453 <-- link to svartelista 2012
    // https://www.artsdatabanken.no/fremmedearter/svartelista2007 <-- link to svartelista 2007

}
<div class="pagecontainer">
    <partial name="/Views/Redlist/Species/Shared/_PageMenu.cshtml" />

    <div class="content-placer bigmid">
        <div class="mid-content with_sidebar">
            <div class="page-header">
                <h1>
                    Risikovurderinger
                </h1>
                <h2>
                    Startside for testserver
                </h2>

                <p>
                    Når ting endelig skal legges ut på sine permanente url'er vil denne siden ikke bli med ut.
                    Den eksisterer kun for å gi et raskt startpunkt for testsiden.
                </p>

                <h3>
                    <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="N" class="link-styled">RØDLISTA FOR ARTER 2021</a>
                </h3>



            </div>


            <div class="page_section">

                <ul class="front_page_links">
                    <li>

                        <a asp-controller="Redlist" asp-action="RodlisteForArter" class="redlistlink">
                            <img src="https://design.artsdatabanken.no/list-icons/RL-ART.png" />
                            <span>Rødlista for arter</span>
                            <span class="material-icons bigarrow">keyboard_arrow_right</span>
                        </a>
                    </li>

                    <li>

                        <a href="https://artsdatabanken.no/rodlistefornaturtyper" class="redlistlink">
                            <img src="https://design.artsdatabanken.no/list-icons/RL-NA.png" />
                            <span>Rødlista for naturtyper</span>
                            <span class="material-icons bigarrow">keyboard_arrow_right</span>
                        </a>
                    </li>

                    <li>

                        <a href="https://artsdatabanken.no/fremmedartslista2018" class="fremmedartlink">
                            <img src="https://design.artsdatabanken.no/list-icons/FA.png" />
                            <span>Fremmedartslista</span>
                            <span class="material-icons bigarrow">keyboard_arrow_right</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
        <div class="side">
        </div>
    </div>
</div>
