@{
    ViewBag.Title = "Rødlista 2021";
}



<partial name="/Views/Shared/_PageMenu.cshtml" />

<div class="content-placer">

    <div class="side">
        
        SIDEBARTEXT
    </div>
    <div class="mid-content with_sidebar">


        <div class="page-header">


            <h1>ALLE RØDLISTER</h1>
        </div>

        <div class="page_section">
            <p>
                <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="N">2021</a>
               Når endelig 2021 dataen er på plass bør denne siden enten føre direkte dit, 
               eller lenke opp alle de fremtidige listene sine her. MAO store lenker til tidligere år. 
                Spørs om vi rekker det til lansering...
            </p>
        </div>
    </div>

</div>

