# Build and publish staging/test

trigger:
  branches:
    include:
      - develop
pr:
- develop

pool:
  vmImage: 'ubuntu-latest'

variables:
  buildConfiguration: 'Release'
  solutionPath: '**/Assessments.Web.csproj'

steps:
  - task: DotNetCoreCLI@2
    displayName: 'Build'
    inputs:
      command: 'build'
      projects: $(solutionPath)
      configuration: $(buildConfiguration)

  - task: DotNetCoreCLI@2
    displayName: 'Publish and zip'
    inputs:
      command: publish
      publishWebProjects: False
      projects: $(solutionPath)
      arguments: '--configuration $(buildConfiguration) --output $(Build.ArtifactStagingDirectory)'
      zipAfterPublish: True

  - task: PublishBuildArtifacts@1
    inputs:
      PathtoPublish: '$(Build.ArtifactStagingDirectory)'
      ArtifactName: 'Assessments'
      publishLocation: 'Container'