@model SpeciesAssessment2021
@{
    ViewBag.Title = Model.ScientificName;
    var naturtypehovedenhet = Model.MainHabitat;
    

        string geografi = Model.AssessmentArea;

        if (geografi == "N")
        {
            geografi = "Norge";
        }
        else if (geografi == "S")
        {
            geografi = "Svalbard";
            if (@Model.ExpertCommittee == "Pattedyr (Svalbard)")
            {
                geografi = "Svalbard med kyst";
            }
        }

    
}

<partial name="/Views/Redlist/Assessment/partials/_Breadcrumb.cshtml" />

<div class="content-placer bigmid">
    <div class="side">
        <partial name="/Views/Redlist/Assessment/partials/_SpeciesInfo.cshtml" />
        <div class="history">
            <h2>
                Kategori
            </h2>
            <h3>Rødlista 2021</h3>
            <partial name="/Views/Shared/_CategoryTags.cshtml" />
            <partial name="/Views/Redlist/Assessment/partials/_Historikk.cshtml" />
        </div>
    </div>
    <div class="mid-content">
        <partial name="/Views/Redlist/Assessment/partials/_Header.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_Ingress.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_Informasjon.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_CategoryDescription.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_Oppsumer.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_Bestand.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_Fylkesforekomster.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_Habitat.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_ImpactFactors.cshtml" />
        <partial name="/Views/Redlist/Assessment/partials/_Reference.cshtml" />
    </div>


</div>
