@model AlienSpeciesDetailViewModel

<div class="breadcrumbs">
    <ol>
        <li class="in-breadcrumb">
            <a asp-controller="AlienSpecies" asp-action="Index">@Constants.AlienSpecies2023PageMenuHeaderText</a>
            <span class="breadcrumbdivider">&gt; </span>
        </li>
        <li class="in-breadcrumb currentcrumb">
            @Model.Assessment.ScientificName.ScientificName
        </li>
    </ol>
</div>
