@model SpeciesAssessment2021

<div class="page_section">
    <h2> Detaljer</h2>
    
    <partial name="/Views/Redlist/2021/Assessment/partials/_PopulationProportions.cshtml" />
    <partial name="/Views/Redlist/2021/Assessment/partials/_GenerationLength.cshtml" />
    
</div>
