@model RL2021ViewModel

@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

<partial name="/Views/Redlist/List/partials/_Breadcrumb.cshtml" />
<partial name="/Views/Shared/_PageMenu.cshtml" />

<div class="content-placer bigmid">

    <div class="mid-content">
        <partial name="/Views/Redlist/List/partials/_Header.cshtml" />
        <partial name="/Views/Redlist/List/partials/_Introduction.cshtml" />

        <form asp-action="Index2021" method="get">
            <partial name="/Views/Redlist/List/partials/_Search.cshtml" />
            <partial name="/Views/Redlist/List/partials/_Filters.cshtml" />
        </form>
        <h3>
            @Model.Redlist2021ResultsCount
        </h3>
        <!-- Paginator buttons -->
        @Html.PagedListPager(Model.Redlist2021Results, page => Url.Action("Index2021", new
        {
                Page = page,
                Name = Context.Request.Query["Name"],
                Area = Context.Request.Query["Area"],
                Category = Context.Request.Query["Category"],
                Criterias = Context.Request.Query["Criterias"],
                TaxonRank = Context.Request.Query["TaxonRank"],
                EuroPop = Context.Request.Query["EuroPop"],
                Regions = Context.Request.Query["Regions"],
                Habitats = Context.Request.Query["Habitats"],
                SpeciesGroups = Context.Request.Query["SpeciesGroups"],
                PresumedExtinct = Context.Request.Query["PresumedExtinct"],
                IsCheck = Context.Request.Query["IsCheck"],
                Meta = Context.Request.Query["Meta"]
           }), new PagedListRenderOptions
           {
               PageClasses = new[] { "page-link" },
               UlElementClasses = new[] { "pagination" },
               LiElementClasses = new[] { "page-item" }
           })
    </div>
</div>


<script>
    document.addEventListener('keydown', function (e) {
        if (e.keyCode == "9") {

            // LOGS OUT ACTIVE ELEMENT WHEN TABBING TO MORE EASILY FIND BUG
            console.log("previous active element", document.activeElement)
        }

    });
</script>