@model RL2021ViewModel

@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common

<partial name="/Views/Redlist/List/partials/_Breadcrumb.cshtml" />

<div class="content-placer bigmid">

    <div class="mid-content">
        <partial name="/Views/Redlist/List/partials/_Header.cshtml" />
        <partial name="/Views/Redlist/List/partials/_Introduction.cshtml" />


        <h3>
            @Model.Redlist2021ResultsCount
        </h3>

        <div class="listwrapper">
            <!-- FILTER FORM -->
            <partial name="/Views/Redlist/List/partials/_Filters.cshtml" />
            <div id="viewselector" class="viewselector @Model.View">
                <partial name="/Views/Redlist/List/partials/_Graphs.cshtml" />
                <partial name="/Views/Redlist/List/partials/_ListView.cshtml" />
            </div>
        </div>

        <!-- Pageinator buttons -->
        @Html.PagedListPager(Model.Redlist2021Results, page => Url.Action("Index2021", Context.GetQueryParameters(new Dictionary<string, string> { { "Page", page.ToString() } })), new PagedListRenderOptions
        {
            PageClasses = new[] { "page-link" },
            UlElementClasses = new[] { "pagination" },
            LiElementClasses = new[] { "page-item" }
        })





    </div>
</div>
