@model RL2021ViewModel

    <div class="ingress">
        <p>
            Norsk rødliste for arter 2021 er en oversikt over arter som har risiko for å dø ut fra Norge.
            Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
        </p>
    </div>

    

    