@model RL2021ViewModel

<input class="collapse_checkbox" id="show_search" type="checkbox" />
<div class="list-search">
    <div class="searchfield">
        <input asp-for="Name" placeholder="Søk i vitenskapelig navn" />
        <button class="primary" type="submit">
            <span class="material-icons">
                search
            </span>
            Søk
        </button>

    </div>
</div>