@model RL2021ViewModel

<div id="viewselector" class="viewselector @Model.View">
    <partial name="/Views/Redlist/List/partials/_Graphs.cshtml" />
    <partial name="/Views/Redlist/List/partials/_ListView.cshtml" />
</div>
