@model Artsdatabanken.RL2021
@{
    ViewBag.Title = @Model.VurdertVitenskapeligNavn;
}

<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a href="/">
                Rødlista
            </a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb">
            <a href="/test/2021">2021</a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            @Model.VurdertVitenskapeligNavn
        </li>
    </ul>
</div>

<div class="content-placer">
    <div class="page-header">
        <h1>
            Norsk Rødliste for arter 2021
        </h1>
        <h2>@ViewBag.Title</h2>
        <span class="byline">
            Ikke publisert ennå
        </span>
    </div>

    <div class="mid">
        <div class="ingress">
            <p>
                Norsk rødliste for arter 2021 er en oversikt over arter som har risiko for å dø ut fra Norge. 
                Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
            </p>
        </div>

        <div class="section">
            <h2>Vurderingsinnhold</h2>
            <p>Kommer her</p>

            <partial name="/Views/Shared/_Categorybar.cshtml", data="kategory" />
        </div>
    </div>
</div>