@model SpeciesAssessment2021
@{
    ViewBag.Title = Model.ScientificName;
    var naturtypehovedenhet = Model.MainHabitat;
    

        string geografi = Model.AssessmentArea;

        if (geografi == "N")
        {
            geografi = "Norge";
        }
        else if (geografi == "S")
        {
            geografi = "Svalbard";
            if (@Model.ExpertCommittee == "Pattedyr (Svalbard)")
            {
                geografi = "Svalbard med kyst";
            }
        }

    
}



<partial name="/Views/Test/partials_2021/_Breadcrumb.cshtml" />

<div class="content-placer bigmid">
    <div class="side">
        <div class="mobileversion">
            <partial name="/Views/Test/partials_2021/_Header.cshtml" />
        </div>
        <partial name="/Views/Test/partials_2021/_SpeciesInfo.cshtml" />
        <div class="history">
            <h2>
                Kategori
            </h2>
            <h3>Rødlista 2021</h3>
            <partial name="/Views/Shared/_CategoryTags.cshtml" />
            <partial name="/Views/Test/partials_2021/_Historikk.cshtml" />
        </div>
    </div>
    <div class="mid-content">
        <div class="fullscreenversion">
            <partial name="/Views/Test/partials_2021/_Header.cshtml" />
        </div>
        <partial name="/Views/Test/partials_2021/_Ingress.cshtml" />
        <partial name="/Views/Test/partials_2021/_Informasjon.cshtml" />
        <partial name="/Views/Test/partials_2021/_CategoryDescription.cshtml" />
        <partial name="/Views/Test/partials_2021/_Oppsumer.cshtml" />
        <partial name="/Views/Test/partials_2021/_Bestand.cshtml" />
        <partial name="/Views/Test/partials_2021/_Fylkesforekomster.cshtml" />
        <partial name="/Views/Test/partials_2021/_Habitat.cshtml" />

        @*
            @if (Model.Påvirkningsfaktorer != null && Model.Påvirkningsfaktorer.Count > 0)
            {
                @Html.Partial("/Views/Test/partials_2021/_Pavirkningsfaktorer.cshtml", Model.Påvirkningsfaktorer)
            }

        *@
        <partial name="/Views/Test/partials_2021/_Reference.cshtml" />
    </div>


</div>
