@{
   
        ViewBag.Title = "Artsgruppe";
    
    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();
}

<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a href="/">
                Rødlista
            </a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb">
            <a href="/test/2021">2021</a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            Artsgruppe
        </li>
    </ul>
</div>


<div class="content-placer bigmid">
    <div class="page-header">

        <h2 class="nameBlock">
            Data her er hentet fra 2015 og BØR sjekkes opp. Muligens mye feil.
        </h2>
        <h1>
            Norsk rødliste for arter 2021
        </h1>

        <h2 class="nameBlock">
            Artsgruppe 
        </h2>

        <span class="byline">
            Publisert: 24.November 2021.
        </span>

    </div>

    <div class="mid">
        <div class="ingress">
            <p>           
                [TODO: Info om artsgruppe]
            </p>
        </div>
       
       
        <div class="other_habitats">
            <div class="habitat_container speciesgroup expanded">

                @foreach (var key in speciesgroup.Keys)
                {
                    <div class="habitat_element active">
                       
                        <h4 class="speciesgroup_header">@key</h4>
                        
                        <div class="habitat_icon">
                            @if (speciesgroup[key]["image"] != null)
                            {
                                @Html.Partial(@speciesgroup[key]["image"])
                            }
                        </div>
                        @if (speciesgroup[key]["tagline"] != null)
                        {
                            <p>
                                @speciesgroup[key]["tagline"]
                            </p>
                          
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>


<script>
    // See more text by altering css of the clicked element's top parent node
    var seemorebuttons = document.getElementsByClassName('seemore');

    function expand(element) {
        if (element.parentElement.classList.contains("expanded")) {
            element.parentElement.classList.remove("expanded");
        } else {
            element.parentElement.classList.add("expanded");
        }
    }



</script>
