@model SpeciesAssessment2021

@*
    Codeblock from Innsynsløsninga 2021 by SN. 
    Slightly modified by HEM for launch.
*@

@functions {
    public string categoryDescription(string category)
    {
        // Takes in category as presented in the model
        // uses categoryMatcher to remove degrees etc.
        // Returns name of category (whatever for?)

        if(!string.IsNullOrEmpty(category))
        {
            return @ViewBag.categories[category.Substring(0, 2)]["presentationstring"];
        }
        else
        {
            return "vurdering mangler";
        }
    }
}

<span>
    <i>@categoryDescription(@Model.Category)</i> @Model.Category
</span>