@model CitationForListViewModel
@using Microsoft.AspNetCore.Http.Extensions

@{
    var downloadDate = $"Nedlastet {DateTime.Now.ToShortDateString()}";
}

<div class="mobile_padding">
    <h2>Sitering</h2>
    <p class="citation">
        @Model.CitationString @Context.Request.GetEncodedUrl().Split('?', '#')[0]. @downloadDate
    </p>
</div>