@{
    var enableExport = true;

    if (ViewData["EnableExport"] != null)
    {
        enableExport = (bool)ViewData["EnableExport"];
    }
}

<div class="filters_bottom">
    <button class="close_filters" name="Lukk filtre" type="button" onclick="closeFilters()">
        Avslutt
        <span class="material-icons">close</span>
    </button>
    <button is-visible="enableExport" class="hideonmobile adb-button ghost" type="submit" name="Export" value="true" formtarget="_blank">
        <span class="material-icons">file_download</span> Eksporter
    </button>
    <button id="submit_filters" name="Påfør filter" type="submit" class="submit_filters primary">
        <span class="material-icons">done</span> Påfør
    </button>
</div>