<h3 class="toggle_filter filter_header">
    <span class="material-icons">filter_list</span>
    <span>Filter</span>
</h3>
<div class="close_reset_filter">
    <button class="close_filters closebutton" name="Lukk filtre" type="button" onclick="closeFilters()">
        <span class="material-icons">close</span>
    </button>
</div>