<header class="adb-header">
    <a href="https://artsdatabanken.no" class="adb-header-logo">
        <img class="default-logo" alt="Artsdatabanken-logo" src="https://design.artsdatabanken.no/icons/adb-logo/Artsdatabanken_Logo-CMYK-H-Colour@2x.png">
        <img class="darktheme-logo" alt="Artsdatabanken-logo" src="https://mobil.artsobservasjoner.no/assets/logo/Artsdatabanken_Logo_White.svg">
    </a>

    <div class="header-right-side">
        <div id="adb_header_search" class="adb-header-search closed">
            <form action="https://artsdatabanken.no/search/front">
                <input name="q" type="text" placeholder="Søk her" />
                <input style="display: none" name="all" value="1" />
                <button type="submit">
                    Søk
                </button>
            </form>
        </div>
        <div class="adb-header-search-mobile">
            <button id="adb_header_search_mobile" class="open-search-button" onclick="toggleSearch()">
                <span class="material-symbols-outlined">
                    search
                </span>
                <span>Søk</span>
            </button>
        </div>
        <div id="theme_elements">
            <button id="themeselectorbutton" class="themeselector menuitems" onclick="expandThemeButtons()">
                <span class="hideonmobile">Tema </span>
                <span class="material-icons hideonmobile">expand_more</span>
            </button>
            <div id="themeselectordropdown" class="themeselectordropdown dropdown">
                <ul>
                    <li>
                        <button id="highcontrastbutton" class="themebutton" onclick="highContrastMode(this, 'highcontrast')">
                            <span class="label">
                                <span class="material-icons">
                                    contrast
                                </span>
                                Høykontrast
                            </span>
                            <span class="material-icons toggle">
                                toggle_off
                            </span>
                        </button>
                    </li>
                    <li>
                        <button id="darkmodebutton" class="themebutton" onclick="highContrastMode(this, 'darktheme')">
                            <span class="label">
                                <span class="material-icons">
                                    dark_mode
                                </span>
                                Nattmodus
                            </span>
                            <span class="material-icons toggle">
                                toggle_off
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
        <nav class="header-menu-line" id="adb-headermenu"></nav>
    </div>
</header>