<footer class="adb-footer">
    <div class="top">
        <div>
            <div class="adb-beak-wrapper">
                <div class="adb-beak"></div>
                <div></div>
            </div>
            <div></div>
        </div>
        <div class="center"></div>
        <div></div>
    </div>
    <div class="middle">
        <div></div>
        <div id="adb-footer-center" class="center">
        </div>
        <div id="adb-footer-some" class="some-container">
        </div>
    </div>
    <div class="bottom">
        <div class="center">
            <nav class="footer-wrapper">
                <ul id="adb-footer-links" class="footer-list">
                </ul>
            </nav>
        </div>
        <div></div>
    </div>
</footer>
