@model SpeciesGroupViewModel
@{
    // Find correct startdate (Exceptions include 2010 spretthaler)
    string firspublished = Helpers.GetPublishedDate(Model.AssessmentYear, Model.PreviousAssessmentYear, Model.FirstPublishedDateString);
    string printstring = "Publisert: " + firspublished;

    // Add the revisiondate when it exists
    string revisiondate = Helpers.GetRevisionDate(Model.RevisionDate, firspublished);

    @if (!string.IsNullOrEmpty(revisiondate))
    {        
        printstring += "  Sist endret: " + revisiondate;
    }
}

<span class="datestring">@printstring</span>

