@model SpeciesGroupViewModel

<div class="speciesgroup_container">
    <div class="species_group_image">
        <div class="image_background">
            @if (!String.IsNullOrEmpty(Model.SpeciesGroupImageUrl))
            {
                <img src="@Model.SpeciesGroupImageUrl" onerror="this.style.display = 'none';" alt="@Model.SpeciesGroup">
            }
        </div>
    </div>
    <p class="published">
        <span>Utført av <a href="@Model.SpeciesGroupInfoUrl" class="lowercase">ekspertkomité for @Model.ExpertCommittee </a></span> <br>
        <partial name="/Views/Shared/_PublishedDate.cshtml" />
    </p>
</div>
