@model TableOfContentsViewModel

<div id="@nameof(Constants.HeadingsNo.TableOfContents)"  class="table-of-contents">
    <h3><span>@Constants.HeadingsNo.TableOfContents</span></h3>
    <ul>
        @foreach (var heading in Model.Contents)
        {
            <li is-visible="heading.ShouldShow">
                <a href="#@heading.ElementId">@heading.Title</a>
                @if (heading.SubContents != null && heading.SubContents.Count() != 0)
                {
                    <ul class="subheadings">
                        @foreach (var subHeading in heading.SubContents)
                        {
                            <li>
                                <a href="#@subHeading.ElementId">@subHeading.Title</a>                               
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
</div>
