@model SpeciesAssessment2021
@* // Section containing info about generation length. *@


@if (Model.GenerationLength != "" && Model.GenerationLength != null)
{
    <h3>Generasjonstid</h3>
    <p>
        <span> @Helpers.FixSpeciesLevel("{Art}ens", Model.TaxonRank) generasjonstid er satt til @Model.GenerationLength år.</span><br>
        @ViewBag.glossary["generasjonstid"]["description"]
    </p>


}
