@model SpeciesAssessment2021


<h2>Forklaring på kategori</h2>
<partial name="/Views/Redlist/Species/2021/Assessment/partials/_InclusionCriteria.cshtml" />
<partial name="/Views/Redlist/Species/2021/Assessment/partials/_Criteria.cshtml" />
<partial name="/Views/Redlist/Species/2021/Assessment/partials/_CategoryDegrade.cshtml" />
<partial name="/Views/Redlist/Species/2021/Assessment/partials/_CategoryChange.cshtml" />

