@model Artsdatabanken.RL2021
@* SEE example by searching species Carex elata *@

@{
    Artsdatabanken.RL2021 assessment = Model;
    string popularName = "";
    if (assessment.PopularName != string.Empty && !string.IsNullOrEmpty(assessment.PopularName))
        popularName = char.ToUpper(assessment.PopularName[0]) + assessment.PopularName.Substring(1);    }

    <div class="section">
        <h2>Kriterier</h2>

        <div class="nameBlock">
            @if (!string.IsNullOrEmpty(Model.PopularName))
            {
                <h1 style="margin-right:15px"><b> @popularName </b><i><b>@assessment.VurdertVitenskapeligNavn</b></i> @assessment.VurdertVitenskapeligNavnAutor</h1>
            }
            else
            {
                <h1><i><b>@assessment.VurdertVitenskapeligNavn</b></i> @assessment.VurdertVitenskapeligNavnAutor  </h1>
            }

        </div>

    </div><!-- End section -->