@model Artsdatabanken.RL2021
@* 
   Norwegian name and scientific name with and without autor.
   Codeblock from Innsynsløsninga 2021 by SN. Modified by HEM for launch.
*@

@{
    Artsdatabanken.RL2021 assessment = Model;
    string popularName = "";
    if (assessment.PopularName != string.Empty && !string.IsNullOrEmpty(assessment.PopularName))
        popularName = char.ToUpper(assessment.PopularName[0]) + assessment.PopularName.Substring(1);    }

        <h2 class="nameBlock">
            @if (!string.IsNullOrEmpty(Model.PopularName))
            {
                <span><b> @popularName </b><i><b>@assessment.VurdertVitenskapeligNavn</b></i> @assessment.VurdertVitenskapeligNavnAutor</span>
            }
            else
            {
                <span><i><b>@assessment.VurdertVitenskapeligNavn</b></i> @assessment.VurdertVitenskapeligNavnAutor</span>
            }
        </h2>
