@model Artsdatabanken.RL2021
@* 
   Breacrumb - specific for inner layer of assesment *@


<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a href="/">
                Rødlista
            </a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb">
            <a href="/test/2021">2021</a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            @Model.VurdertVitenskapeligNavn
        </li>
    </ul>
</div>
