@model SpeciesAssessment2021

    @{

        // There seems to be no automatic sorting into different lists from the api and models per now
        // Thus added a quick check if the elements exist.
        // This used to be a big table which was difficult to read on mobile platforms.
        // This may not be an optimal solution, but it is more universal than a checkbox that sometimes is included and sometimes not.

        var has_element = "";

        foreach (var element in Model.RegionOccurrences)
        {
            has_element += element.State;
        }
    }

    @if (has_element != "")
    { // No content would imply it exists nowhere or is recorded nowhere
        <h3>
            @ViewBag.glossary["region"]["tagline"]
        </h3>
        <div class="fact_box">
            @ViewBag.glossary["region"]["description"]
        </div>
        <div class="map_container">
            <div class="map">
                <partial name="/Views/Test/partials_2021/_Map.cshtml" />
            </div>
            <div class="fylke">
                <h3>For test</h3>
                @foreach (var region in Model.RegionOccurrences)
                {
                    <span><b>@region.Fylke</b>
                
                        @if (region.State == 0)
                        {
                            <i>Kjent forekomst</i>
                        }
                        else if (region.State == 1)
                        {
                            <i>Antatt forekomst</i>
                        }
                        else if (region.State == 2)
                        {
                            <i>Ingen forekomst</i>
                        }
                        else if (region.State == 3)
                        {
                            <i>Antatt Utdødd forekomst</i>
                        }
                        else if (region.State == 4)
                        {
                            <i>Utdødd forekomst</i>
                        }
                    
                </span>
                    
                }
            </div>
        </div>
        
        
    }
    else
    {
        //TODO: Text here for items LC etc with no records.
    }

    @* MAP HERE *@
