@model SpeciesAssessment2021
@*
    HEADER BLOCK FOR PAGE
*@



<div class="page-header">
   
    <h2><partial name="/Views/Test/partials_2021/_Artsnavn.cshtml" /></h2>
    <partial name="/Views/Shared/_Byline.cshtml" />
</div>