@model SpeciesAssessment2021
@*
    HEADER BLOCK FOR PAGE
*@

<div class="ingress">
    <p>
        Arten er @*TODO: FIELD FOR CATEGORY *@[KATEGORI ] @*
        @if (Model.Kategori != "NA" && Model.Kategori != "NE")
        {
            <span>vurdert til</span>
        }*@
        <partial name="/Views/Shared/_Category.cshtml" /> for
        Norsk rødliste for arter 2021. Rødlista for arter er en oversikt over arter som har risiko for å dø ut fra Norge.
    </p>
</div>