@{
    ViewData["Title"] = "Fremmedartslista";
}

<h3>@ViewData["Title"]</h3>

<a asp-controller="AlienSpecies" asp-action="Index" class="button primary">
    Fremmedartslista 2023
    <span class="material-icons">keyboard_arrow_right</span>
</a>