@model SpeciesAssessment2021
@*
    HEADER BLOCK FOR PAGE
*@



<div class="page-header">
   
    <h1><partial name="/Views/Redlist/partials_2021/_Artsnavn.cshtml" /></h1>
    <partial name="/Views/Shared/_Byline.cshtml" />
</div>