
<div class="sidebarmenu">
    <button class="button tertiary" onclick="expandParent(this, 'expand')">Rødlista for arter </button>
    <h3>Rødlista for arter </h3>
    <ul>

        <li>
            <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="N">
                
                <span >Rølista 2021 </span>
                <span class="material-icons" >keyboard_arrow_right</span>
            </a>
        </li>

        <li>

            <a href="https://artsdatabanken.no/Rodliste2015/sok">
                <span>Rølista 2015 </span>
                <span class="material-icons">keyboard_arrow_right</span>
            </a>
        </li>

        <li>

            <a href="http://www.artsportalen.artsdatabanken.no/">
                <span >Rølista 2010 </span>
                <span class="material-icons" >keyboard_arrow_right</span>
            </a>
        </li>

        <li>

            <a href="https://www.artsdatabanken.no/Pages/201632/Norsk_roedliste_2006">
                <span >Rølista 2006 </span>
                <span class="material-icons" >keyboard_arrow_right</span>
            </a>
        </li>

    </ul>
</div>
