<div class="title_header">
    <a asp-controller="Redlist" asp-action="Index2021" class="title_header" style="display:inline;">
        <span class="full_title">Norsk rødliste for arter 2021</span>
        <span class="short_title">Rødlista 2021</span>
    </a>
    <partial name="/Views/Redlist/Species/Shared/_PageMenu.cshtml" />
</div>