<div class="title_header">
    <span class="title_header" style="display:inline;">
        <span class="full_title">Norsk rødliste for arter</span>
        <span class="short_title">Rødlista</span>
    </span>
    <partial name="/Views/Redlist/Species/Shared/_PageMenu.cshtml" />
</div>