@model BarChart
@using System.Globalization

@{
    var count = Model.BarChartDatas.Sum(x => x.Count);
}

<ul class="bar-chart">
    @foreach (var speciesGroup in Model.BarChartDatas)
    {
        <li class="bar-chart-element">
            <div class="bar-chart-name">@speciesGroup.Name</div>
            <div class="bar-chart-bar-wrapper">
                <div class="bar-chart-bar" style="width: @(Helpers.GetBarChartHeight(Model.MaxAmount, speciesGroup.Count))%"></div>
                <div class="bar-chart-count">@speciesGroup.Count</div>
            </div>
        </li>
    }
</ul>