@model AlienSpeciesListViewModel

<div id="viewselector" class="viewselector @Model.View">
    @*<partial name="/Views/AlienSpecies/2023/ListPartials/_Graphs.cshtml" />*@
    <partial name="/Views/AlienSpecies/2023/ListPartials/_ListView.cshtml" />
</div>
