@model AlienSpeciesListViewModel

<div id="viewselector" class="viewselector @Model.Parameters.View">
    <!-- <partial name="/Views/Redlist/Species/2021/List/partials/_Graphs.cshtml" /> -->
    <partial name="/Views/AlienSpecies/2023/ListPartials/_ListView.cshtml" />
</div>
