@model SpeciesAssessment2021
@{
    string artsgruppe = char.ToLower(Model.SpeciesGroup[0]) + Model.SpeciesGroup.Substring(1);

    // TODO: ADD THE LINK TO EXPERT COMMITTEE (Not in existence yet)
}

<span class="byline">
    
    
</span>