@model Artsdatabanken.RL2021
@{
    string ekspertgruppe = char.ToLower(@Model.Ekspertgruppe[0]) + @Model.Ekspertgruppe.Substring(1);

    // TODO: ADD THE LINK TO EXPERT COMMITTEE (Not in existence yet)
}


<span class="byline">
    Publisert: @(ekspertgruppe == "spretthaler" || ekspertgruppe == "spretthaler (Svalbard)" ? @Model.SistVurdertAr : "24.November 2021").
    Vurdert av <a href=""> Ekspertkomité for @ekspertgruppe </a> for Artsdatabanken
</span>