@using Microsoft.AspNetCore.Http.Extensions
@model CitationForAssessmentViewModel

@{
    // Date
    var firspublished = Helpers.getPublishedDate(Model.AssessmentYear, Model.YearPreviousAssessment, Model.FirstPublished);
    var revisiondate = Helpers.getRevisionDate(Model.RevisionDate, firspublished);
    var date = firspublished;
    if (!string.IsNullOrWhiteSpace(Model.RevisionReason))
    {
        date = revisiondate;
    }
}

@if (!string.IsNullOrEmpty(Model.ExpertGroupMembers))
{
<h2>Sitering</h2>
    <p class="citation">
        @Model.ExpertGroupMembers
        (@date).
        @Html.Raw(Model.AssessmentName)
        @Model.PublicationText
        @Context.Request.GetEncodedUrl()
    </p>
}
