<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assessments Frontend</title>
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/style-reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/header-footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bnw.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://design.artsdatabanken.no/script/header.js"></script>
    <script src="https://design.artsdatabanken.no/script/footer.js"></script>
</head>

<body>
    <partial name="/Views/Shared/_PageTopBar.cshtml" />
    @RenderSection("RedlistHeader", required: false)
    <div class="main">
        <div class="main-content width-adjuster">
            @RenderBody()
            <script src="~/js/site.js" asp-append-version="true"></script>
            <script src="~/js/filter.js" asp-append-version="true"></script>
            <script src="~/js/toggleSwitch.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </div>
    </div>
    <partial name="/Views/Shared/_PageFooter.cshtml" />
</body>
</html>
