<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assessments Frontend</title>
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/style-reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/header-footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/listview.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/assessment.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/categorybar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/searchAndFilter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/pie.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://design.artsdatabanken.no/script/header.js"></script>
    <script src="https://design.artsdatabanken.no/script/footer.js"></script>


</head>

<body>
    <header class="header">
        <div class="width-adjuster">
            <a href="https://artsdatabanken.no" class="header-logo">
                <img alt="Artsdatabanken" src="https://artsdatabanken.no/Files/20973" class="normal">
                <img alt="Artsdatabanken" src="https://artsdatabanken.no/Files/20978" class="mobile">
            </a>
            <button id="navbar-mobile" class='material-icons'>menu</button>
            <nav id="headermenu" class="hide"></nav>
        </div>
    </header>

    <h1 class="title_header">
        Norsk rødliste for arter 
    </h1>
    <div class="main">
        <div class="main-content width-adjuster">
            @RenderBody()
            <script src="~/js/site.js" asp-append-version="true"></script>
            @await RenderSectionAsync("Scripts", required: false)
        </div>
    </div>

    <footer id="footer">
    </footer>
</body>
</html>
