@model SideBarContentViewModel

@functions{
    public string categoryDescription(string category)
    {
        // Takes in category as presented in the model
        // uses categoryMatcher to remove degrees etc.
        // Returns name of category (whatever for?)
        var actual_category = category.Substring(0, 2);
        var final_string = @ViewBag.categories[actual_category]["presentationstring"];
        return final_string;
    }
}

<h3>Videre lesning</h3>

<ul class="history_list">
    @foreach (var prev in Model.PreviousAssessments.Where(x => x.Year != 2012)) // tidligere vurderinger
    {
        <li>
            <a target="_blank" href="@prev.Url" class="link-styled">
                <span>@prev.Year-vurdering</span>
            </a>
        </li>
    }
</ul>