<footer class="footer">
    <div class="top">
        <div></div>
        <div class="center"></div>
        <div></div>
    </div>    
    <div class="middle">
        <div></div>
        <div class="center" id="address">
            
        </div>        
        <div class="some-container" id="some">
          
        </div>
    </div>
    <div class="bottom">
        <div class="center" id="readmore"> 
        </div>
        <div>
        </div>
    </div>
</footer>

