<header class="header">
    <div class="width-adjuster">
        <a href="https://artsdatabanken.no" class="header-logo">
            <img alt="Artsdatabanken" src="https://artsdatabanken.no/Files/20973" class="normal">
            <img alt="Artsdatabanken" src="https://artsdatabanken.no/Files/20978" class="mobile">
        </a>
        <button id="navbar-mobile" class='material-icons'>menu</button>
        <nav id="headermenu" class="hide">
            
            
        </nav>
        <div id="theme_elements">
            <button id="themeselectorbutton" class="themeselector menuitems" onclick="expandThemeButtons()">
                <span class="hideonmobile">Tema </span>
                <span class="material-icons only_mobile">contrast </span>
            <span class="dropicon material-icons hideonmobile">arrow_drop_down</span></button>
            <div id="themeselectordropdown" class="themeselectordropdown dropdown">
                <ul>
                    <li>
                        <button id="highcontrastbutton" class="themebutton" onclick="highContrastMode(this, 'highcontrast')">
                            <span class="label">
                                <span class="material-icons">
                                    contrast
                                </span>
                                Høykontrast
                            </span>
                            <span class="material-icons toggle">
                                toggle_off
                            </span>
                        </button>
                    </li>
                    <li>
                        <button  id="darkmodebutton" class="themebutton" onclick="highContrastMode(this, 'darktheme')">
                            <span class="label">
                                <span class="material-icons">
                                    dark_mode
                                </span>
                                Nattmodus
                            </span>
                            <span class="material-icons toggle">
                                toggle_off
                            </span>
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>