<div class="sidebarmenu">
    <ul>
        <li>Rødlista 2021</li>
        <li>Rødlista 2021</li>
        <li>Rødlista 2021</li>
        <li>Rødlista 2021</li>
        <li>Rødlista 2021</li>
        <li>Rødlista 2021</li>
    </ul>
</div>