@model ReferenceViewModel

@{
    var references = Model.References.OrderBy(x => x.FormattedReference).ToArray();
}

@if (@Model.References != null && Model.References.Count() > 0)
{
    <div class="@(Model.IsCollapsible ? "collapsible initially_closed" : "")">
        <div class="collapsible_header">
            <h2>Referanser</h2>
            <button is-visible="Model.IsCollapsible" onclick="toggleCollapsible(this)">
                <span class="material-icons expanded_icon">expand_less</span>
                <span class="material-icons collapsed_icon">expand_more</span>
            </button>
        </div >

        <div class="@(Model.IsCollapsible ? "collapsible_content" : "")">
            <div class="page_section">
                @if (Model.References.Count() > 0)
                {
                    <ul>
                        @foreach (var reference in references)
                        {
                            <li class="reference">@reference.FormattedReference</li>
                        }
                    </ul>
                }
            </div>
        </div>
    </div >
}
    