@model ReferenceViewModel

@{
    var references = Model.References.OrderBy(x => x.FormattedReference).ToArray();
}

@if (@Model.References != null && Model.References.Count() > 0)
{
    <h2 id="References">@Constants.HeadingsNO["References"]</h2>    
    <div class="@(Model.IsCollapsible ? "collapsible_content" : "")">
        <div class="page_section">
            <ul>
                @foreach (var reference in references)
                {
                    <li class="reference">@reference.FormattedReference</li>
                }
            </ul>
        </div>
    </div>
}
    