@model ScientificNameViewModel
@using static Assessments.Frontend.Web.Infrastructure.Helpers

<h1 is-visible="@string.IsNullOrEmpty(Model.PopularName) == false">
    <span class="small-heading-part">Vurdering av </span>
    <span is-visible="!string.IsNullOrEmpty(Model.PopularName)">@Model.PopularName</span>
    <span>@Html.Raw(GetScientificNameElement(Model.ScientificName))
    @Model.ScientificNameAuthor</span>
</h1>


 

