@model ScientificNameViewModel
@using static Assessments.Frontend.Web.Infrastructure.Helpers

@{
    string popularName = string.Empty;
    if (!string.IsNullOrEmpty(Model.PopularName))
        popularName = char.ToUpper(Model.PopularName[0]) + Model.PopularName.Substring(1);
}

<h2>
    Vurdering av
</h2>
<h1 is-visible="@string.IsNullOrEmpty(Model.PopularName) == false">
    @popularName
</h1>
<h1>
    @Html.Raw(GetScientificNameElement(Model.ScientificName))
    @Model.ScientificNameAuthor
</h1>

 

