@model ScientificNameViewModel
@using static Assessments.Frontend.Web.Infrastructure.Helpers

<div class="header-div">
    <h1>
        <span is-visible="!string.IsNullOrEmpty(Model.PopularName)">@(Model.PopularName.Substring(0, 1).ToUpper() + Model.PopularName.Substring(1))</span>
        <span>@Html.Raw(Model.ScientificNameFormatted ? Model.ScientificName : FormatScientificNameElement(Model.ScientificName))
        @Model.ScientificNameAuthor</span>
    </h1>
</div>