@model SideBarContentViewModel


@{
    string urlSafeScientificName = Model.ScientificName.Replace(" ", "%20");
    string taxon_url = "https://artsdatabanken.no/taxon/" + urlSafeScientificName + "/" + Model.ScientificNameId;
}
<div class="sidebar_image_info">
    @*<img src="https://design.artsdatabanken.no/list-icons/taxon-icon.png" alt="Logobilde for artssiden"/>
    <br />*@
    <a href="@taxon_url" class="link-styled taxon-page-link">
        Til @Helpers.FixSpeciesLevel("{art}ssiden", Model.TaxonRank)
    </a>

    <div class="sidebar_image_info-previous">
        <partial name="/Views/Shared/_Development.cshtml" />
    </div>

    <div is-visible="Model.AssessmentType == Assessments.Frontend.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023" class="alien-species-forskrift sidebar_image_info-regulation">
        @*<hr/>*@
        <h3>Forskrift om fremmede organismer</h3>
        <div>
            <p>
                Denne @Helpers.FixSpeciesLevel("{art}en", Model.TaxonRank) er <span is-visible="!Model.SpeciesIsOnBannedList"  class="underline">ikke</span> oppført på Klima- og miljødepartementets liste over arter det er
                forbudt å innføre, sette ut og omsette, jf. § 5 og § 9.
            </p>
            @*<a href="https://lovdata.no/dokument/SF/forskrift/2015-06-19-716#KAPITTEL_9" class="link-styled">
                Forbudslista hos Lovdata.no <span class="material-icons">open_in_new</span>
            </a>*@
        </div>
    </div>
</div>
