@model SpeciesGroupViewModel

<div class="speciesgroup_container">
    <p>
        Utført av <a href="@Model.SpeciesGroupInfoUrl" class="lowercase">ekspertkomité for @Model.ExpertCommittee </a> <br />
        <partial name="/Views/Shared/_PublishedDate.cshtml" />
    </p>
    <div class="species_group_image">
        <div class="image_background">
            @if (!String.IsNullOrEmpty(Model.SpeciesGroupImageUrl))
            {
                <img src="@Model.SpeciesGroupImageUrl" alt="@Model.SpeciesGroup" />
            }
        </div>
    </div>
</div>
