@model TableOfContentsViewModel

<div id="@Constants.HeadingsIds.TableOfContents">
    <h2>@Constants.HeadingsNo.TableOfContents</h2>
    <ul>
        @foreach (var heading in Model.Contents)
        {
            <li is-visible="heading.ShouldShow">
                <a href="#@heading.ElementId">@heading.Title</a>
            </li>
        }
    </ul>
</div>
