
<!-- Add  category-selected to active tab -->

<div class="categorybar">
    <div class="categorybar-centerline"></div>
    <div class="categorybar-categorycontainer">
        <div class="categorybar-category ">
        <p>RE</p>
        </div>
    </div>
    <div class="categorybar-categorycontainer">
        <div class="categorybar-category "><p>CR</p></div>
    </div>
    <div class="categorybar-categorycontainer">
        <div class="categorybar-category "><p>EN</p></div>
    </div>
    <div class="categorybar-categorycontainer">
        <div class="categorybar-category "><p>VU</p></div>
    </div>
    <div class="categorybar-categorycontainer">
        <div class="categorybar-category "><p>NT</p></div>
    </div>
    <div class="categorybar-categorycontainer">
        <div class="categorybar-category "><p>DD</p></div>
    </div>
    <div class="categorybar-categorycontainer">
        <div class="categorybar-category"><p>LC</p></div>
    </div>
    <div class="categorybar-range top categorybar-range-redlisted">&nbsp;</div>

    <div class="categorybar-range-legend categorybar-range-redlisted"><span>&nbsp;&nbsp;Rødlistet&nbsp;&nbsp;</span></div>

    <div class="categorybar-range bottom categorybar-range-threathened">&nbsp;</div>

    <div class="categorybar-range-legend bottom categorybar-range-threathened"><span>&nbsp;&nbsp;Truet&nbsp;&nbsp;</span></div>
</div>
<br/>
