@model SpeciesAssessment2021
@*
    Codeblock from Innsynsløsninga 2021 by SN. 
    Slightly modified by HEM for launch.
*@

<div class="page_section">
    <partial name="/Views/Shared/_Categorybar.cshtml" />
</div>