@model SpeciesAssessment2021
@*
    // Information about the Assessment

*@
@{
    string distribution = "Arten har ingen utberedelse";

    if (Model.AssessmentArea == "N")
    {
        distribution = ViewBag.glossary["vurdert_N"]["description"];
    }
    else if(Model.AssessmentArea == "S")
    {
        if (Model.ExpertCommittee == "Pattedyr (Svalbard)")
        {
            distribution = ViewBag.glossary["vurdert_S_pattedyr"]["description"];
        }
        else
        {
            distribution = ViewBag.glossary["vurdert_S"]["description"];
        }
    }      
}

<div class="page_section">
    <h2>Vurderingsområde og artens utbredelse</h2>
    <p>
        <!-- GEOGRAFI -->
        @distribution
    </p>

   
    <partial name="/Views/Redlist/Assessment/partials/_Fylkesforekomster_visning.cshtml" />
    




</div><!-- End section -->