@model SpeciesAssessment2021
@*
    HEADER BLOCK FOR PAGE
*@

<div class="page-header">    
    <partial name="/Views/Redlist/Assessment/partials/_Artsnavn.cshtml" />    
    <partial name="/Views/Redlist/Assessment/partials/_SpeciesGroup.cshtml" />
</div>