@model SpeciesAssessment2021


<h2>Forklaring på kategori</h2>
<partial name="/Views/Redlist/Assessment/partials/_InclusionCriteria.cshtml" />
<partial name="/Views/Redlist/Assessment/partials/_Criteria.cshtml" />
<partial name="/Views/Redlist/Assessment/partials/_CategoryDegrade.cshtml" />
<partial name="/Views/Redlist/Assessment/partials/_CategoryChange.cshtml" />

