@model SpeciesAssessment2021
@{

    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();

    // Expert committee field should always be present.
    // By the time we arrive here, the actual committe name has been split into correct species group,
    // and is thus now species group and not actually committtee group.

    string taxon_url = "https://artsdatabanken.no/taxon/"+Model.ScientificName+"/" + Model.ScientificNameId;

}

<div class="sidebar_image_info">
    <a href="@taxon_url" class="button tertiary tinybutton">
        <span class="material-icons">
            mediation
        </span>
        Gå til taxonsiden
    </a>

    <partial name="/Views/Redlist/Assessment/partials/_Development.cshtml" />
    <partial name="/Views/Redlist/Assessment/partials/_Links.cshtml" />

    <h3>Taksonomi</h3>
    @if (@Model.VurdertVitenskapeligNavnHierarki != null)
    {
        <p class="taxonomy">
            @foreach (var taxon in @Model.VurdertVitenskapeligNavnHierarki.Split("/"))
            {
                <span>@taxon > </span>
            }
        </p>
    }
</div>
