@model SpeciesAssessment2021
@{

    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();

    // Expert committee field should always be present.
    // By the time we arrive here, the actual committe name has been split into correct species group,
    // and is thus now species group and not actually committtee group.


}

<div class="sidebar_image_info">
    <button class="secondary">
        <span class="material-icons">
            mediation
        </span>
        Gå til taxonsiden
    </button>

    <partial name="/Views/Redlist/Assessment/partials/_Historikk.cshtml" />

    <h3>Taksonomi</h3>
    @if (@Model.VurdertVitenskapeligNavnHierarki != null)
    {
        <p class="taxonomy">
            @foreach (var taxon in @Model.VurdertVitenskapeligNavnHierarki.Split("/"))
            {
                <span>@taxon > </span>
            }
        </p>
    }
</div>
