@model SpeciesAssessment2021

<div class="page_section">
    <h2> Detaljer</h2>
    <partial name="/Views/Redlist/Assessment/partials/_Informasjon.cshtml" />
    <partial name="/Views/Redlist/Assessment/partials/_Bestand.cshtml" />
    <partial name="/Views/Redlist/Assessment/partials/_CategoryChange.cshtml" />


    @if (Model.GenerationLength != "" && Model.GenerationLength != null)
    {
        <h3>Generasjonstid: @Model.GenerationLength år</h3>
        <p style="color:blue;">
            @ViewBag.glossary["generasjonstid"]["description"]
        </p>
    }


</div>
