@model AlienSpeciesDetailViewModel

<div class="breadcrumbs">
    <ol>
        <li class="in-breadcrumb">
            <a asp-controller="AlienSpecies" asp-action="Index">@Constants.AlienSpecies2023AssessmentPageTitle</a>
            <span class="breadcrumbdivider">&gt; </span>
        </li>
        <li class="in-breadcrumb currentcrumb" disabled="true">
            @Model.Assessment.EvaluatedScientificName
        </li>
    </ol>
</div>
