@model RL2021ViewModel
@using Assessments.Frontend.Web.Infrastructure

@{
    ViewData["Title"] = "Rødlista 2021";

    ViewData["PageMenuHeaderText"] = Constants.RedlistSpecies2021PageMenuHeaderText;
    ViewData["PageMenuContentId"] = Constants.RedlistSpecies2021PageMenuContentId;
    ViewData["PageMenuExpandButtonText"] = Constants.RedlistSpecies2021PageManuExpandButtonText;
    ViewData["CitationString"] = Constants.RedlistSpecies2021CitationString;
    ViewData["HeaderText"] = Constants.RedlistSpecies2021HeaderText;
    ViewData["HeaderByline"] = Constants.RedlistSpecies2021HeaderByline;
    ViewData["Introduction"] = Constants.RedlistSpecies2021Introduction;
}

@{
    //<partial name="/Views/Redlist/Species/2021/List/partials/_Breadcrumb.cshtml" />
}
<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenu.cshtml" />
    <div class="content-placer bigmid">
        <div class="mid-content">

            <div class="title_with_image">
                <div class="title_with_header">
                    <partial name="/Views/Shared/_Header.cshtml" />
                </div>
                <div class="title_with_ingress">
                    <img src="https://design.artsdatabanken.no/list-icons/rl2021-icon-small.png" alt="Bilde av en fisk" />
                    <partial name="/Views/Shared/_Introduction.cshtml" />
                </div>

            </div>
            <form id="search_and_filter_form" asp-action="Index2021" method="get">
                <partial name="/Views/Redlist/Species/2021/List/partials/_Search.cshtml" />
                <partial name="/Views/Redlist/Species/2021/List/partials/_Filters.cshtml" />
            </form>
            <partial name="/Views/Redlist/Species/2021/List/partials/_Citation.cshtml" />
        </div>
    </div>
</div>



<script>
    document.addEventListener('keydown', function (e) {
        if (e.keyCode == "9") {

            // LOGS OUT ACTIVE ELEMENT WHEN TABBING TO MORE EASILY FIND BUG
            console.log("previous active element", document.activeElement)
        }

    });
</script>