@model RL2021ViewModel

<partial name="/Views/Redlist/Species/2021/List/partials/_Breadcrumb.cshtml" /> 
<div class="pagecontainer">
    <partial name="/Views/Redlist/Species/Shared/_PageMenu.cshtml" />
    <div class="content-placer bigmid">
        <div class="mid-content">
            <img src="https://design.artsdatabanken.no/list-icons/rl2021-icon.svg"
                 style="width:200px;float:right;" />

            <partial name="/Views/Redlist/Species/2021/List/partials/_Header.cshtml" />
            <partial name="/Views/Redlist/Species/2021/List/partials/_Introduction.cshtml" />

            <form id="search_and_filter_form" asp-action="Index2021" method="get">
                <partial name="/Views/Redlist/Species/2021/List/partials/_Search.cshtml" />
                <partial name="/Views/Redlist/Species/2021/List/partials/_Filters.cshtml" />
            </form>
            
        </div>
    </div>
</div>

<script>
    document.addEventListener('keydown', function (e) {
        if (e.keyCode == "9") {

            // LOGS OUT ACTIVE ELEMENT WHEN TABBING TO MORE EASILY FIND BUG
            console.log("previous active element", document.activeElement)
        }

    });
</script>