<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Assessments Frontend</title>
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/style-reset.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://design.artsdatabanken.no/style/header-footer.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/graphs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/listview.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/assessment.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/categorybar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/filter.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/search.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/toggleSwitch.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/tabs.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/rl2021.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/bnw.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://design.artsdatabanken.no/script/header.js"></script>
    <script src="https://design.artsdatabanken.no/script/footer.js"></script>

    <meta name="description" content="Norsk rødliste for arter 2021 er en oversikt over arter som har risiko for å dø ut fra Norge. Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter. " />
</head>

<body>
    <div id="bodywrap">
        <partial name="/Views/Shared/_PageTopBar.cshtml" />
        <partial name="/Views/Redlist/Species/Shared/_RedlistHeader.cshtml" />
        <button class="primary" onclick="highContrastMode(this, 'highcontrast')">Høykontrast</button>
        <div class="main">
            <div class="main-content width-adjuster">
                @RenderBody()
                <script src="~/js/site.js" asp-append-version="true"></script>
                <script src="~/js/filter.js" asp-append-version="true"></script>
                <script src="~/js/search.js" asp-append-version="true"></script>
                <script src="~/js/toggleSwitch.js" asp-append-version="true"></script>
                <script src="~/js/gridOrListView.js" asp-append-version="true"></script>
                <script src="~/js/assessmentTabs.js" asp-append-version="true"></script>
                @await RenderSectionAsync("Scripts", required: false)
            </div>
        </div>
        <partial name="/Views/Shared/_PageFooter.cshtml" />
    </div>
</body>
</html>
