@{
    ViewBag.Title = "Rødlista";
}
<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a href="/">
                Rødlista
            </a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            Velg år
        </li>
    </ul>
</div>

<div class="sidebarmenu"></div>

<div class="content-placer">
    <div class="page-header">
        <h1>
            Rødlista!
        </h1>
        <h2>
            Denne siden er litt unyttig per nå, da vi kun har artslista tilgjengelig. Heh.
        </h1>
    </div>
    <div class="mid">
        <p>
            <a asp-controller="Redlist" asp-action="Index2021">2021</a>
        </p>
        <p>
            <a asp-controller="Redlist" asp-action="habitat">habitat</a>
            <a asp-controller="Redlist" asp-action="speciesgroup">artsgruppe</a>
        </p>

    </div>
</div>