<div class="title_header">
    <a asp-controller="AlienSpecies" asp-action="Index" class="title_header" style="display:inline;">
        <span class="full_title">@ViewData["Title"] 2023</span>
        <span class="short_title">@ViewData["Title"] 2023</span>
    </a>
    <partial name="/Views/AlienSpecies/Shared/_PageMenu.cshtml" />
</div>