@model HeaderViewModel

@{
    PageMenuViewModel pageMenuViewModel = new PageMenuViewModel
    {
        AssessmentType = Assessments.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023,
        PageMenuContentId = Constants.AlienSpecies2023PageMenuContentId,
        PageMenuSubContentId = Constants.AlienSpecies2023SubPageMenuContentId,
        PageMenuExpandButtonText = Constants.AlienSpecies2023PageManuExpandButtonText,
        PageMenuHeaderText = Constants.AlienSpecies2023PageMenuHeaderText
    };
}

<div class="title_header">
    <partial name="/Views/Shared/_PageMenu.cshtml" model="@pageMenuViewModel" />
</div>