@model RL2021ViewModel


<div class="breadcrumbs">
    <ul>
        <li class="lead in-breadcrumb">
            <a asp-controller="Redlist" asp-action="rodlisteforarter">Rødlista for arter</a>
        </li>
        <span class="breadcrumbdivider">&gt; </span>
        <li class="in-breadcrumb currentcrumb">
            2021
        </li>
    </ul>
</div>
