@model RL2021ViewModel

<div class="breadcrumbs">
    <ol>
        <li class="lead in-breadcrumb">
            <a asp-controller="Redlist" asp-action="rodlisteforarter">Rødlista for arter</a>
            <span class="breadcrumbdivider">&gt; </span>
        </li>        
        <li class="in-breadcrumb currentcrumb">
            2021
        </li>
    </ol>
</div>
