
<div class="mobile_padding">
    <h2>Sitering</h2>
    <p>
        Artsdatabanken (2021, 24. november). Norsk rødliste for arter 2021. https://www.artsdatabanken.no/rodlisteforarter/2021
    </p>
</div>