@model RL2021ViewModel

@{ 
    // TODO: Get nrs from db to stay updated with any changes in taxonomy
    float total_Norge = 2804;
    float total_Svalbard = 74;
}

<div class="infographics">

    <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="N" asp-route-Endangered="true" class="button infograph_element total">

        <span>Trua arter i Norge  <span class="material-icons">keyboard_arrow_right</span></span>

        <div class="infograph_number">
            @total_Norge
        </div>

    </a>

    <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="S" asp-route-Endangered="true" class="button infograph_element total">
        <span>
            Trua arter på Svalbard <span class="material-icons">keyboard_arrow_right</span>
        </span>
        <div class="infograph_number">
            @total_Svalbard
        </div>


    </a>

   
</div>

    

    