@model RL2021ViewModel

@{ 
    // TODO: Get nrs from db to stay updated with any changes in taxonomy
    float total_Norge = 2804;
    float total_Svalbard = 74;
}

<div class="infographics">

    <div class=" infograph_element total">

        <div class="infograph_number">
            @total_Norge
        </div>
        <span>Trua arter i Norge</span>

    </div>

    <div class=" infograph_element total">

        <div class="infograph_number">
            @total_Svalbard
        </div>
        <span>
            Trua arter på Svalbard
        </span>

    </div>

   
</div>

    

    