@model RL2021ViewModel

@{ 
    // TODO: Get nrs from db to stay updated with any changes in taxonomy
    float total = 24320;
    float redlisted = 5153;
    float threatened = 2862;

}

<div class="infographics">

    <div class="infograph_element total">
        <div>
            <h3>Antall vurderte arter</h3>
            <span>RE, CR, EN, VU, NT, DD, LC</span>
        </div>
        
        <div class="infograph_number">
           @total
        </div>
    </div>

    <div class="infograph_element redlisted">
        <div>
            <h3>Rødlistede arter</h3>
            <span>RE, CR, EN, VU, NT, DD</span>
            
        </div>
        <div class="infograph_number">
            @redlisted
        </div>

    </div>

    <div class="infograph_element threatened">
        <div>
            <h3>Antall truete arter</h3>
            <span>CR, EN, VU</span>
        </div>
        <div class="infograph_number">
            @threatened
        </div>

    </div>

</div>

    

    