@model RL2021ViewModel

@{ 
    // TODO: Get nrs from db to stay updated with any changes in taxonomy
    float total_Norge = 2804;
    float total_Svalbard = 74;

}

<div class="infographics">

    <div class="infograph_element total">
        <div>
            <h3>Trua arter i Norge</h3>
        </div>
        
        <div class="infograph_number">
           @total_Norge
        </div>
    </div>

    <div class="infograph_element total">
        <div>
            <h3>Trua arter på Svalbard</h3>

        </div>
        <div class="infograph_number">
            @total_Svalbard
        </div>

    </div>
</div>

    

    