@model RL2021ViewModel

@if (Model.Redlist2021Results.PageCount > 1 && Model.View != "stat")
{
    <p class="page_count">
        Viser side @Model.Redlist2021Results.PageNumber av @Model.Redlist2021Results.PageCount.ToString("N0")
    </p>

    @Html.PagedListPager(Model.Redlist2021Results, page => Url.Action("Index2021", Context.Request.QueryString.ToRouteValues(new { Page = page })), new PagedListRenderOptions
    {
        PageClasses = new[] { "page-link" },
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new[] { "page-item" }
    })
}