@model RL2021ViewModel

<div class="list-search">
    <h2>Søk i Rødlista 2021</h2>
    <div class="searchfield">
        <input asp-for="Name" placeholder="Søk i Rødlista 2021" />
        <button class="primary" type="submit">
            <span class="material-icons">
                search
            </span>
            Søk
        </button>

    </div>
</div>