@model RL2021ViewModel
@using static Assessments.Frontend.Web.Infrastructure.Helpers
@using X.PagedList;

@{
    Dictionary<string, Dictionary<string, string>> speciesgroup = ViewBag.speciesgroup.ToObject<Dictionary<string, Dictionary<string, string>>>();

    var results = (IPagedList<ListViewViewModel.Result>)Model.Redlist2021Results.Select(x => new ListViewViewModel.Result()
    {
        EvaluationContext = x.AssessmentArea,
        Category = ViewBag.categories[x.Category.Substring(0, 2)]["presentationstring"],
        CategoryShort = x.Category,
        Id = x.Id,
        ScientificNameFormatted = FormatScientificNameElement(x.ScientificName),
        SpeciesGroup = x.SpeciesGroup,
        SpeciesGroupIconUrl = speciesgroup[x.SpeciesGroup]["image"],
        VernacularName = x.PopularName
    });

    var listViewViewModel = new ListViewViewModel()
    {
        NoResultString =  ViewBag.glossary["oneliners"]["noResults"],
        Results = results,
        View = Model.View
    };
}

<div id="viewselector" class="viewselector @Model.View">
    <partial name="/Views/Redlist/Species/2021/List/partials/_Graphs.cshtml" />
    <partial name="/Views/Shared/_ListView.cshtml" model="listViewViewModel" />
</div>
