@{
    ViewData["PageMenuHeaderText"] = Constants.RedlistSpecies2021PageMenuHeaderText;
    ViewData["PageMenuContentId"] = Constants.RedlistSpecies2021PageMenuContentId;
    ViewData["PageMenuExpandButtonText"] = Constants.RedlistSpecies2021PageManuExpandButtonText;
}

<div class="title_header">
    <a asp-controller="Redlist" asp-action="Index2021" class="title_header" style="display:inline;">
        <span class="full_title">Norsk rødliste for arter 2021</span>
        <span class="short_title">Rødlista 2021</span>
    </a>
    <partial name="/Views/Shared/_PageMenu.cshtml" />
</div>