@media only screen and (min-width: 941px) {

    .sidebarmenu {
        max-height: 100vh;
        overflow-y: auto;
    }

    .content-placer {
        padding-top: 33px;
        width: 75%;
        display: flex;
        flex-wrap: wrap;
    }
}

.indented_list {
    margin-left: 22px;
}

.svalbard-heading {
    color: #185c7d;
}

.main-content {
    /*padding-top: 7px;*/
}

/* ACTIVE LINK COLOUR */
.darktheme .list:hover .speciesgroup_name,
.darktheme .search_matchedname,
.darktheme .search_match,
.darktheme .breadcrumbs li,
.darktheme .button.tertiary,
.darktheme .main button.tertiary,
.darktheme .sidebarmenu li h3 {
    color: #FFF9F0;
    border-color: #FFF9F0;
}

/* ACTIVE BORDER */
.darktheme .see_all .habitat_element.active {
    border-color: #b372bb;
}

ul {
    list-style-position: inside;
}

/*li ul{
    margin-left:8px;
}*/

/* MAP FOR FA ONLY */
.double_map{
    display:flex;
    flex-wrap:wrap;
    width:100%;
    align-items: end;
}

.map-box-container {
    flex: 1;
    text-align: center;
    font-size: small;
    position:relative;
    min-width:250px;
}

.map-legend {
    text-align: initial;
}

.map-description{
    text-align: left;
    padding: 8px 5px 8px 0;
}

.tabbed_element_container .map-legend {
    text-align: right;
    margin: 0;
    padding: 0;
    border-left: 0;
    margin-left: auto;
}

.ingress {
    color: #262F31;
}

.collapsible {
    margin-top: 0;
    margin-bottom: 40px;
}

.collapsible.small-collapse {
    margin-bottom: 4px;
}

.small-collapse .collapsible_header {
    line-height: inherit;
    padding: 0 8px;
}

.small-collapse:last-child{
    margin-bottom: 40px;
}

.page_section_header{
    display:flex;
}

.page_section_header h2 {
    display:inline-block;
    width: calc(100% - 125px);
}

.page_section_header a{
    margin-top:40px;
    padding-top:8px;
    
}

@media only screen and (max-width: 740px) {
    .page_section_header h2 {
        width: auto;
        flex-grow:1;
    }
    .page_section_header a {
        max-width:20%;
        text-align:center
    }
}

.innsyn-info-box {
    border-radius: 4px;
    padding: 10px 20px;
    background: #f2f2f2;
    margin-bottom: 40px;
}

.innsyn-info-box ol {
    margin-left: 24px;
    margin-bottom: 15px;
}

.innsyn-info-box .impact-bold {
    font-size: 20px;
    display: flex;
    padding: 8px;
    border-radius: 4px;
    border: 2px solid #5e3063;
    color: #5e3063;
}

.innsyn-info-box p, .innsyn-info-box h3,
.innsyn-info-box h4 {
    color: inherit
}

.impact-bold .material-icons{
    margin-right:4px;
}

.darktheme .innsyn-info-box .impact-bold {
    background: #5e3063;
    border-color: white;
    color:white;
}

.darktheme .innsyn-info-box {
    color: white;
    background: #3d1f41;
}

.prettier-ol li {
    padding-bottom: 12px
}

.prettier-ol{
    padding-top: 8px 
}

.expanded_icon {
    white-space: nowrap;
}

.sidebarmenu li a.active-menuitem span:first-child {
    color: #262F31;
    font-weight: 700;
    text-decoration: underline;
}

ul.submenu-list {
    border-right: 0;
    padding-right: 0;
    margin-left: 1em;
}

.title_with_ingress{
    width:100%
}