h1, h2, h3 {
    color: #0f0f0f;
}

.page-header h1 {
    line-height: 1.3;
    font-size: 33px;
}

.svalbard-heading {
    color: #185c7d;
}

.sidebarmenu{
    padding-top:0;
}

.main-content {
    /*padding-top: 7px;*/
}

.header {
    background: #5e3063;
}

.header button.menuitems {
    background: #3d1f41;
}

/* ACTIVE LINK COLOUR */

.darktheme .list:hover .speciesgroup_name,
.darktheme .search_matchedname,
.darktheme .search_match,
.darktheme a,
.darktheme .breadcrumbs li,
.darktheme .button.tertiary,
.darktheme .main button.tertiary,
.darktheme .sidebarmenu li h3 {
    color: #b372bb;
    border-color: #b372bb;
}

/* ACTIVE BORDER */
.darktheme .see_all .habitat_element.active {
    border-color: #b372bb;
}

.darktheme .main .chips {
    color: white;
    background: #8f4997;
    border-color: #b372bb;
}

/* PURPLE BACKGROUND */
.darktheme .page-link,
.darktheme .button.primary,
.darktheme .main button.primary {
    background: #8f4997;
}

@media only screen and (max-width: 766px) {
    .header .themeselectordropdown,
    #headermenu {
        background: #8f4997;
        border-top: 1px solid #b372bb;
    }

    .header .themeselectordropdown ul ,
    .header .themeselectordropdown li {
        color: white;
        background: #3d1f41;
    }
}

    @media only screen and (max-width: 940px) {
        .title_header {
            background: black;
            background-image: linear-gradient(#8f499760, #8f499780);
        }
    }

