.page_section{
    font-size:12pt;
}

@media only screen and (min-width: 550px) {
    .mobileversion {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .fullscreenversion {
        display: none;
    }
}

.toptitle {
    float: right;
    margin-top: 0;
    text-align: right;
    font-weight: initial;
    font-size: 14pt;
}

.toptitle span {
    color: #99191a;
    display:block;
}

@media only screen and (min-width: 550px) {
    .mid-content {
        width: calc(100% - 210px);
    }
}


.side .tag_explanation{
    display:none;
}
/* Page setup */
.side {
    float: right;
    width: 200px;
    display: inline-block;
    height: 100%;
    border-left: 1px solid lightgrey;
    padding: 10px;
    padding-top: 0;
    margin-left: 10px;
}


@media only screen and (max-width: 550px) {
    .side {
        float: none;
        width: 100%;
        height: auto;
        border-left: none;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: 0px;
    }
}

/* Sidebar element*/
.sidebar_image_info h2{
    margin:0;
    padding:0;
}

.sidebar_image_info .tagline {
    color: #777368;
    font-weight: bold;
}

@media only screen and (max-width: 550px) {
    .sidebar_image_info h2 {
       display:inline-block;
    }
}


@media only screen and (min-width: 550px) {
    .sidebar_image_info .habitat_icon {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
@media only screen and (max-width: 550px) {
    .sidebar_image_info .habitat_icon {
        height:100px;
        width:100px;
        float:left;
        padding-right:5px;
    }

    .taxonomy{
        font-size:10pt;
    }

    .history{
        display:none;
    }
}

/* GRAPHIC ELEMENT FOR CATEGORY */
.graphic_element {
    display: block;
    border-radius: 2px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20pt;
    background: grey;
    height: 64px;
    width: 64px;
    color: white;
}

.graphic_element .material-icons {
    font-size: 20pt;
    line-height: inherit;
    padding: 4px;
    padding-top: 0px;
}

.imaged_paragraph .material-icons {
    display: block;
}

.right_text {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 350px) {
    .imaged_paragraph {
        display: flex;
        align-items: center;
    }

    .graphic_element {
        display: inline-block;
        margin-right:20px;
    }
    .right_text {
        display: inline-block;
        flex: 1;
    }
}

@media only screen and (max-width: 350px) {
    .graphic_element {
        width: 100%;
        text-align: center;
    }
}


/* CATEGORIES */

.RE {
    background: #5a5b5d;
    color: white;
}

.CR {
    background: #99191a;
    color: white;
}

.EN {
    background: #d80f27;
    color: white;
}

.VU {
    background: #e94f33;
    color: white;
}

.NT {
    background: #ed6c26;
    color: white;
}

.DD {
    background: #f7a520;
    color: white;
}

.LC {
    background: #60beb2;
    color: black;
}

.NA {
    background: #939598;
    color: black;
}

.NE {
    background: #d1d3d4;
    color: black;
}

.utdodd {
    background: #4c4a48;
}


/* IMPACT FACTORS */

.stats_element_container {
    display: inline-block;
    width: 70px;
}

.stats_element_text {
    display: inline-block;
    width: calc(100% - 80px);
}

.topalign {
    vertical-align: top;
}

.stats_element_text h3 {
    margin: 0;
}

.fake_table_header {
    background: #f1f1f1;
    border: 1px solid lightgray;
    border-bottom: 0;
    padding: 5px;
    padding-top: 10px;
}

.fake_table {
    display: flex;
    background: #fcfcfc;
    margin-bottom: 20px;
    padding: 10px;
    padding-bottom: 20px;
    border: 1px solid lightgray;
    font-size: 10pt;
}

    .fake_table div {
        flex: 1;
        padding: 5px;
        text-align: center
    }

    .fake_table .sideborders {
        border-left: 1px solid #d3d3d3;
        border-right: 1px solid #d3d3d3;
    }

@media only screen and (max-width: 650px) {
    .fake_table {
        flex-direction: column;
    }

    .fake_table .sideborders {
        border: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
    }

    .fake_table_header {
        text-align: center;
    }

    .fake_table_header .stats_element_container {
        display: block;
        margin: auto;
        margin-bottom: 10px;
    }

    .fake_table_header .stats_element_text {
        width: 100%;
    }

    .stats_element_container {
        vertical-align: top;
    }
}

.stats_element {
    width: 64px;
    height: 64px;
    border-radius: 2px;
    background: #4c4a48;
    display: flex;
    align-items: center;
}

.fake_table .stats_element {
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    background: #f1f1f1;
}

.stats_element span {
    color: white;
    width: 100%;
    display: block;
    text-align: center;
}

.fake_table .stats_element span {
    color: black;
}


/* categori  things */

.category-line {
    width: 300px;
}

.category-line div {
    display: inline-block;
    padding: 10px;
}

.category-line .active {
    border: 4px solid black;
}

.region {
    padding-top: 2px;
    font-size: 10pt;
    width: 100%;
    max-width: 350px;
    display: inline-block;
}

.region b{
    width:120px;
    
    display:inline-block;
}


/* habitat TYPES */

.habitat_container {
    display: flex;
    flex-wrap: wrap;
}

.habitat_element {
    display: inline-block;
    max-width: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    border: 1px solid lightgrey;
    max-height: 250px;
    padding-bottom: 10px;
    vertical-align: top;
}

.habitat_element.inactive {
    max-width: 125px;
}

.habitat_icon {
    height: 160px;
    width: 100%;
    display: block;
    background: white;
    margin: auto;
}

.habitat_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.speciesgroup_header,
.habitat_header {
    background: white;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 10pt;
}

.habitat_header {
    position: absolute;
    top: 0;
    left: 0;
}

.habitat_element p, .habitat_element a {
    color: grey;
    font-size: 8pt;
}

.habitat_element.active h4,
.habitat_element.active p,
.habitat_element.active a {
    color: #4c4a48;
}

.habitat_element p {
    padding: 5px;
    padding-bottom: 0; /* otherwise trunctuation line clamp is wrong */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.habitat_element .seemore {
    display: block;
    margin: auto;
}

.habitat_element.expanded {
    max-height: 100%;
}

.habitat_element.expanded p {
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    overflow: auto;
    height: auto;
}

.more,
.expanded .less {
    display: block;
}

.expanded .more,
.less {
    display: none;
}

.other_habitats .hidden {
    display: none;
}

.other_habitats.expanded .hidden {
    display: block;
}
/* EXPERT ASSESMENT */
.expert_assesment h3,
.expert_assesment p {
    background: #f8f7f7;
    padding: 10px;
    margin: 0;
}


.expert_assesment p:first-child:before,
.expert_assesment p:last-child:after {
    content: "\“\a";
    font-size: 70pt;
    height: 70px;
    font-family: 'Times New Roman';
    color: #929292;
    display: block;
}


.expert_assesment p:last-child:after {
    text-align:right;
    content: "\” ";
}

.expert_text{
    max-height:1000px;
    overflow-y:auto;
    display:block;
    padding:0;
    margin:0;
}

.quote_by{
    display:inline-block;
    width:100%;
}


/*criteria*/
.criteria_conclusions {
    max-width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.criteria_outer_level.active {
    color: black;
}

.criteria_outer_level.inactive {
    opacity: 0.3;
    font-size: 9pt;
}

/* REFERENCES */

.reference {
    display: block;
    word-break: break-word;
    margin-bottom: 5px;
    text-indent: -36px;
    padding-left: 36px;
}

.fylke{
    width:200px;
}

.map{
    display:inline-block;
    font-size:12pt;
    width:300px;
    float:right;
}

/* MAP COLOURS */


.extinct {
    background: #cd4646;
    fill: #cd4646;
}

.sea.extinct {
    background: #f68888;
    fill: #f68888;
}

.known {
    background: #51b051;
    fill: #51b051;
}

.sea.known {
    background: #7ae57a;
    fill: #7ae57a;
}

.presumed_extinct {
    background: #ff9b00;
    fill: #ff9b00;
}

.sea.presumed_extinct {
    background: #f0ae74;
    fill: #f0ae74;
}

.presumed {
    background: #cbd03c;
    fill: #cbd03c;
}

.sea.presumed {
    background: #edf176;
    fill: #edf176;
}

.indicator {
    display:inline-block;
    width: 15px;
    height: 15px;
    border:1px solid grey;
    margin:0px;
    flex:none;
    font-size:0;
}

.indicatorcontent {
    display: inline-block;
    width: 50%;
    height: 100%;
}