.page_section{
    font-size:12pt;
}


@media only screen and (min-width: 550px) {
    .mobileversion {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .fullscreenversion {
        display: none;
    }
}

.toptitle {
    float: right;
    margin-top: 0;
    text-align: right;
    font-weight: initial;
    font-size: 14pt;
}

.toptitle span {
    color: #99191a;
    display:block;
}
.side .tag_explanation {
    display: none;
}


/* Sidebar element*/
.sidebar_image_info h2{
    margin:0;
    padding:0;
}

.sidebar_image_info .tagline {
    color: #777368;
    font-weight: bold;
}

.sidebar_image_info .image_background {
    width: 150px;
    height: 150px;
    padding: 5px;
    border-radius: 50%;
    background: #e7e7e7;
    margin: 10px;
    margin-bottom: 20px;
    display: block;
}

.sidebar_image_info img {
    width: 100%;
    height: 100%;
    display: block;
}


/* GRAPHIC ELEMENT FOR CATEGORY */
.graphic_element {
    display: block;
    border-radius: 2px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 20pt;
    background: grey;
    height: 64px;
    width: 64px;
    color: white;
}

.graphic_element .material-icons {
    font-size: 20pt;
    line-height: inherit;
    padding: 4px;
    padding-top: 0px;
}

.imaged_paragraph .material-icons {
    display: block;
}

.right_text {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media only screen and (min-width: 350px) {
    .imaged_paragraph {
        display: flex;
        align-items: center;
    }

    .graphic_element {
        display: inline-block;
        margin-right:20px;
    }
    .right_text {
        display: inline-block;
        flex: 1;
    }
}

@media only screen and (max-width: 350px) {
    .graphic_element {
        width: 100%;
        text-align: center;
    }
}


/* CRITERIA CATEGORY GRAPH */

.criteria_results{
    padding:20px;
}

.category_graph {
    width: 500px;
    max-width: 100%;
    height: 30px;
    margin-bottom: 40px;
    display: block;
    font-size: 0;
    margin-top: 30px;
    position: relative;
    border-top: 2px solid black;
}

.category_graph_element {
    background: grey;
    display: inline-block;
    height: 100%;
    width:25%;
    font-size:12pt;
    box-sizing:border-box;
    border-right:2px solid black;
    overflow:visible;
    text-align:center;
    position:relative;
    padding-top:5px;
}

.category_graph_element span{
    position:absolute;
    bottom:-20px;
    color:black;
    width:20px;
    display:block;
    right:-10px;
}

.category_graph .indicator_dot {
    width: 2px;
    text-align: center;
    height: 28px;
    background: black;
    position: absolute;
    top: -27px;
    z-index: 1;
    overflow: visible;
}

.category_graph .indicator_text {
    overflow: visible;
    position: absolute;
    width: 17px;
    display: block;
    height: 18px;
    margin-left: -7px;
    text-align: center;
    font-size: 10pt;
    margin-top: -1px;
    padding:2px;
    padding-top:0;
}

.category_graph .dot_dot {
    position: absolute;
    width: 6px;
    display: block;
    height: 6px;
    border-radius: 50%;
    background: #400;
    margin-left: -2px;
    text-align: center;
    margin-top: 23px;
}

.category_graph .indicator_text.max,
.category_graph .indicator_text.calc {
    width: 100px;
    margin-left: -98px;
    text-align: right;
    border-right: 2px solid black;
}

.category_graph .indicator_text.prob,
.category_graph .indicator_text.min {
    width: 100px;
    text-align: left;
    border-left: 2px solid black;
    margin-left: 0px;
}


.category_graph .indicator_text.calc ,
.category_graph .indicator_text.prob {
    margin-top: -18px;
      
}



/* CATEGORIES */
.RE {
    background: #5a5b5d;
    color: white;
}

.CR {
    background: #99191a;
    color: white;
}

.EN {
    background: #d80f27;
    color: white;
}

.VU {
    background: #e94f33;
    color: white;
}

.NT {
    background: #ed6c26;
    color: white;
}

.DD {
    background: #f7a520;
    color: white;
}

.LC {
    background: #60beb2;
    color: black;
}

.NA {
    background: #939598;
    color: black;
}

.NE {
    background: #d1d3d4;
    color: black;
}

.utdodd {
    background: #4c4a48;
}


/* categori  things */

.category-line {
    width: 300px;
}

.category-line div {
    display: inline-block;
    padding: 10px;
}

.category-line .active {
    border: 4px solid black;
}

.region {
    padding-top: 2px;
    width: 100%;
    max-width: 350px;
    display: flex;
}

.region b{
    width:120px;    
    display:inline-block;
}

.region .area{
    display:flex;
    max-width: calc(100% - 125px);
}

.region .area i{
    padding-left:5px;
    display: inline-block;
}


/* habitat TYPES */

.habitat_container {
    display: flex;
    flex-wrap: wrap;
}

.habitat_element {
    display: inline-block;
    max-width: 160px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    position: relative;
    border: 1px solid lightgrey;
    max-height: 250px;
    padding-bottom: 10px;
    vertical-align: top;
}

.habitat_element.inactive {
    max-width: 125px;
}

.habitat_icon {
    height: 160px;
    width: 100%;
    display: block;
    background: white;
    margin: auto;
}

.habitat_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.speciesgroup_header,
.habitat_header {
    background: white;
    padding: 2px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;
    font-size: 10pt;
}

.habitat_header {
    position: absolute;
    top: 0;
    left: 0;
}


@media only screen and (min-width: 250px) and (max-width: 550px) {

    .habitat_icon {
        height: 100px;
        width: 100px;
        display: inline;
        margin: auto;
    }

    .habitat_element {
        max-width: 100%;
        padding-bottom: 0px;
    }

        .habitat_element p,
        .habitat_header {
            position: relative;
            max-width: calc(100% - 100px);
            float: right;
            top: auto;
            left: auto;
        }

    .habitat_icon img {
        width: 100px;
        height: 100px;
        float: left;
    }

    .habitat_element button {
        float: none;
    }
}


.habitat_element p, .habitat_element a {
    color: grey;
    font-size: 8pt;
}

.habitat_element.active h4,
.habitat_element.active p,
.habitat_element.active a {
    color: #4c4a48;
}

.habitat_element p {
    padding: 5px;
    padding-bottom: 0; /* otherwise trunctuation line clamp is wrong */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 5px;
}

.habitat_element .seemore {
    display: block;
    margin: auto;
}

.habitat_element.expanded {
    max-height: 100%;
}

.habitat_element.expanded p {
    -webkit-line-clamp: initial;
    -webkit-box-orient: vertical;
    overflow: auto;
    height: auto;
}

.more,
.expanded .less {
    display: block;
}

.expanded .more,
.less {
    display: none;
}

.other_habitats .hidden {
    display: none;
}

.other_habitats.expanded .hidden {
    display: block;
}
/* EXPERT Assessment */
.expert_Assessment h3,
.expert_Assessment p {
    background: #f8f7f7;
    padding: 10px;
    margin: 0;
}


.expert_Assessment p:first-child:before,
.expert_Assessment p:last-child:after {
    content: "\“\a";
    font-size: 70pt;
    height: 70px;
    font-family: 'Times New Roman';
    color: #929292;
    display: block;
}


.expert_Assessment p:last-child:after {
    text-align:right;
    content: "\” ";
}

.expert_text{
    max-height:1000px;
    overflow-y:auto;
    display:block;
    padding:0;
    margin:0;
}

.quote_by{
    display:inline-block;
    width:100%;
}



/* REFERENCES */
.reference {
    display: block;
    word-break: break-word;
    margin-bottom: 5px;
    text-indent: -36px;
    padding-left: 36px;
}

.region_distributions {
    width: 100%;
    display: block;
    display: flex;
    flex-wrap: wrap-reverse;
    max-width: 740px;
}

.regionlist {
    width: 100%;
    padding: 5px;
    max-width: 285px;
    display: flex;
    flex-wrap: wrap;
}

.map {
    width: 100%;
    max-width: calc(100% - 285px);
}




/* MOBILE SIZE: 550px til 650px  */
@media only screen and (max-width: 650px) {
    .regionlist,
    .map {
        max-width: 100%;
    }
}

/* SUPER-tiny: 300px*/
@media only screen and (max-width: 300px) {

    .region{
        margin-bottom:2px;
    }
    .region b {
        display: block;
        width:100%;
    }
}

.regionlist.region_borders .area,
.geographic_facts.region_borders {
    display: none;
}


/* MAP COLOURS */


.extinct {
    background: #cd4646;
    fill: #cd4646;
}

.sea.extinct {
    background: #f68888;
    fill: #f68888;
}

.known {
    background: #51b051;
    fill: #51b051;
}

.sea.known {
    background: #7ae57a;
    fill: #7ae57a;
}

.presumed_extinct {
    background: #ff9b00;
    fill: #ff9b00;
}

.sea.presumed_extinct {
    background: #f0ae74;
    fill: #f0ae74;
}

.presumed {
    background: #cbd03c;
    fill: #cbd03c;
}

.sea.presumed {
    background: #edf176;
    fill: #edf176;
}

.extinct:hover,
.known:hover,
.presumed_extinct:hover,
.presumed:hover,
.current:hover {
    stroke-width: 1;
    filter:brightness(70%);
    cursor: pointer;
}

.indicator {
    display:inline-block;
    width: 15px;
    height: 15px;
    border:1px solid grey;
    margin:0px;
    flex:none;
    font-size:0;
}

.indicatorcontent {
    display: inline-block;
    width: 50%;
    height: 100%;
}

/*criteria*/

.criteria_element h4 {
    display: inline-block;
    vertical-align: top;
}

.criteria_element.active h4 {
    color: black
}

.criteria_options {
    padding-bottom: 20px;
}

.criteria .inactive {
    color:grey;
}

.criteria .inactive .criteria_description,
.criteria .inactive .criteria_options,
.criteria .inactive .criteria_subcriteria,
.criteria .inactive .listitem_text_field p,
.criteria .inactive .criteria_results {
    display: none;
}

.listitem_criteria {
    display: block;
}

.listitem_text_field {
    display: inline-block;
    width: calc(100% - 30px);
    vertical-align: top;
}

.subsub_list{
    margin-bottom:20px;
}

.subheading{
    margin-bottom: 5px;
}

.inactive .quantile{
    display:none;
}

.quantile span{
    display:block;
}

.temp{
    color:lightblue;
}

/* IMPACT FACTORS */
.impact_table {
    display: flex;
    background: #fcfcfc;
    margin: 5px;
    padding: 5px;
    font-size: 10pt;
    font-weight: normal;
}

.impact_table div {
    flex: 1;
    padding: 5px;
    text-align: center;
    padding-left:10px;
    padding-right:10px;
}

.impact_table .sideborders {
    border-left: 1px solid #d3d3d3;
    border-right: 1px solid #d3d3d3;
}

@media only screen and (max-width: 650px) {
    .impact_table {
        flex-direction: column;
    }

    .impact_table .sideborders {
        border: 0px;
        margin-top: 5px;
        margin-bottom: 5px;
        border-top: 1px solid #d3d3d3;
        border-bottom: 1px solid #d3d3d3;
    }

    .impact_table div {
        text-align:left;
    }
}


/* IMPACT FACTORS */

.outer {
    margin-top: 20px;
}


/* COMPACT (normal) version */
.impact h3 {
    display: block;
    margin: 0px;
    margin-top: 5px;
    padding: 0px;
}

.impact h3.active {
    color:black;
}

.impact .second.inactive {
    display: none;
}

.impact li{
    display:block;
    padding:2px;
    padding-left:20px;
}

.impact li.active {
    color: black;
    display: block;
    font-weight:bold;
}

.impact li.inactive {
    color: grey;
    font-weight: normal;
}

.impact .impact-id,
.impact li.inactive li.inactive {
    display: none;
}

.impact .text_container {
    display: flex;
}

.impact .text_collection {
    align-self: center;
    padding-left:5px;
}

.impact .final ul {
    display: none;
}

/* SUMMARY VERSION */
.summary li {    
    padding: 0;
    padding-top: 5px;
}

.summary .material-icons,
.summary h3.inactive,
.summary li.inactive {
    display: none;
}

.summary h3.active {
    color: #777368;
}

/* FULL VERSION */

.full_list .impact-id {
    display:inline-block;
}

.full_list .second.inactive,
.full_list li.inactive li.inactive,
.full_list .final ul{
    display: block;    
}

/* All */

.outer .text_collection {
    padding: 0;
}

/* SPECIES GROUP IMAGE */
.speciesgroup_container{
    display:flex;
}

.species_group_image {
    width: 62px;
    height: 62px;
    display: inline-block;
}

.species_group_image img{
    width:100%;
}

.date{
    font-size:8pt;
    color:grey;
}

.page-header h1 {
    margin-top: 0;
}

