.page_section{
    font-size:12pt;
}

 h4 {
    margin-bottom: 5px;
}

.populationsize li {
    margin: 10px;
    margin-left: 15px;
}

@media only screen and (min-width: 550px) {
    .mobileversion {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .fullscreenversion {
        display: none;
    }
}


/* GRAPHIC ELEMENT FOR CATEGORY */
.graphic_element.material-icons,
.graphic_element {
    display: inline-block;
    border-radius: 2px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 10pt;
    background: grey;
    padding: 4px;
    color: white;
    width: 26px;
    height: 26px;
}

.graphic_element.material-icons {
    font-size:12pt;
    padding:5px;
}

@media only screen and (max-width: 350px) {

}

/* categori  things */

.category-line {
    width: 300px;
}

.category-line div {
    display: inline-block;
    padding: 10px;
}

.category-line .active {
    border: 4px solid black;
}

.region {
    padding-top: 2px;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
}

.S .region{
    max-width:120px;
}

.region_list_header {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

li.region p {
    margin: 2px 0;
    width:150px;    
    display:inline-block;
}

.region_list_header b {
    margin: 2px 0;
    display:inline-block;
}

.region .area{
    display:flex;
}

.region .area i{
    padding-left:5px;
    display: inline-block;
    white-space: nowrap;
}

.region .area i span {
    white-space: normal;
}

/* habitat TYPES */

.habitat_container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.habitat_element {
    max-width: 32%;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid lightgrey;
    display: flex;
    flex-direction: column;
    background: white;
    background: #f4f4f4;
}

.habitat .inactive{
    display:none;
}

.see_all .inactive{
    display:flex;
}

.see_all .habitat_element.active {
    border: 5px solid #4c4a48;
}

.see_all .habitat_element.active img {
    border: 1px solid #f4f4f4;
}

.habitat_icon {
    width: 100%;
    display: block;
    height: 112px;
}

.habitat_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.habitat_element b {
    display: block;
}

.habitat_element p {
   flex:1;
}

.habitat_element p,
.habitat_element b {
    width: 100%;
    padding: 5px;
}

@media only screen and (min-width: 250px) and (max-width: 550px) {
    .habitat_icon {
        height: 100px;
        width: 100px;
        display: inline;
        margin: auto;
    }

    .habitat_element {
        max-width: 100%;
        padding-bottom: 0px;
        display:inline-block;
        width:100%;
    }

    .habitat_element p {
        position: relative;
        max-width: calc(100% - 100px);
        float: right;
        top: auto;
        left: auto;
    }

    .habitat_icon img {
        width: 100px;
        height: 100px;
        float: left;
    }

    .habitat_element button {
        float: none;
    }

    .see_all .inactive {
        display: inline-block;
    }
}


.expand_hide {
    display: none;
}

.expanded .expand_hide {
    display: block;
}

.habitat_element p, .habitat_element a {
    color: black;
    font-size: 8pt;
}

.habitat_element .seemore {
    display: block;
    margin: auto;
}

.habitat_element.expanded {
    max-height: 100%;
}

.more,
.expanded .less {
    display: block;
}

span.material-icons.more,
span.material-icons.less {
    font-size: 20pt;
}

.expanded .more,
.less {
    display: none;
}

.other_habitats .hidden {
    display: none;
}

.other_habitats.expanded .hidden {
    display: block;
}
/* EXPERT Assessment */
.expert_Assessment h3 {
    font-size: 12pt;
    color: black;
    font-family: inherit;
    font-weight: bold;
    margin: auto;
    padding: 0;
}

/* REFERENCES */
.reference {
    display: block;
    word-break: break-word;
    margin-bottom: 5px;
    text-indent: -36px;
    padding-left: 36px;
}

.region_distributions {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
}

.regionlist {
    width: 35%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.map {
    width: 65%;
}

.map.S{
    width:120px;
}

.region_list_header {
    border-bottom: 1px solid #4c4a48;
}

.vurdert_N,
vurdert_S_pattedyr,
vurdert_S,
no_distribution {
    fill: #e7f1f2;
    stroke: #000000
}

.vurdert_N .land,
.vurdert_N .sea {
    stroke-width:0.7px;
}

.vurdert_N .svalbard_land {
    fill: white;
    stroke-width:0.5px;
}

.vurdert_S .land:not(.svalbard_land),
.vurdert_S .sea {
    fill: white;
    stroke-width: 0.5px;
    stroke: grey;
}

.vurdert_S .svalbard_land {
    stroke: inherit;
    stroke-width: 0.7px;
}

.region p,
.regionlist span{
    color:grey;
}

.vurdert_N .region p,
.vurdert_N .regionlist span {
    color: inherit;
}

.regionlist.legend {
    display: block;
}

.regionlist.legend .region {
    border: none;
    padding-bottom: 2px;
    display: block;
}

.regionlist.legend .region span{
    color: black;
}

/* MOBILE SIZE: 550px til 650px  */
@media only screen and (max-width: 650px) {
    .regionlist {
        width: 100%;
    }

    .regionlist.legend {
        width: auto;
    }

    .map {
        width: 75%;
    }
}

/* Special case for map */
@media only screen and (max-width: 500px) {
    .map {
        width: 100%;
    }
}

/* Special case when map gets a lot smaller than the list */
@media (max-width: 1200px) and (min-width: 940px) {
    .regionlist .region p,
    .regionlist .region i {
        font-size: 10pt;
    }
}

@media (max-width: 650px) and (min-width: 450px) {
    .regionlist .region p,
    .regionlist .region i {
        font-size: 10pt;
    }

    .region_distributions {
        flex-direction: row;
    }

    .regionlist {
        width: 35%;
    }

    .map {
        width: 65%;
    }
}

/* SUPER-tiny: 300px*/
@media only screen and (max-width: 300px) {

    .region{
        margin-bottom:2px;
    }
    .region p {
        display: block;
        width:100%;
    }

    .regionlist,
    .map {
        width: 100%;
    }
}

.regionlist.region_borders .area,
.geographic_facts.region_borders {
    display: none;
}


/* MAP COLOURS */


.extinct {
    background: #cd4646;
    fill: #cd4646;
}

.sea.extinct {
    background: #f68888;
    fill: #f68888;
}

.known {
    background: #51b051;
    fill: #51b051;
}

.sea.known {
    background: #7ae57a;
    fill: #7ae57a;
}

.presumed_extinct {
    background: #ff9b00;
    fill: #ff9b00;
}

.sea.presumed_extinct {
    background: #f0ae74;
    fill: #f0ae74;
}

.presumed {
    background: #cbd03c;
    fill: #cbd03c;
}

.sea.presumed {
    background: #edf176;
    fill: #edf176;
}

.extinct:hover,
.known:hover,
.presumed_extinct:hover,
.presumed:hover,
.current:hover {
    stroke-width: 1;
    filter:brightness(70%);
    /* cursor: pointer; Turning this off for now as nothing happens when you click on it */ 
}

.indicator {
    display:inline-block;
    width: 15px;
    min-width: 15px;
    height: 15px;
    margin:0px;
    font-size:0;
}

.indicator:not(:empty) {
    border: 1px solid #4c4a48;
}

span.area {
    align-items: center;
}

.indicatorcontent {
    display: inline-block;
    width: 50%;
    height: 100%;
}

span.area i {
    text-align: end;
}

/* IMPACT FACTORS */
.impact_table {
    display: flex;
    margin: 5px;
    padding: 5px;
    font-size: 10pt;
    font-weight: normal;
    padding-left: 15px;
    flex-direction: column;
    
}

.impact_table div {
    flex: 1;
    padding: 5px;
    padding-left:10px;
    padding-right:10px;
    max-width:200px;
}

/* All */
.outer .text_collection {
    padding: 0;
}

/* SPECIES GROUP IMAGE */
.speciesgroup_container{
    display:flex;
}

.species_group_image {
    width: 62px;
    height: 62px;
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
}

.species_group_image img,
.image_background {
    width: 100%;
    height:100%;
}

.speciesgroup_container p{
    margin-top:15px;
}

.date {
    font-size: 8pt;
    color: grey;
}

.page-header h1 {
    margin-top: 0;
}

.history_list li {
    font-size: 12pt;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;   
}

@media only screen and (min-width: 965px) {
    .history_list li {
        overflow: visible;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 940px) {
    .history_list li {        
        display: block;
        max-width:300px;
    }
}

.history_list li:first-child {
    border:none;
}

.history_list .text_content {
    display: inline-block;
}

.history_list .graphic_element {
    font-size: 9pt;
    margin-left: 6px;
    vertical-align: text-top;
    height: 18px;
    width: 18px;
    line-height: 20px;
    padding: 0;
    text-align: center;
}

/* CRITERIA CONTENT */
.thresholdlist {
    display: block;
    padding: 5px;
    max-width:100%;
}

.thresholdlist.active {
    background: lightgrey;
}

.options_list p {
    display: none;
}

/* C QUESTIOn */

.C_question{
    font-size:8px;
    line-height:12pt;
}

.CR.C_question {
    background: black;
}

.EN.C_question {
    background: #4d4d4d;
}

.VU.C_question {
    background: #737373;
}

.NT.C_question {
    background: #848484;
    color: white;
}

/* FOR TEST */

.hotpink {
    color: hotpink;
    background: pink;
}
