.page_section{
    font-size:12pt;
}

 h4 {
    margin-bottom: 5px;
}

.small-heading-part {
    display: block;
    font-size: 20px;
}
.page-header h1 {
    line-height: 1.3;
    font-size: 33px;
    margin-bottom: 20px;
}

.populationsize li {
    margin: 10px;
    margin-left: 15px;
}

@media only screen and (min-width: 550px) {
    .mobileversion {
        display: none;
    }
}
@media only screen and (max-width: 550px) {
    .fullscreenversion {
        display: none;
    }
}


/* GRAPHIC ELEMENT FOR CATEGORY */
.graphic_element.material-icons,
.graphic_element {
    display: inline-block;
    border-radius: 2px;
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    font-size: 10pt;
    background: grey;
    padding: 4px;
    padding-left:6px;
    color: white;
    width: 26px;
    height: 26px;
}

.degraded {
    padding-left: 4px;
}

.graphic_element.material-icons {
    font-size: 12pt;
    padding: 5px;
}

@media only screen and (max-width: 350px) {

}

/* categori  things */

.category-line {
    width: 300px;
}

.category-line div {
    display: inline-block;
    padding: 10px;
}

.category-line .active {
    border: 4px solid black;
}

.region {
    padding-top: 2px;
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e9e9e9;
}

.S .region{
    max-width:120px;
}

.region_list_header {
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

li.region p {
    margin: 2px 0;
    width:150px;    
    display:inline-block;
}

.region_list_header b {
    margin: 2px 0;
    display:inline-block;
}

.region .area{
    display:flex;
}

.region .area i{
    padding-left:5px;
    display: inline-block;
    white-space: nowrap;
}

.region .area i span {
    white-space: normal;
}

/* habitat TYPES */

.habitat_container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

.habitat_element {
    max-width: 32%;
    margin-bottom: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    background: #f5e7d3;
}

.habitat .inactive{
    display:none;
}

.see_all .inactive{
    display:flex;
}

.see_all .habitat_element.active {
    border: 5px solid #4c4a48;
}

.see_all .habitat_element.active img {
    border: 1px solid #f4f4f4;
}

.habitat_icon {
    width: 100%;
    display: block;
    height: 112px;
}

.habitat_icon img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

.habitat_element b {
    display: block;
}

.habitat_element p {
   flex:1;
}

.habitat_element p,
.habitat_element b {
    width: 100%;
    padding: 5px;
}

.main .habitat_element .tinybutton {
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 250px) and (max-width: 550px) {
    .habitat_icon {
        height: 100px;
        width: 100px;
        display: inline;
        margin: auto;
    }

    .habitat_element {
        max-width: 100%;
        padding-bottom: 0px;
        display:inline-block;
        width:100%;
    }

    .habitat_element p {
        position: relative;
        max-width: calc(100% - 100px);
        float: right;
        top: auto;
        left: auto;
    }

    .habitat_icon img {
        width: 100px;
        height: 100px;
        float: left;
    }

    .habitat_element button {
        float: none;
    }

    .see_all .inactive {
        display: inline-block;
    }
}


.expand_hide {
    display: none;
}

.expanded .expand_hide {
    display: block;
}

.habitat_element p, .habitat_element a {
    color: #262F31;
    font-size: 8pt;
}

.habitat_element .seemore {
    display: block;
    margin: auto;
}

.habitat_element.expanded {
    max-height: 100%;
}

.more,
.expanded .less {
    display: block;
}

span.material-icons.more,
span.material-icons.less {
    font-size: 20pt;
}

.expanded .more,
.less {
    display: none;
}

.other_habitats .hidden {
    display: none;
}

.other_habitats.expanded .hidden {
    display: block;
}
/* EXPERT Assessment */
.expert_Assessment h3 {
    font-size: 12pt;
    color: #262F31;
    font-family: inherit;
    font-weight: bold;
    margin: auto;
    padding: 0;
}

/* REFERENCES */
.reference {
    display: block;
    word-break: break-word;
    margin-bottom: 5px;
    text-indent: -36px;
    padding-left: 36px;
}

.region_distributions {
    width: 100%;
    display: flex;
    flex-wrap: wrap-reverse;
}

.regionlist {
    width: 35%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
}

.map {
    width: 65%;
}

.map.S{
    width:120px;
}

.map.N {
    width: 33%;
}

.region_list_header {
    border-bottom: 1px solid #4c4a48;
}

.vurdert_N,
vurdert_S_pattedyr,
vurdert_S,
no_distribution {
    fill: #e7f1f2;
    stroke: #000000
}

.vurdert_N .land,
.vurdert_N .sea {
    stroke-width:0.7px;
}

.vurdert_N .svalbard_land {
    fill: white;
    stroke-width: 0.5px;
    stroke: #aaa;
}

.vurdert_S .land:not(.svalbard_land),
.vurdert_S .sea {
    fill: white;
    stroke-width: 0.5px;
    stroke: grey;
}

.vurdert_S .svalbard_land {
    stroke: inherit;
    stroke-width: 3px;
}

.region p,
.regionlist span{
    color:grey;
}

.vurdert_N .region p,
.vurdert_N .regionlist span {
    color: inherit;
}

.regionlist.legend {
    display: block;
}

.regionlist.legend .region {
    border: none;
    padding-bottom: 2px;
    display: block;
}

.regionlist.legend .region span{
    color: #262F31;
}

/* MOBILE SIZE: 550px til 650px  */
@media only screen and (max-width: 650px) {
    .regionlist {
        width: 100%;
    }

    .regionlist.legend {
        width: auto;
    }

    .map {
        width: 75%;
    }
}

/* Special case for map */
@media only screen and (max-width: 500px) {
    .map {
        width: 100%;
    }
}

/* Special case when map gets a lot smaller than the list */
@media (max-width: 1200px) and (min-width: 940px) {
    .regionlist .region p,
    .regionlist .region i {
        font-size: 10pt;
    }
}

@media (max-width: 650px) and (min-width: 450px) {
    .regionlist .region p,
    .regionlist .region i {
        font-size: 10pt;
    }

    .region_distributions {
        flex-direction: row;
    }

    .regionlist {
        width: 35%;
    }

    .map {
        width: 65%;
    }
}

/* SUPER-tiny: 300px*/
@media only screen and (max-width: 300px) {

    .region{
        margin-bottom:2px;
    }
    .region p {
        display: block;
        width:100%;
    }

    .regionlist,
    .map {
        width: 100%;
    }
}

.regionlist.region_borders .area,
.geographic_facts.region_borders {
    display: none;
}


/* MAP COLOURS */

.extinct {
    background: #cd4646;
    fill: #cd4646;
}

.sea.extinct {
    background: #f68888;
    fill: #f68888;
}

.known {
    background: #51b051;
    fill: #51b051;
}

.sea.known {
    background: #7ae57a;
    fill: #7ae57a;
}

.presumed_extinct {
    background: #ff9b00;
    fill: #ff9b00;
}

.sea.presumed_extinct {
    background: #f0ae74;
    fill: #f0ae74;
}

.presumed {
    background: #cbd03c;
    fill: #cbd03c;
}

.sea.presumed {
    background: #edf176;
    fill: #edf176;
}

.extinct:hover,
.known:hover,
.presumed_extinct:hover,
.presumed:hover,
.current:hover {
    stroke-width: 1;
    filter:brightness(70%);
    /* cursor: pointer; Turning this off for now as nothing happens when you click on it */ 
}

.indicator {
    display:inline-block;
    width: 15px;
    min-width: 15px;
    height: 15px;
    margin:0px;
    font-size:0;
}

.indicator:not(:empty) {
    border: 1px solid #4c4a48;
}

.indicator.none {
    display: none;
}

span.area {
    align-items: center;
}

.indicatorcontent {
    display: inline-block;
    width: 50%;
    height: 100%;
}

span.area i {
    text-align: end;
}

/* IMPACT FACTORS */
.impact_table {
    padding: 5px;
    font-size: 10pt;
    font-weight: normal;
    padding-left: 15px;
    
}

.impact_table div {
    margin-left: 5px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 400px;   
}

.full_list .addborder {
    border-left: 1px solid #dfdddd;
    margin-left: 15px;
}

/* All */
.outer .text_collection {
    padding: 0;
}

/* SPECIES GROUP IMAGE */
.speciesgroup_container{
    display:flex;
}

.species_group_image {
    width: 62px;
    height: 62px;
    display: inline-block;
    margin-right: 5px;
    padding-top: 10px;
}

.species_group_image img,
.image_background {
    width: 100%;
    height:100%;
}

.speciesgroup_container span,
.speciesgroup_container a {
    margin-top: 15px;
    font-size: 14px;
    font-family: 'Space Mono';
}

.speciesgroup_container p {
    line-height: 140%;
}

.published {
    margin: 15px 0;
}

.speciesgroup_container {
    margin-bottom: 15px;
}

.datestring {
    margin-top: 15px;
    font-size: 14px;
    font-family: 'Space Mono';
}

.side h3{
    padding-bottom:0px;
}

.side hr {
    margin-top: 10px;
}

    .side hr:first-of-type {
        /*margin-top: 0px;*/
    }

.sidebar_image_info img {
    height: auto;
    width: 100px;
    padding: 5px;
    border-radius: 2px;
    margin-top: 5px;
}

.page-header h1 {
    margin-top: 0;
}

.history_list li {
    font-size: 12pt;
    display: inline-block;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 100%;   
    max-width:100%;
}

.history_list li a{
    padding-left:0;
    max-width: 100%;
}

.history_list{
    width:100%;
    max-width:100%;
    padding-left:0;
    margin-top:0;
}


@media only screen and (min-width: 965px) {
    .history_list li {
        overflow: visible;
        white-space: nowrap;
    }
}

@media only screen and (max-width: 940px) {
    .history_list li {        
        display: block;
        max-width:300px;
    }
}

.history_list li:first-child {
    border:none;
}

.history_list .text_content {
    display: inline-block;
}

.history_list .graphic_element {
    font-size: 9pt;
    margin-left: 6px;
    vertical-align: text-top;
    height: 18px;
    width: 18px;
    line-height: 20px;
    padding: 0;
    text-align: center;
}

/* CRITERIA CONTENT */
.thresholdlist {
    display: block;
    padding: 5px;
    max-width:100%;
}

.thresholdlist.active {
    background: lightgrey;
}

.options_list p {
    display: none;
}

/* C QUESTIOn */

.C_question{
    font-size:8px;
    line-height:12pt;
}

.CR.C_question {
    background: black;
}

.EN.C_question {
    background: #4d4d4d;
}

.VU.C_question {
    background: #737373;
}

.NT.C_question {
    background: #848484;
    color: white;
}

/* FOR TEST */

.hotpink {
    color: hotpink;
    background: pink;
}

.tablist_listheader{
    display:block;
    min-width:100%;
}

.full_list_title,
.summary_title {
    font-size: 14pt;
    padding-bottom: 10px;

}

.full_list_description{
    padding-bottom:10px;
}

.full_list_description,
.no_elements,
.full_list_title,
.full_list .summary_title,
.full_list .no_elements,
.see_all .summary_title,
.see_all .no_elements {
    display: none;
}

.full_list .full_list_description,
.see_all .full_list_title,
.summary_title,
.full_list .full_list_title,
.no_elements {
    display: block;
}

.collapsible_header {
    width: 100%;
}

.tabbed_element_container.assessment_tabs .inactive {
    display: none;
}

.collapsible_header{
    display:flex;
    justify-content:space-between
}

.hide-element {
    display: none !important;
}

.collapsible_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
}

.collapsible_header_letter {
    color: grey;
}

.expanded .collapsible_header {
    border-bottom: 1px solid lightgrey;
}

.darktheme .collapsible_header,
.darktheme .collapsible {
    border-color: white;
}

.collapsible_header button:not(:hover),
.collapsible_header button {
   margin-left:8px;
}

.collapsed_icon {
    white-space: nowrap;
}

.collapsible_header button .material-icons {
    font-size: inherit;
    font-size: 24px;
}

/* OVERRIDE P STYLING */

.darktheme .tabbed_element_container ul p,
.tabbed_element_container ul p {
    border: 0;
    padding: 4px;
}

.collapsible {
    border: 1px solid #f5e7d3;
    margin-top: 40px;
}

.collapsible .collapsible_content {
    padding: 20px;
    padding-bottom: 5px;
    border-top: 1px solid #f5e7d3;
}

.darktheme .collapsible .collapsible_content {
    border-color: white;
}

.collapsible_header h2 {
    margin: 0;
    padding:0
}

/* Tables */

.big-data-table {
    border-collapse: collapse;
    border: 1px solid grey;
    width: 100%;
    table-layout: fixed;
    margin-bottom: 20px;
}

.darktheme .big-data-table {
    background: #201f1f;
}

.big-data-table th,
.big-data-table td {
    padding: 8px;
    text-align: left;
    font-size: 16px;
}

.big-data-table th:first-letter {
   text-transform: capitalize    
}

.big-data-table th,
.big-data-table td {
    border-bottom: 1px solid rgba(128, 128, 128,0.2);
    word-wrap: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
}

.big-data-table tr:last-child td {
    border-bottom: 1px solid grey;
}

.big-data-table th {
    border-color: grey;
}

@media only screen and (max-width: 750px) {

    .big-data-table{
        border:none
    }

    .big-data-table th {
        display: none;
    }

    .big-data-table td {
        display: block;
        border: 1px solid rgba(128, 128, 128,0.5);
        margin-top: -1px;
    }

    .darktheme .big-data-table td {
        background: rgba(128, 128, 128,0.1);
        border-color: rgba(128, 128, 128,0.2);
    }

    .big-data-table td:first-child {
        background: #4c4a48;
        color: white;
    }

    .big-data-table .only_mobile {
        display: block;
        color:#595959 
    }

    .darktheme .big-data-table .only_mobile {
        color: #FFF9F0;
    }

    .big-data-table .only_mobile:first-letter {
        text-transform: capitalize
    }

    .big-data-table td:first-child .only_mobile{
       color:white;
    }

    .big-data-table tr {
        padding-bottom: 8px;
        display: block;
    }
}

.table-description {
    padding: 4px;
    border: none;
    margin-bottom: 4px;
}
@media only screen and (min-width: 751px) {

    .nature-table-setup td:nth-child(2),
    .nature-table-setup th:nth-child(2),
    .nature-table-setup td:nth-child(4),
    .nature-table-setup th:nth-child(4) {
        width: 11%
    }
}

/* TABLES for regional spread */

.numbers-table{
    width:100%;
    border-collapse:collapse;
    margin-bottom:20px;
}

.numbers-table td,
.numbers-table th{
    padding: 8px;
    text-align:left
}

.numbers-table td:not(:first-child),
.numbers-table th:not(:first-child) {
    text-align: right;
}

.numbers-table th{
    border-bottom:2px solid grey;
}
.numbers-table td {
    border-bottom: 1px solid rgba(192, 192, 192,0.2);
}

.numbers-table li {
    margin: 8px 0;
}

.collapsible .only-tabs-inside {
    padding: 20px 0 0 0;
}

.space_above_20 {
    margin-top: 20px;
}

table caption.table-title {
    text-align: left;
}

.numbers-table.align-normal td:not(:first-child),
.numbers-table.align-normal th:not(:first-child) {
    text-align: left;
}

@media only screen and (min-width: 751px) {
    .small-table {
        width: 70%;
    }
}

.expansion-list {
    margin-bottom: 15px;
}

.table-of-contents-small-screen-button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 10px;
    border: 1px solid #0283A1;
    border-radius: 50px;
    background: #fff;
}

.table-of-contents-small-screen-button:focus {
    background: #F6F6F6;
    color: #005B72;
    border-color: #005B72;
}

.table-of-contents-small-screen-button:active {
    background: #005B72;
    color: #FFFFFF;
    border-color: #005B72;
}

.table-of-contents-small-screen-button-hide {
    display: none;
}

.table-of-contents-small-screen-input {
    position: sticky;
    top: 20px;
}

.table-of-contents-small-screen .button .material-icons {
    font-size: 25px;
}

.table-of-contents-small-screen-show {
    display: none;
}

#showTableOfContentList:checked ~ .table-of-contents-small-screen-show {
    display: block;
}

#showTableOfContentList {
    display: none;
}

.mobile_padding #tableOfContentsOuter {
    position: relative;
    width: fit-content;
    z-index: 1;
    margin-bottom: 10px;
}

.mobile_padding #tableOfContentsOuter.table-of-contents-sticky {
    position: sticky;
    top: 20px;
}

.mobile_padding .table-of-contents {
    border: 1px solid #000;
    padding: 10px;
    background-color: #fff;
}

.mobile_padding .table-of-contents ul {
    list-style: none;
}

.page-section table ul {
    list-style: none;
}

@media only screen and (min-width: 941px) {
    .table-of-contents-small-screen {
        display: none;
    }

    .sidebarmenu #TableOfContents li a {
        text-decoration: revert;
        border: none;
        padding: 0 0 0.5em 1em;
    }

    .mobile_padding #tableOfContentsOuter {
        display: none;
    }
}

.table-of-contents-big-screen h3 {
    font-weight: normal;
    color: #4c4a48;
    font-size: 22.5px;
}

tr.water-area-hide,
.collapse_water_area.water-area-hide,
.water-area-hide.material-icons {
    display: none;
}

.show_water_areas {
    display: block;
}

.collapse_water_area button {
    border: 2px solid transparent;
    border-radius: 50%;
    font-size: 24px;
    margin: 0;
    padding: 0 5px;
}

.collapse_water_area button .material-icons {
    font-size: inherit;
    vertical-align: middle;
}

.collapse_water_area {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 750px) {
    .water-area {
        margin-top: -8px;
    }

    .water-area td:first-child {
        display: none;
    }

    .water-area td:nth-child(2) {
        background: rgba(128, 128, 128,0.6)
    }

    .water-area td:nth-child(2) b {
        color: #262F31;
    }

    .collapse_water_area button {
        background: #555;
        color: white;
    }
}

.horizon-scanned-lists {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 25px;
}

.horizon-scanned-lists li {
    padding-left: 10px;
}