/* 
    HIGH CONTRAST THEME
*/

.highcontrast .RE,
.highcontrast .CR,
.highcontrast .EN,
.highcontrast .VU,
.highcontrast .DD,
.highcontrast .LC,
.highcontrast .NA,
.highcontrast .NE,
.highcontrast .NT {
    color: white;
    background: #3d3b3a;
}

.highcontrast input:checked + .slider {
    background-color: #3d3b3a;
}

.highcontrast .sidebarmenu li h3,
.highcontrast .button.tertiary,
.highcontrast .main button.tertiary {
    color: #124eac;
    text-decoration: underline;
    padding: 2px;
}

.highcontrast .title_header .button.tertiary {
    color: white;
    border: none;
}

.highcontrast .title_header {
    background: black;
}

.highcontrast .habitat_element {
    background: white;
}

.highcontrast .land, .sea {
    fill: white;
}
/* PAD-SIZE 940px */
@media only screen and (max-width: 940px) {

    .highcontrast  .side {
        background: none;
        border-top: 1px solid black;
    }
}

/* MAP COLOURS */
.highcontrast .extinct,
.highcontrast .sea.extinct {
    background: #fcbc78;
    fill: #fcbc78;
}

.highcontrast .presumed_extinct,
.highcontrast .sea.presumed_extinct {
    background: #ff800f;
    fill: #ff800f;
}

.highcontrast .presumed,
.highcontrast .sea.presumed {
    background: #a2c8ec;
    fill: #a2c8ec;
}

.highcontrast .known,
.highcontrast .sea.known {
    background: #006ba8;
    fill: #006ba8;
}

.highcontrast .list-search,
.highcontrast .controls button.active,
.highcontrast .habitat_element,
.highcontrast .main .changetab,
.highcontrast .main .changetab.active,
.highcontrast .tabbed_element_container {
    border-color: black;
}



/* 
    DARK THEME:
   FUN PROJECT NOT EVEN SLIGHTLY THERE
*/

.darktheme .listheader,
.darktheme .viewselector {
    border-color: #b3b1b1;
    background: #424141;
}


.highcontrast .controls button.active,
.highcontrast .main .changetab.active {
    border-bottom-color: white;
}

.darktheme header,
.darktheme {
    color: white;
    background: black;
}

.darktheme .title_header {
    background: #570808;
}

.darktheme .list-search,
.darktheme .main-content{
    color: white;
    background: #201f1f;
}

.darktheme p,
.darktheme h1,
.darktheme h2,
.darktheme h3 {
    color:white;
}


.darktheme .byline {
   color: rgb(202, 202, 202)
}

.darktheme .button.primary,
.darktheme .main button.primary {
    background: #ca1c35;
    color: white;
}

.darktheme .controls button.active{
    background:transparent;
    color:white;
    border-bottom:transparent;
}