/*
    CODE DIRECTLY OBTAINED FROM "Inline stylesheet RL2015".
*/


#risklevellegend {
    width: 100%;
    height: auto;
}

    #risklevellegend img {
        zoom: 2;
        display: block;
        margin: auto;
        height: auto;
        max-height: 100%;
        width: auto;
        max-width: 100%;
    }


/* CATEGORY BAR */

.category_displayer{
    font-size:0;
}

.category_displayer li {
    display: inline-block;
    margin-bottom: 15px;
    color: black;
    margin: 0px;
    vertical-align: top;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    padding: 5px;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:20px;
    height:auto;
    position: relative;
}

.category_displayer .category_item {
    height: 54px;
    width: 54px;
    border-radius: 5px;
    border: 2px solid grey;
    text-align: center;
    font-size: 22px;
    color: grey;
    vertical-align: middle;
    background-color: white;
}

.category_displayer .category_item span {
    font-size: 8pt;
    display: block;
    line-height: 1;
    width: 100%;
     
}

.category_displayer .category_rl {
    border-top: 4px solid grey;
}

.category_displayer .category_threatened {
    border-bottom: 4px solid red;
}

.category_displayer .category_rl.start_line:before,
.category_displayer .category_rl.stop_line:after {
    content: "";
    background: grey;
    position: absolute;
    top: 0;
    right: 0;
    height: 10px;
    width: 4px;
}

.category_displayer .category_rl.start_line:before {    
    left: 0;
}


.category_displayer .category_rl.category_threatened.start_line:before,
.category_displayer .category_rl.category_threatened.stop_line:after {    
    background: red;
    bottom: 0;
    top:auto;
    right: 0;
    background:red;
}

.category_displayer category_rl.category_threatened.start_line:before {
    left: 0;
}

.topbar_label,
.bottombar_label {
    position: absolute;
    background: white;
    left: 150px;
    padding-left: 10px;
    padding-right: 10px;
    z-index:1;
}

.topbar_label {
    top: -10px;
    left: 120px;
}


.bottombar_label {
    bottom: -10px;
    left: 67px;;
    
}

.category_item.active {
    border-color: black;
    background: #4c4a48;
    color: white;
}