/*
    CODE DIRECTLY OBTAINED FROM "Inline stylesheet RL2015".
*/

/* CATEGORY BAR */

.category_displayer {
    font-size: 0;
    max-width: 100%;
    position: relative;
    overflow-x: visible;
    display: flex;
    justify-content: space-between;
}

.category_displayer::before {
    content: "";
    background: #4c4a48;
    position: absolute;
    top: 38px;
    right: 10px;
    height: 1px;
    left: 10px;
}

.category_displayer li {
    display: inline-block;
    margin-bottom: 8px;
    margin: 0px;
    vertical-align: top;
    padding-top: 14px;
    padding-bottom: 5px;
    margin-bottom: 20px;
    height: auto;
    position: relative;
    margin: 3px;
    width: 40px;
}

.category_displayer .category_item {
    height: 40px;
    width: 40px;
    border-radius: 2px;
    margin:auto;
}

.category_displayer span {
    font-size: 8pt;
    display: block;
    line-height: 1;
    width: 100%;
    color: #4c4a48;
    text-align: center;
    padding-top: 5px;
}

.category_displayer .category_item span {
    margin: auto;
    padding-top:0;
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
    color: inherit;
    line-height: 40px;
}

.category_displayer li.active {
    width: 66px;
    padding-top:0;
    font-weight:bold;
}

.category_displayer li.active .category_item {
    border: 3px solid transparent;
    height: 66px;
    width: 66px;
}

.category_displayer li.active span {
    font-size:12pt;
}

.category_displayer li.active .category_item span {
    line-height: 64px;
    font-size: 24pt;
}

@media only screen and (max-width: 510px) {
    .category_displayer::before {       
        top: 34px;
    }

    .category_displayer li {
        width: 25px;
        padding-top:20px;
    }
    .category_displayer .category_item {
        width: 25px;
        height: 25px;
    }
    .category_displayer .category_item span {
        font-size: 12pt;
        line-height: 25px;
    }
    .category_displayer .notactive .tag{
       display:none;
    }

}

@media only screen and (max-width: 345px) {

    .category_displayer::before {
        top: 30px;
    }

    .category_displayer li{
        margin:1px;
    }

    .category_displayer li.active .category_item {
        height: 50px;
        width: 50px;
    }

    .category_displayer li.active .category_item span {
        line-height: 40px;
        font-size: 18pt;
    }

    .category_displayer .category_item {
        width: 19px;
        height: 19px;
    }

    .category_displayer .category_item span {
        font-size: 9pt;
        line-height: 19px;
    }
}

.category_displayer .isactive .category_item,
.category_displayer .notactive .category_item {
    background: white;
    color: #4c4a48;
    border: 1px solid #4c4a48;
}

li.active  .category_item.NR {
    border: 1px solid #4c4a48;
}

/* COLOURS */


.RE {
    background: #5a5b5d;
}

.CR {
    background: #99191a;
}

.EN {
    background: #d80f27;
}

.VU {
    background: #e94f33;
}

.NT {
    background: #ed6c26;
}

.DD {
    background: #f7a520;
}

.LC {
    background: #60beb2;
}

.NA {
    background: #939598;
}

.NE {
    background: #d1d3d4;
}

.SE {
    background: #4F1052;
}

.HI {
    background: #2E4073;
}

.PH {
    background: #296473;
}

.LO {
    background: #5c9c94;
}

.NK {
    background: #94A360;
}

.NR {
    background: #FFFFFF;
}

.RE span,
.CR span,
.EN span,
.VU span,
.DD span,
.LC span,
.NT span,
.SE span,
.HI span,
.PH span,
.LO span,
.NK  span {
    color: white;
}

span.percent {
    color: #262F31;
}

.active .RE span,
.active .CR span,
.active .EN span,
.active .VU span,
.active .DD span,
.active .LC span,
.active .NT span,
.active .SE span,
.active .HI span,
.active .PH span,
.active .LO span,
.active .NK span {
    color: white;
}

.NA,
.NE,
.NR {
    color: #1c1c1c;
}

.NR {
    border: 1px solid #1c1c1c;
}

.criteria_displayer li{
    flex:1;
}

.criteria_displayer .isactive .category_item {
    background: black;
    color: white;
}

.criteria_displayer{
    padding-bottom:10px;
}
