/*
    CODE DIRECTLY OBTAINED FROM "Inline stylesheet RL2015".
*/

/* CATEGORY BAR */

.category_displayer {
    font-size: 0;
    max-width: 100%;
    position: relative;
    display: flex;
    overflow-x:auto;
}

.category_displayer::before{
    content: "";
    background: grey;
    position: absolute;
    top: calc(50% - 10px);
    right: 0;
    height: 5px;
    width: 100%;
}

.category_displayer li {
    display: inline-block;
    margin-bottom: 15px;
    margin: 0px;
    vertical-align: top;
    padding: 0px;
    padding-top:20px;
    padding-bottom:20px;
    margin-bottom:20px;
    height:auto;
    position: relative;
}

.category_displayer .category_item {
    height: 65px;
    width: 65px;
    padding: 5px;
    padding-top: 2px;
    border-radius: 2px;
    border: 5px solid transparent;
    text-align: center;
    font-size: 22px;
    vertical-align: middle;
    background-clip: padding-box;
}

.category_displayer .category_item span {
    font-size: 8pt;
    display: block;
    line-height: 1;
    width: 100%;
     
}
.category_item.active {
    border-color: black;
}

@media only screen and (min-width: 651px) {
    .topbar_label,
    .bottombar_label {
        position: absolute;
        background: white;
        left: 150px;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 1;
    }
}

@media only screen and (min-width: 940px) and (max-width: 1050px) {
    /* Tiny jump where sidebar makes page smaller */
    .category_displayer .category_item {
        width: 59px;
        border-width: 3px;
    }

    .category_displayer {
        width: 533px;
    }
}

@media only screen and (max-width: 650px) {
    .category_displayer::before {
        content: "";
        background: grey;
        position: absolute;
        top: 0;
        left: 40px;
        height: 100%;
        width: 5px;
    }

    .category_displayer {
        margin-bottom: 10px;
    }

    .category_displayer li {
        position: relative;
        display: block;
        height: 50px;
        max-width: 100%;
        margin: 0px;
        padding: 0px;
        padding-left: 10px;
        border-left: 4px solid transparent;
    }

    .category_displayer .category_item {
        width: 50px;
        height: 50px;
    }

    .category_displayer .category_item span {
        position: absolute;
        left: 70px;
        color: black;
        font-size: 12pt;
        text-align: left;
        top: 50%;
    }
       
}

