.arrow-down {
  border: 0px;
  background-color: #0000;
}

li.checkbox, .filter_groups ul {
  list-style-type: none;
}

.controls span, a>button {
  pointer-events: none;
}

.controls_right {
  display: none;
}

.list_header_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-wrap: normal;
    width: calc(100% - 30px);
}

button.list_header {
    display: flex;
    flex-direction: row;
}

h3.toggle_filter {
        display: flex;
        flex-direction: row;
}

.list_header {
  align-items: center;
}

button.close_filters {
    display: none;
}

.filters_bottom {
    margin-top: 10px;
}

@media only screen and (max-width: 750px) {
    .controls {
        background-color: #fff;
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;
    }

    .controls_right {
        padding-left: 5px;
    }

    .controls_left {
        padding-right: 5px;
    }

    .controls_left, .controls_right {
        display: flex;
        flex-wrap: nowrap;
    }

    .controls button {
        margin: 3px;
        margin: 0;
        flex: 1;
    }

    .close_reset_filter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 10px;
        background-color: #f7f7f7;
        border-bottom: 1px solid lightgray;
    }

    
    .search-and-filter {
        padding: 10px 0;
        border-bottom: 1px solid lightgray;
        background-color: #fff;
    }

    .show_filters {
        display: inline-block;
        width: 100%;
        text-align: center;
        background:hotpink;
    }

    .toggle_filter {
        margin: 0;
        height: 100%;
        justify-content: center;
    }

    .filter_groups {
        background-color: #f7f7f7;
        padding-top: 15px;
    }

    .filter_group {
        width: 100%;
        padding: 0px;
        padding-right: 5px;
    }

    .filter_group ul {
        background: #f0f0f0;
        padding: 5px;
    }

    .filter_group h4 {
        width: 100%;
        background: white;
        text-align: left;
        border: 1px solid lightgrey;
        padding: 10px;
        border-right: 0;
        border-left: 0;
        margin: 0;
    }

    .controls button {
        font-size: 10pt;
    }

    .controls .material-icons {
        display: block;
        font-size: 15pt;
    }

    #navbar-mobile {
        z-index: 1;
    }

    #filters_scrollable {
        max-height: 90vh;
        overflow-y: scroll;
        background: white;
        border: 1px solid lightgray;
    }

    li.checkbox {
        margin: 5px;
    }

    .filters_bottom {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;

    }

    .filters_bottom button {
        margin: 5px;
    }
} 

/* Collapsible */
input[type=checkbox]:checked#show_area~.filter_area,
input[type=checkbox]:checked#show_category~.filter_category,
input[type=checkbox]:checked#show_region~.filter_region,
input[type=checkbox]:checked#show_european_population~.filter_european_population,
input[type=checkbox]:checked#show_criteria~.filter_criteria,
input[type=checkbox]:checked#show_habitat~.filter_habitat,
input[type=checkbox]:checked#show_extinct~.filter_extinct,
input[type=checkbox]:checked#show_species_groups~.filter_species_groups {
  display: none;
}

.filter_area,
.filter_category,
.filter_region,
.filter_european_population,
.filter_criteria,
.filter_extinct,
.filter_habitat,
.filter_species_groups {
    display: block;
}

.collapse_checkbox {
    display: none;
}

/* FILTER GROUP */

.filter_group {
    margin-top: -1px;
    border-left: 1px solid lightgray;
    margin-right: 6px;
    border-right: 1px solid lightgray;
}

.filter_group ul {
    background: #f0f0f0;
    padding: 5px;
}

/* FILTER GROUP HEADING*/
.list_header .material-icons {
    float: right;
}

.filter_group button {
    width: 100%;
    background: white;
    text-align: left;
    border: 1px solid lightgrey;
    padding: 10px;
    border-right: 0;
    border-left: 0;
    margin: 0;
}

.filter_group button:hover,
.filter_group button:focus, 
.filter_group button:active {
    cursor: pointer;
    background: #7f726b;
    color:white;
}

.controls_left button label {
    display: block;
    padding: 6px 12px;
}

.controls_left button label:hover{
    cursor:pointer;
}

#open_filter {
    display: none;
}

#filters_scrollable{
    position:relative;
}

.main .closebutton {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px;
    border: 0px;
    background: none;
    border-radius:2px;
}
