/* CONTROL BUTTONS */


/* View control bar */

.controls {
    border-bottom: 1px solid #7f726b;
}

button#open_filter {
    display: none;
}

@media only screen and (min-width: 750px) {
    .controls {
        margin-left: 220px;
    }

    .empty_filters {
        margin-left: 205px;
    }
}

.controls button {
    margin-bottom: -1px;
    border: 1px solid #7f726b;
    margin-left: 0;
    margin-right: 4px;
}

.controls button.active {
    border: 1px solid #7f726b;
    color: black;
    background: white;
    border-bottom-color: white;
    border-left-color: lightgray;
}

.controls button.active:first-child {
    border-left-color: lightgray;
}

.empty_filters {
    padding-left: 15px;
}

.empty_filters .button {
    margin: 0;
}

.controls .list_actions {
    width: 150px;
    max-width: 150px;
    height: 30px;
    background: white;
    border: 1px solid black;
    text-align: center;
    margin: 0;
    position: relative;
}

.controls .list_actions:first-child{
    margin-right:2px;
}

.controls .list_actions:last-child {
    margin-left: 2px;
}

.controls .list_actions .material-icons {
    display: inline-block;
}

.list_control_buttons {
    display:inline-block;
    float:right;
}



@media only screen and (max-width: 750px) {
    .list_control_buttons {
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
        float: right;
        width: 304px;
        padding-top: 2px;
    }

    .controls .list_actions {
        height: 44px;
        flex: 1;
    }

    .controls {
        padding-top: 0px;
    }

    .toggle_filter .filternumber {
        position: absolute;
        right: 0;
    }
}

@media only screen and (max-width: 500px) {
    .list_control_buttons {
        display: flex;
        justify-content: center;
        padding-bottom: 12px;
        padding-top: 12px;
        float: none;
        width: 100%;
    }
}



@media only screen and (max-width: 750px) {

    .controls button {
        font-size: 10pt;
    }

    .controls .material-icons {
        display: block;
        font-size: 15pt;
    }

    /* Filter button */  

    .empty_filters_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .empty_filters_mobile span {
        font-size: 10pt;
    }

    .empty_filters_mobile a.button {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        padding-right: 2px;
    }
}




button.close_filters {
    display: none;
}

/* MOBILE OPEN MODAL */

#filters_scrollable {
    position: relative;
}

.modal_background_open {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
    top: 0px;
    bottom: 0px;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 12;
}

.modal_background_open:hover{
    cursor:pointer;
}

/* FILTER */
.arrow-down {
    border: 0px;
    background-color: #0000;
}

.filtercontainer{
    box-sizing: border-box;
    max-width: 220px;
    width: 220px;
    padding: 5px;
    margin-top: -1px;
    flex: none;
    padding-top:0;
    padding-bottom:1px;
}

.filter {
    justify-content: flex-start;
    width: 15%;
}

li.checkbox label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
}

.label_text {
    width: 100%;
}

.filter_groups ul {
    list-style-type: none;
}

.filter_groups ul.insect_filters {
    padding-right: 0;
}

div.filter_insects {
    margin-left: 15px;
}

.list_header_insects {
    background-color: transparent;
}

.filter_insects {
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
}

#list_header_insects {
    padding-right: 3px;
}

.list_header_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-wrap: normal;
    width: calc(100% - 30px);
}

button.list_header {
    display: flex;
    flex-direction: row;
}

.list_header {
  align-items: center;
}



.filters_bottom {
    margin-top: 10px;
}

.filter_header {
    padding: 0;
    margin-top: 0;
}

.filter_header .material-icons {
    padding-right: 5px;
}

#show_all_insects {
    display: none;
}

@media only screen and (max-width: 750px) {

    .show_filters {
        display: inline-block;
        width: 100%;
        text-align: center;
        background:hotpink;
    }

    .toggle_filter {
        margin: 0;
        height: 100%;
        justify-content: center;
    }

    li.checkbox {
        margin: 5px;
    }

    #navbar-mobile {
        z-index: 1;
    }

    .filter_background {
        height: 100%;
        background: #f7f7f7;
        border: 1px solid lightgray;
        width: 90%;
        max-width: 90vw;
    }

    .filter_scroll_area {
        max-height: calc(100vh - 110px);
        overflow: scroll;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .filters_bottom {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;

    }

    .filters_bottom button {
        margin: 5px;
    }

    .filter_groups h3 {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }

    .filter_insects {
        margin-bottom: 10px;
    }

    #show_all_insects {
        display: inline-block;
        white-space: nowrap;
    }
} 

.collapse_checkbox,
.meta_checkbox {
    display: none;
}

/* FILTER GROUP */

.filter_group {
    margin-top: -1px;
}

.filter_group ul {
    background: #F5F5F5;
    padding: 5px;
}

@media only screen and (max-width: 750px) {

    .filter_groups {
        background-color: #f7f7f7;
        padding-top: 15px;
    }

    .filter_group {
        width: 100%;
        padding: 0px;
        padding-right: 5px;
    }

    .filter_group ul {
        background: #f0f0f0;
        padding: 5px;
    }

}



/* FILTER GROUP HEADING*/
.list_header .material-icons {
    float: right;
}

.filter_group button {
    width: 100%;
    background: white;
    text-align: left;
    border: 1px solid lightgrey;
    padding: 10px;
    border-right: 0;
    border-left: 0;
    margin: 0;
    font-weight: normal;
    text-transform: none;
}

.filter_group button:hover,
.filter_group button:focus, 
.filter_group button:active {
    cursor: pointer;
    background: #7f726b;
    color:white;
}


/* FILTER NUMBER (count icon) */

.filternumber {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    background: #7f726b;
    border-radius: 2px;
    color: white;
    font-size: 10pt;
    min-width: 22px;
    height: 22px;
    background-clip: padding-box;
    background: #777368;
    color: white;
    text-align: center;
    height: 20px;
    display: inline-block;
    padding: 0 5px;
}
.filter_group button:hover .filternumber,
.filter_group button:focus .filternumber,
.filter_group button:active .filternumber {
    color: #7f726b;
    background: white;
}

.filternumber:empty {
    display: none;
}
