/* CONTROL BUTTONS */



/* View control bar */

.controls {
    border-bottom: 1px solid #7f726b;
}

@media only screen and (min-width: 751px) {
    .controls {
        margin-left: 260px;
    }

    .empty_filters {
        /*margin-left: 205px;*/
    }

    button.submit_filters,
    button.close_filters {
        display: none;
    }

    .no_js button.submit_filters {
        display: inline-block;
        position: absolute;
        top: 0;
        min-width: 81px;
        right: 0;
    }

    .empty_filters {
        min-height: 76px;
    }
}

.controls button {
    margin-bottom: -1px;
    margin-left: 0;
    margin-right: 4px;
}

.main .controls button.active {
    border: 1px solid #7f726b;
    color: black;
    background: #fff9f0;
    border-bottom-color: #fff9f0;
    border-left-color: lightgray;
}

.controls button.active:first-child {
    border-left-color: lightgray;
}

.empty_filters {
    padding-left: 15px;
}

.empty_filters .button {
    margin: 0;
}

.controls .list_actions {
    width: 150px;
    max-width: 150px;
    height: 30px;    
    text-align: center;
    margin: 0;
    position: relative;
}

.controls select {
    background: white;
    border: 1px solid black;
}

.controls .list_actions:first-child {
    margin-right: 2px;
    height: inherit;
}

.controls .list_actions:last-child {
    margin-left: 2px;
}

.controls .list_actions .material-icons {
    display: inline-block;
}

.list_control_buttons {
    display:inline-block;
    float:right;
}

.list_control_buttons span {
    vertical-align: middle;
}

.controls > span.desktop_hide {
    float: right;
    margin-bottom: -10px;
    margin-right: 0px;
}

.controls > span.desktop_hide.hit-counter {
    float: inherit;
    margin-bottom: inherit;
    margin-right: inherit;
    padding-bottom: 8px;
}

.list_control_buttons span.hit-counter {
    margin-right: 10px;
}



@media only screen and (min-width: 501px) and (max-width: 751px) {
    .list_control_buttons {
        display: block;
        padding: 0;
        max-width: calc(100% - 134px);
        width: 100%;
        text-align: right
    }

    .mobile_hide.hit-counter {
        display: none;
    }

    .hit-counter {
        display: block;
    }

    .controls .list_actions:first-child {
        float: left;
        height: 100%;
        height: 50px;
        margin-right: calc(100% - 350px); /* Avoid wrap of select*/
    }
}


@media only screen and (min-width:751px) and (max-width: 1390px) {
    .list_control_buttons {
        display: block;
        float: none;
        text-align: right;
    }

    .list_control_buttons span.hit-counter {
        float: left;
        padding: 5px 0px;
    }
}



@media only screen and (max-width: 750px) {

    .controls button {
        font-size: 10pt;
    }

    .controls .material-icons {
        display: block;
        font-size: 15pt;
    }

    /* Filter button */  

    .empty_filters_mobile {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        text-transform: uppercase;
        font-weight: bold;
    }

    .empty_filters_mobile span {
        font-size: 10pt;
    }

    .empty_filters_mobile a.button {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        padding-right: 2px;
    }
}
@media only screen and (max-width: 500px) {
    .list_control_buttons {
        display: flex;
        justify-content: space-between;
        padding-bottom: 12px;
        padding-top: 12px;
        float: none;
        width: 100%;
        max-width: 100%
    }
}


/* MOBILE OPEN MODAL */

.filter_background  {
    position: relative;
    width: auto;
    top: auto;
    left: auto;
}

.modal_background_open {
    background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
    top: 0px;
    bottom: 0px;
    position: fixed;
    left: 0;
    right: 0;
    width: 100vw;
    height: 100vh;
    z-index: 12;
}

.modal_background_open:hover{
    cursor:pointer;
}

/* CSS specific to iOS devices */
@supports (-webkit-overflow-scrolling: touch) {
    .filter_scroll_area {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
}

/* FILTER */
.arrow-down {
    border: 0px;
    background-color: #000;
}

.filtercontainer{
    box-sizing: border-box;
    max-width: 260px;
    width: 260px;
    padding-right: 10px;
    margin-top: -1px;
    flex: none;
    padding-top:0;
    padding-bottom:1px;
}

.filter {
    justify-content: flex-start;
    width: 15%;
}

li.checkbox label {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    list-style-type: none;
}

.label_text {
    width: 100%;
    hyphens: auto;
}

.filter_groups ul {
    list-style-type: none;
}

.filter_groups ul.Alger_filters,
.filter_groups ul.Insekter_filters,
.filter_groups ul.Krepsdyr_filters {
    padding-right: 0;
}

div.filter_subgroup {
    margin-left: 15px;
}

.list_header {
    background-color: transparent;
}

.filter_subgroup,
.mark_all {
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

label.switch_list_element {
    margin: 5px 0;
}

.list_header_text {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-wrap: normal;
    width: calc(100% - 30px);
}

button.list_header {
    display: flex;
    flex-direction: row;
}

.list_header {
  align-items: center;
}

.filters_bottom {
    margin-top: 10px;
}

.filter_header {
    padding: 0;
    margin-top: 0;
}

.filter_header .material-icons {
    padding-right: 5px;
}

@media only screen and (max-width: 750px) {

    .show_filters {
        display: inline-block;
        width: 100%;
        text-align: center;
        background:hotpink;
    }

    .toggle_filter {
        margin: 0;
        height: 100%;
        justify-content: center;
    }

    li.checkbox {
        margin: 5px;
    }

    #navbar-mobile {
        z-index: 1;
    }

    .filter_background {
        height: 100%;
        background: #fff9f0;
        border: 1px solid lightgray;
        width: 90%;
        max-width: 90vw;
    }

    .filter_scroll_area {
        max-height: calc(100vh - 170px);
        overflow-y: scroll;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }

    .filters_bottom {
        display: flex;
        justify-content: space-evenly;
        margin-top: 10px;

    }

    .filters_bottom button {
        margin: 5px;
    }

    .filter_groups h3 {
        width: 100%;
        overflow: hidden;
        text-align: center;
    }

    .filter_subgroup {
        margin-bottom: 10px;
    }
} 

.collapse_checkbox,
.meta_checkbox {
    display: none;
}

/* FILTER GROUP */

.filter_info_text,
.filter_group ul {
    padding: 5px;
    padding-left:20px
}

@media only screen and (max-width: 750px) {

    .filter_groups {
        padding-top: 15px;
    }

    .filter_group {
        width: 100%;
        padding: 0px;
        padding-right: 5px;
    }
}



/* FILTER GROUP HEADING*/
.list_header .material-icons {
    float: right;
}

.filter_group button {
    width: 100%;
    background: #fff9f0;
    text-align: left;
    border: 0;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    margin: 0;
    font-weight: normal;
    text-transform: none;
    padding-left: 0;
    font-weight: bold;
}

.filter_group button:hover,
.filter_group button:focus, 
.filter_group button:active {
    cursor: pointer;
    background: #7f726b;
    color:#fff9f0;
}


/* FILTER NUMBER (count icon) */

.filternumber {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
    background: #7f726b;
    border-radius: 2px;
    color: #fff9f0;
    font-size: 10pt;
    min-width: 22px;
    height: 22px;
    background-clip: padding-box;
    background: #777368;
    color: #fff9f0;
    text-align: center;
    height: 20px;
    display: inline-block;
    padding: 0 5px;
}
.filter_group button:hover .filternumber,
.filter_group button:focus .filternumber,
.filter_group button:active .filternumber {
    color: #7f726b;
    background: #fff9f0;
}

.filternumber:empty {
    display: none;
}

.filterbox{
    display:block;
    margin-top:10px;
}

/* AFTER REFACTOR: */

@media only screen and (max-width: 750px) {
    #open_filter.only_mobile {
        display: initial;
    }
}
@media only screen and (min-width: 751px) {
    #open_filter.only_mobile {
        display: none;
    }
}

@media only screen and (max-width: 750px) {
    .hide_on_smallscreen {
        display: none;
    }

    .filteX {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 20;
        max-height: 100vh;
        height: 100vh;
        z-index: 15;
    }

    .filtercontainer,
    .filteX {
        max-width: 100%;
        width: 100%;
    }

    #filter_modal_background {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%;
        top: 0px;
        bottom: 0px;
        position: fixed;
        left: 0;
        right: 0;
        width: 100vw;
        height: 100vh;
        z-index: 12;
    }


.modal_background_open:hover{
    cursor:pointer;
}

    .filter_modal_background,
    .filteX {
        display: block;
    }

    .filteX.hide_on_smallscreen {
        display: none;
    }


    /* Filters for users without javascript */

    .no_js .close_reset_filter,
    .no_js .close_filters,
    .toggle_filter.no_js {
        display: none;
    }

    .no_js #filter_modal_background{
        position:relative;
    }

    .no_js .filter_background,
    .filteX.no_js {
        display: inline-block;
        position: relative;
        width: 100%;
        max-width: 100%;
        display: block;
    }
}

.only_js .filter_area,
.only_js .filter_category,
.only_js .filter_ecologicaleffect,
.only_js .filter_environment,
.only_js .filter_invasionpotential,
.only_js .filter_naturetypes,
.only_js .filter_categorychanged,
.only_js .filter_subgroup,
.only_js .filter_speciesstatus,
.only_js .filter_region,
.only_js .filter_regionallyalien,
.only_js .filter_regions,
.only_js .filter_waterregions,
.only_js .filter_europop,
.only_js .filter_criterias,
.only_js .filter_presumedextinct,
.only_js .filter_habitat,
.only_js .filter_habitats,
.only_js .filter_species_groups,
.only_js .filter_speciesgroups,
.only_js .filter_taxon_rank,
.only_js .filter_geographicvariations,
.only_js .filter_climateeffects,
.only_js .filter_taxonrank,
.only_js .filter_spreadways,
.only_js .filter_notassessed,
.only_js .filter_productionspecies {
    display: block;
}

/*Hide the filters initially*/
/*sub groups*/
.only_js input[type=checkbox]:not(:checked)#show_assessedchangedcategory ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_dcin ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_dcok ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_axbdescription ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_eds ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_insekter ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_sal ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_insecta ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_crustacea ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_taxonomicrank ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_climateaffected ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_climatenotaffected ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_importation ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_introduction ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_spread ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_regionoccurrence ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_nta ~ .filter_subgroup,
.only_js input[type=checkbox]:not(:checked)#show_ntn ~ .filter_subgroup,
/*groups*/
.only_js input[type=checkbox]:not(:checked)#show_area ~ .filter_area,
.only_js input[type=checkbox]:not(:checked)#show_category ~ .filter_category,
.only_js input[type=checkbox]:not(:checked)#show_categorychanged ~ .filter_categorychanged,
.only_js input[type=checkbox]:not(:checked)#show_ecologicaleffect ~ .filter_ecologicaleffect,
.only_js input[type=checkbox]:not(:checked)#show_environment ~ .filter_environment,
.only_js input[type=checkbox]:not(:checked)#show_naturetypes ~ .filter_naturetypes,
.only_js input[type=checkbox]:not(:checked)#show_invasionpotential ~ .filter_invasionpotential,
.only_js input[type=checkbox]:not(:checked)#show_decisivecriterias ~ .filter_decisivecriterias,
.only_js input[type=checkbox]:not(:checked)#show_region ~ .filter_region,
.only_js input[type=checkbox]:not(:checked)#show_regionallyalien ~ .filter_regionallyalien,
.only_js input[type=checkbox]:not(:checked)#show_regions ~ .filter_regions,
.only_js input[type=checkbox]:not(:checked)#show_waterregions ~ .filter_waterregions,
.only_js input[type=checkbox]:not(:checked)#show_europop ~ .filter_europop,
.only_js input[type=checkbox]:not(:checked)#show_criterias ~ .filter_criterias,
.only_js input[type=checkbox]:not(:checked)#show_speciesstatus ~ .filter_speciesstatus,
.only_js input[type=checkbox]:not(:checked)#show_habitat ~ .filter_habitat,
.only_js input[type=checkbox]:not(:checked)#show_habitats ~ .filter_habitats,
.only_js input[type=checkbox]:not(:checked)#show_presumedextinct ~ .filter_presumedextinct,
.only_js input[type=checkbox]:not(:checked)#show_species_groups ~ .filter_species_groups,
.only_js input[type=checkbox]:not(:checked)#show_speciesgroups ~ .filter_speciesgroups,
.only_js input[type=checkbox]:not(:checked)#show_productionspecies ~ .filter_productionspecies,
.only_js input[type=checkbox]:not(:checked)#show_taxon_rank ~ .filter_taxon_rank,
.only_js input[type=checkbox]:not(:checked)#show_geographicvariations ~ .filter_geographicvariations,
.only_js input[type=checkbox]:not(:checked)#show_climateeffects ~ .filter_climateeffects,
.only_js input[type=checkbox]:not(:checked)#show_spreadways ~ .filter_spreadways,
.only_js input[type=checkbox]:not(:checked)#show_notassessed ~ .filter_notassessed,
.only_js input[type=checkbox]:not(:checked)#show_taxonrank ~ .filter_taxonrank {
    display: none;
}
