
/* STATISTICS AND GRAPHS */

.viewselector.stat .redlist,
.viewselector .graphs {
    display: none;
}

.viewselector.stat .graphs {
    display: block;
}

.graphs .statelement {
    padding: 2px;
}


.graph {
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.statelement {
    display: inline-block;
    padding: 10px;
    flex: 1;
    text-align: center;
}


.graph .heightbar_blank,
.graph .heightbar_indicator {
    height: 200px;
}

.heightbar_blank,
.heightbar_indicator {
    display: block;   
    position: relative;
    width: 100%;
}


.graph .heightbar_indicator {
    bottom: 0;
    margin-bottom: 0;
    margin-top: auto;
    position: absolute;
    margin-bottom: 2px;
}

.heightbar_indicator {
    background: grey;
}

.greyscale .statelement:nth-child(even) .heightbar_indicator {
    background: #3d3b3a;
}

.statbox {
    display: block;
    padding: 10px;
}



.percent {
    position: absolute;
    top: -15px;
    color: black;
    left: 0px;
    font-size: 8pt;
    text-align: center;
    width: 100%;
}

.downboxcontainer {
    font-size: 10pt;
    height: 179px;
    display: block;
    position: relative;
    background: none;
}

.downtext {
    transform: rotate(90deg);
    display: block;
    position: absolute;
    top: 93px;
    left: -62px;
    z-index: 2;
    height: 1vw;
    width: 180px;
    text-align: initial;
}


/* downwards graph */
.down_graph {
    padding-right:15px;
}
.down_graph .statelement {
    width: 100%;
    height: auto;
    display: flex;
    padding: 0;
    text-align: left;
    margin: 2px;
    align-items: stretch
}


.down_graph .statbox {
    width: 112px;
    background: none;
    display: inline-block;
    padding: 0;
    padding-right: 5px;
    text-align: right;
    font-size: 10pt;
}

.down_graph .heightbar_blank,
.down_graph .heightbar_indicator {
    min-height: 20px;
    height:auto;
}

.down_graph .statelement .heightbar_blank {
    width: calc(100% - 120px);
    max-width: 300px;
    display: flex;
    align-items: stretch
}


.down_graph .statelement .percent {
    position: absolute;
    top: 0;
    text-align: right;
    height: 100%;
    padding: 4px;
    width: 100%;
    width: 1px;
    margin-left: 100%;
}

