

/* PAGINATOR FOR LIST PAGE*/

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 10pt;
    list-style: none;
    flex-wrap: wrap;
}

.page-link {
    padding: .375rem .75rem;
    position: relative;
    display: block;
    color: #4c4a48;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4c4a48;
    border-color: #4c4a48;
}

.page-link:hover {
    background-color: gray;
    border-color: #4c4a48;
    color: white;
}



/* Styling table slightly while working with it */

td {
    padding: 10px;
}

/* View control bar */
@media only screen and (max-width: 650px) {
    .controls {
        display: flex;
        justify-content: space-between;
    }

    .main button.hideonmobile {
        display: none;
    }
}

/* REDLIST VIEW */

.current_view {
    background-color: lightgreen;
    border: 0;
}

.listwrapper {
    display: flex;
    min-height: 20px;
    width: 100%;
    max-width: 100%;
    font-size: 12pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search-and-filter {
    box-sizing: border-box;
    margin-right: 15px;
    max-width: 220px;
    border-right: 1px solid #dadada;
}



.filter {
    justify-content: flex-start;
    width: 15%;
}


/* LIST VIEW */

.redlist li {
    width: 100%;
    list-style-type: none;
}

.redlist li a {
    display: inline-grid;
    grid-template-columns: 1.5fr .8fr 1fr .5fr .5fr;
    width: 100%;
    line-height: 1;
    font-size: 12pt;
    position: relative;
    text-decoration:none;
    color:inherit;
    align-items: center;
}

.listheader {
    display: inline-grid;
    grid-template-columns: 1.5fr .8fr 1fr .5fr .5fr;
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    background-color: #fff;
    z-index: 1;
    font-weight: bold;
}


.redlist span {
    padding-left: 2px;
}

.redlist .category_tag {
        padding: 10px;
    }

.redlist li {
    padding-left:10px;
}

.redlist li span:last-child {
    text-align: right;
}

.redlist li:nth-child(even) {
    background: #fafafa;
}

li a span.element_icon {
    padding: 0;
}

.viewselector{
    width:100%;
}

/* GRID VIEW */
.viewselector.grid .listheader {
    display: none;
}

.viewselector.grid li {
    width: auto;
    display: inline;
}

    .viewselector.grid li a {
        display: inline-block;
        width: 150px;
        height: 230px;
        background: #fbfbfb;
        margin-bottom: 15px;
        margin-left: 5px;
        vertical-align: top;
        border: 1px solid #d4d4d4;
        text-align: center;
    }


.element_icon {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    flex: none;
}

.element_icon img {
    width: 100%;
    height: 100%;
    padding:5px;
}
.grid .element_icon {
    width: 150px;
    height: 150px;
    background: #eee;
    border-radius: 50%;
}

.redlist .element_area img {
    display:none;
    width: 39px;
    height:39px;

}

.listwrapper.grid .element_name {
    display: block;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    z-index: 1;
}

.listwrapper.grid .element_category {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}
.viewselector.grid .element_area,
.viewselector.grid .element_area img {
    display: inline;
    position: absolute;
    bottom: 2px;
    left: 3px;
    z-index: 1;
}


.viewselector.grid .element_category span {
    display: inline;
    position: absolute;
    bottom: 5px;
    right:5px;
    z-index: 1;
}




/* SEARCH FIELD REDLIST */

.list-search {
    margin-bottom: 50px;
    text-align: center;
}

.list-search input {
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    line-height: 21.4333px;
    margin-bottom: 0px;
    width: 285px;
    max-width: 100%;
}



.section {
    border: 1px solid grey;
    padding: 20px;
}

@media only screen and (max-width: 750px) {
    .listwrapper {
        flex-direction: column;
    }

    .redlist {
        width: 100%;
    }

    li a span.element_icon {
    padding-right: 10px;
    }

    .search-and-filter {
        margin-right: 0px;
        margin-bottom: 15px;
        width: 100%;
        max-width:100%;
        border-right:0;
    }
}

/* STATISTICS AND GRAPHS */

.viewselector.stat .redlist,
.viewselector .graphs {
    display: none;
}

.viewselector.stat .graphs {
    display: block;
}

.graphs .statelement {
    padding: 2px;
}


.graph{
    width:100%;
    display:flex;
    margin-top:50px;
    margin-bottom:50px;
}

.statelement {
    display: inline-block;
    padding: 10px;
    flex: 1;
    text-align: center;
}

.heightbar_blank,
.heightbar_indicator {
    height: 200px;
    display: block;
    margin-bottom: 2px;
    position: relative;
    width: 100%;
}

.heightbar_indicator {
    bottom: 0;
    margin-bottom: 0;
    margin-top: auto;
    position: absolute;
    background: grey;
}

.statbox {
    display: block;
    padding: 10px;
    background: grey;
}

.percent{
    position:absolute;
    top:-15px;
    color:black;
    left:0px;
    font-size:8pt;
    text-align:center;
    width:100%;
}

.downboxcontainer {
    font-size: 10pt;
    height: 179px;
    display: block;
    position: relative;
    background:none;
}

.downtext {
    transform: rotate(90deg);
    display: block;
    position: absolute;
    top: 93px;
    left: -62px;
    z-index: 2;
    height: 1vw;
    width: 180px;
    text-align: initial;
}

.filter_group h4 {
    width: 100%;
    background: white;
    text-align: left;
    border: 1px solid lightgrey;
    padding: 10px;
    border-right: 0;
    border-left: 0;
    margin: 0;
}

.list_header .material-icons{
    float:right;
}

.filter_group {
    padding-right: 5px;
}

.filter_group ul {
    background: #f0f0f0;
    padding: 5px;
}

