

/* PAGINATOR FOR LIST PAGE*/

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 10pt;
    list-style: none;
}

.page-link {
    padding: .375rem .75rem;
    position: relative;
    display: block;
    color: #4c4a48;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4c4a48;
    border-color: #4c4a48;
}

.page-link:hover {
    background-color: gray;
    border-color: #4c4a48;
    color: white;
}



/* Styling table slightly while working with it */

td {
    padding: 10px;
}

/* REDLIST VIEW */

.listwrapper {
    display: flex;
    min-height: 20px;
    width: 100%;
    max-width: 100%;
    font-size: 12pt;
    padding-top: 20px;
    padding-bottom: 20px;
}

.redlist {
    width: 85%;
}

.search-and-filter {
    flex: row;
    box-sizing: border-box;
    margin-right: 15px;
    padding: 20px;
    background: #f5f5f5;
}

.filter {
    justify-content: flex-start;
    width: 15%;
}


/* LIST VIEW */

.redlist li {
    width: 100%;
    list-style-type: none;
    hover: 
}

.redlist li a {
    display: inline-grid;
    grid-template-columns: 1.5fr .8fr 1fr .5fr .5fr;
    width: 100%;
    line-height: 1;
    font-size: 12pt;
    position: relative;
    text-decoration:none;
    color:inherit;
    align-items: center;
}

.listheader {
    display: inline-grid;
    grid-template-columns: 1.5fr .8fr 1fr .5fr .5fr;
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    background-color: #fff;
    z-index: 1000;
    font-weight: bold;
}

.redlist li span {
    padding: 10px;
}

.redlist li span:last-child {
    text-align: right;
}

.redlist li:nth-child(even) {
    background: #fafafa;
}

li a span.element_icon {
    padding: 0;
} 

/* GRID VIEW */
.redlist .listheader.grid {
    display: none;
}

.redlist.grid li{
    width:auto;
    display:inline;
}

    .redlist.grid li a {
        display: inline-block;
        width: 150px;
        height: 180px;
        background: #fbfbfb;
        margin-bottom: 15px;
        margin-left: 5px;
        vertical-align: top;
        border: 1px solid #d4d4d4;
        text-align: center;
        padding-top: 50px;
    }

.redlist.grid span {
    display: none;
}

.element_icon {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
    flex: none;
}

.element_icon img {
    width: 100%;
    height: 100%;
    padding:5px;
}
.grid .element_icon {
    width: 150px;
    height: 150px;
    background: #eee;
    border-radius: 50%;
}

.redlist .element_area img {
    display:none;
    width: 39px;
    height:39px;

}

.redlist.grid .element_name {
    display: block;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    z-index: 1;
}

.redlist.grid .element_category {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}
.redlist.grid .element_area,
.redlist.grid .element_area img {
    display: inline;
    position: absolute;
    bottom: 2px;
    left: 3px;
    z-index: 1;
}


.redlist.grid .element_category span{
    display: inline;
}




/* SEARCH FIELD REDLIST */

.list-search {
    margin-bottom: 10px;
    text-align: center;
}

.list-search input {
    display: inline-block;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    line-height: 21.4333px;
    margin-bottom: 0px;
    width: 285px;
    max-width: 100%;
}

.btn {
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background: #4c4a48;
    color: #fff;
    border: none;
    display: inline-block;
    margin-left: -1px;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    height: 45px;
}

.btn .material-icons {
    vertical-align: bottom;
    font-size: 16pt;
}

.section {
    border: 1px solid grey;
    padding: 20px;
}

@media only screen and (max-width: 750px) {
    .listwrapper {
        flex-direction: column;
    }

    .redlist {
        width: 100%;
    }

    li a span.element_icon {
    padding-right: 10px;
    }   
}

@media only screen and (max-width: 550px) {
    body {
        position: absolute;
    }

    .search-and-filter {
        margin-right: 0px;
        margin-bottom: 15px;
        width: 100%;
    }

    div.breadcrumbs, .page-header, .ingress, .bigmid h3, .controls {
        padding: 0 10px;
    }
}

.statelement{
    display:inline-block;
    padding:10px;
}

.heightbar_blank,
.heightbar_indicator{
    height:200px;
    display:block;
    margin-bottom:2px;
    position:relative;
    width:100%;
}

.heightbar_indicator{
    bottom:0;
    margin-bottom:0;
    margin-top:auto;
    position:absolute;
}
.statbox {
    display: block;
    padding: 10px;
}