
/* PAGINATOR FOR LIST PAGE*/

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    font-size: 10pt;
    list-style: none;
    flex-wrap: wrap;
}

.page-link {
    padding: .375rem .75rem;
    position: relative;
    display: block;
    color: #4c4a48;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #dee2e6;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #4c4a48;
    border-color: #4c4a48;
}

.page-link:hover {
    background-color: gray;
    border-color: #4c4a48;
    color: white;
}

/* ICON */

.element_icon {
    width: 45px;
    height: 0;
    position: relative;
    display: inline-block;
}

.element_icon img {
    width: 100%;
    height: 45px;
    padding: 5px;
    margin-top: -30%;
}


/* REDLIST VIEW */

.current_view {
    background-color: lightgreen;
    border: 0;
}

.listwrapper {
    display: flex;
    min-height: 20px;
    width: 100%;
    max-width: 100%;
    font-size: 12pt;
    padding-bottom: 20px;
}





/* LIST VIEW */

.redlist li {
    width: 100%;
    list-style-type: none;
    max-width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #e9e9e9;
}

.redlist li a {
    display: inline-grid;
    grid-template-columns: 1fr 4fr 3fr 1fr 2fr 1fr;
    width: 100%;
    line-height: 1;
    font-size: 12pt;
    position: relative;
    text-decoration: none;
    color: inherit;
    align-items: center;
    padding: 8px 0;
}



.listheader {
    display: inline-grid;
    grid-template-columns: 1fr 3fr 3fr 1fr 2fr 1fr;
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    background-color: #fff;
    z-index: 1;
    font-weight: bold;
    padding: 5px 0;    
    text-align: left;
}

.listheader span:last-child{
    text-align:right;
}

.redlist .listheader {
    border-bottom: 1px solid #4c4a48;
    padding-bottom:5px;
    padding-right:5px;
}

.list a:hover,
.list a:focus,
.list a:active {
    background-color: #e9e9e9;
}




@media only screen and (min-width: 750px) {

    .element_species {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
    }

    .element_speciesgroup{
        display: inline-grid;
        grid-template-columns: 2fr 45px;
        text-align:right;
    }
}


.redlist .category_tag {
    padding: 9px;
    width: 41px;
    display: block;
    height: 41px;
    padding-top: 13px;
}




li a span.element_icon {
    padding: 0;
}

.viewselector {
    width: 100%;
    border-left: 1px solid lightgrey;
    padding-left: 10px;
    padding-top: 10px;
}


/* LIST MOBILE VS FULL SIZE */

.allsize,
.fullsize {
    display: inline-block;
}

.mobile{
    display:none;
}

.element_name {
    font-style: italic;
}


@media only screen and (max-width: 750px) {
    .fullsize {
        display: none;
    }

    .mobile {
        display: inline-block;
    }

    .listheader,
    .redlist li a {
        grid-template-columns: 1.5fr 5fr 84px;
        padding: 4px 0;
    }

    .element_popular_name{
        font-weight:bold;
    }

    .element_speciesgroup{
        display:block;
        text-align:center;
    }

    .element_popular_name {
        font-size: 12pt;
        display: block;
        padding-bottom: 5px;
    }

    .element_speciesgroup span {
        display: block;
        font-size: 8pt;
    }

    .element_area.mobile {
        display: block;
        font-size: 10pt;
        color: gray;
        padding-top: 2px;
    }

    .element_icon img {
        width: 100%;
        height: 45px;
        padding: 0px;
        padding-top: 2px;
        margin-top: 0%;
    }
}

/* GRID VIEW */
.viewselector.grid .listheader {
    display: none;
}

.viewselector.grid li {
    width: auto;
    display: inline;
}

.viewselector.grid li a {
    display: inline-block;
    width: 150px;
    height: 230px;
    background: #fbfbfb;
    margin-bottom: 15px;
    margin-left: 5px;
    vertical-align: top;
    border: 1px solid #d4d4d4;
    text-align: center;
}



.grid .element_icon {
    width: 150px;
    height: 150px;
    background: #eee;
    border-radius: 50%;
}

.redlist .element_area img {
    display:none;
    width: 39px;
    height:39px;

}

.listwrapper.grid .element_name {
    display: block;
    width: 100%;
    background: white;
    position: absolute;
    top: 0;
    z-index: 1;
}

.listwrapper.grid .element_category {
    display: block;
    position: absolute;
    bottom: 5px;
    right: 5px;
    z-index: 1;
}
.viewselector.grid .element_area,
.viewselector.grid .element_area img {
    display: inline;
    position: absolute;
    bottom: 2px;
    left: 3px;
    z-index: 1;
}


.viewselector.grid .element_category span {
    display: inline;
    position: absolute;
    bottom: 5px;
    right:5px;
    z-index: 1;
}





/* OTHER THINGS */

.section {
    border: 1px solid grey;
    padding: 20px;
}

@media only screen and (max-width: 750px) {
    .listwrapper {
        flex-direction: column;
    }

    .redlist {
        width: 100%;
    }

    li a span.element_icon {
    padding-right: 10px;
    }

}

.list_header{
    position:relative;
}


/* INFOGRAPHICS */

.infographics {
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    font-size: 20px;
    display: flex;
    text-align: center;
    justify-content: stretch;
}

.infograph_element {
    padding: 10px;
    margin: 10px;
    border-radius: 2px; 
    flex:1;
}

.infograph_number {
    font-size: 20pt;
    font-weight: bold;
}

.total {
    background: #cbd2d2;
}
.total .infograph_number {
    font-size: 40pt;
}

.infograph_percent {
    font-size: 30pt;
    font-weight: bold;
}

.threatened {
    background: #2d2d2f;
    color: white;
}

.redlisted {
    background: #8b0000;
    color:white;
}