
/* remaking risk matrix to grid*/

.non-css-only {
    display: none!important;
}

.risk-level-matrix {
    display: inline-grid;
    grid-template-columns: 20px 1fr;
    margin:0;
    /*overflow-x:auto;*/
    max-width:100%;
}

.matrix-bottom-text {
    margin-top: 15px;
}

.risk-matrix {
    display: inline-flex;
    flex-direction: column;
}

li.risk-level > span {
    font-size: 22px !important;
}

.risk-matrix ul {
    display: inline-grid;
    grid-template-columns: repeat(5, 70px);
    list-style: none;
}

.rotate30 {
    transform: rotate(-15deg);
}

.risk-level-matrix .legend {
    padding-left: 66px;
}

.risk-level-matrix .legend.rotate-legend {
    padding-top: 66px;
}


/* element containers */
.risk-matrix li {
    height: 70px;
    line-height: 70px;
    text-align: center;
}

.risk-level {
    background: black;
    border: 2px solid black;
    border-bottom-width: 0px;
}

.risk-level:not(:last-child) {
    border-right: none
}

.bottom-border .risk-level {
    border-width: 2px
}

.risk-level span {
    display: block;
    height: 100%;
}

.risk-matrix li.active span {
    font-weight: bold;
    text-decoration: underline;
}

.risk-matrix li.active span,
.risk-matrix li.uncertain span {
    border: 2px solid white;
    font-size: 20px;
    line-height: 65px;
}

.risk-matrix li.uncertain span {
    border-style: dashed;
}

.risk-matrix li.description {
    line-height: initial;
    padding: 8px;
    font-size: small;
    border: none;
}

.risk-matrix li.description span {
    display: block
}

.rotate-legend {
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
}

.legend {
    text-align: center
}


/* colours */
.risk-matrix .nk span {
    background: #94A360;
    color: #201f1f
}

.risk-matrix .lo span {
    background: #5C9A94;
    color: #201f1f
}

.risk-matrix .ph span {
    background: #296473;
    color: white;
}

.risk-matrix .hi span {
    background: #2E4073;
    color: white;
}

.risk-matrix .se span {
    background: #4F1052;
    color: white;
}


.risk-matrix-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:20px;
}

.risk-matrix-container .flex-me {
    flex:1;
    min-width:50%;
}


@media only screen and (max-width: 355px) {

    .risk-matrix ul {
        grid-template-columns: 70px repeat(4, 40px);
    }

    .risk-matrix li {
        height: 40px;
        line-height: 38px;
        width:40px
    }

    .risk-matrix li.active span,
    .risk-matrix li.uncertain span {
        line-height: 34px;
    }

    .bottom-legend .description {
        writing-mode: vertical-rl;
        transform: scale(-1, -1);
        height: 70px;
        text-align: right
    }
    
}
