
/* remaking risk matrix to grid*/

.non-css-only {
    display: none!important;
}

.risk-level-matrix {
    display: inline-grid;
    grid-template-columns: 20px 1fr;
    margin:0;
    overflow-x:auto;
    max-width:100%;

}

.risk-matrix {
    display: inline-flex;
    flex-direction: column;
}

.risk-matrix ul {
    display: inline-grid;
    grid-template-columns: repeat(5, 60px);
    list-style: none;
}


/* element containers */
.risk-matrix li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
}

.risk-level {
    background: black;
    border: 1px solid black;
    border-bottom-width: 0px;
}

.risk-level:not(:last-child) {
    border-right: none
}

div.risk-level-number {
    font-size: 18px;
}

div.risk-level-category {
    font-size: 14px;
}

.bottom-border .risk-level div {
    border-width: 1px
}
/*
.risk-level > span,
.risk-level > div {
    display: block;
    height: 100%;
    width: 100%;
}*/

.risk-matrix li.active {
    font-weight: bold;
    text-decoration: underline;
}

.risk-matrix li.active,
.risk-matrix li.uncertain {
    border: 2px solid white;
    font-size: 20px;
    line-height: 54px;
}

.risk-matrix li.uncertain {
    border-style: dashed;
}

.risk-matrix li.description {
    line-height: initial;
    padding: 8px;
    font-size: small;
    border: none;
}

.risk-matrix li.description span {
    display: block
}

.rotate-legend {
    writing-mode: vertical-rl;
    transform: scale(-1, -1);
}

.risk-matrix-container .legend {
    padding-left: 60px;
}

.risk-matrix-container .legend.rotate-legend {
    padding-top: 55px;
}

.legend {
    text-align: center
}

/* colours */
.risk-matrix .nk {
    background: #94A360;
    color: #201f1f
}

.risk-matrix .nk span {
    color: #201f1f;
}

.risk-matrix .lo {
    background: #5c9c94;
    color: #201f1f
}

.risk-matrix .lo span {
    color: #201f1f
}

.risk-matrix .ph {
    background: #296473;
    color: #faf1e4;
}

.risk-matrix .ph span {
    color: white;
}

.risk-matrix .hi {
    background: #2E4073;
    color: #faf1e4;
}

.risk-matrix .hi span {
    color: white;
}

.risk-matrix .se {
    background: #4F1052;
    color: #faf1e4;
}

.risk-matrix .se span {
    color: white;
}

.risk-matrix-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap:20px;
}

.risk-matrix-figure {
    margin-bottom: 20px;
}

.risk-matrix-container .flex-me {
    flex:1;
    min-width:50%;
    padding:20px 0;
}

@media only screen and (max-width: 355px) {
    .risk-matrix ul {
        grid-template-columns: 60px repeat(4, 40px);
    }

    .risk-matrix li {
        height: 40px;
        line-height: 38px;
        width:40px
    }

    .risk-matrix li.active span,
    .risk-matrix li.uncertain span {
        line-height: 34px;
    }

    .bottom-legend .description {
        writing-mode: vertical-rl;
        transform: scale(-1, -1);
        height: 80px;
        text-align: right
    }
    
}
