h1, h2, h3 {
    color: #262F31;
}

.page-header h1 {
    line-height: 1.3;
    font-size: 33px;
}

.svalbard-heading {
    color: #185c7d;
}

.sidebarmenu{
    padding-top:0;
}

.main-content {
    /*padding-top: 7px;*/
}
