
/* SEARCH FIELD REDLIST */

.no_results {
    padding: 10px 0;
}

/* Container div for anything search*/
.list-search {
    text-align: center;
    padding: 10px 0;
    width: 100%;
    padding-bottom: 15px;
    border-radius: 2px;
    border-top: 1px solid lightgray;
    padding-top: 20px;
    background-image: linear-gradient(#f9f7f7, white);
}

@media only screen and (min-width: 750px) {
    .list-search {
        padding-left:220px;
    }
}


.list-search h2 {
    color: #3d3b3a;
    padding:0;
    margin:5px;
}

/* Container div for input + button*/
.searchfield {
    display: flex;
    width: 100%;
    vertical-align: top;
    margin: 0;
    height: 45px;
    width: 100%;
    max-width: 100%;
    margin: auto;
    background: pink;
}

/* Input field */
.list-search input {
    display: inline-block;
    border: 1px solid #3d3b3a;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.075) 0px 1px 1px 0px inset;
    box-sizing: border-box;
    color: rgb(85, 85, 85);
    font-family: Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    height: 45px;
    line-height: 21.4333px;
    margin-bottom: 0px;
    width: 100%;
    max-width: 100%;
}

/* Button*/
.searchfield button {
    width: 100px;
    vertical-align: top;
    margin: 0;
}

