.arrow-down {
  border: 0px;
  background-color: #0000;
}

li.checkbox, .filter_groups ul {
  list-style-type: none;
}

.controls span, a>button, .toggle_filter {
  pointer-events: none;
}

.controls_right, .close_reset_filter>.close_filters {
  display: none;
}

.list_header_text {
    overflow-wrap: normal;
    width: calc(100% - 30px);
    display: inline-block;
}

.list_header {
  align-items: center;
}

@media only screen and (max-width: 750px) {
    .controls {
        background-color: #fff;
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;
    }

    .controls_right {
        padding-left: 5px;
    }

    .controls_left {
        padding-right: 5px;
    }

    .controls_left, .controls_right {
        display: flex;
        flex-wrap: nowrap;
    }

    .controls button {
        margin: 3px;
        margin: 0;
        flex: 1;
    }

    .close_reset_filter {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
        position: sticky;
        top: 0;
        padding-top: 10px;
        background-color: #f7f7f7;
        border-bottom: 1px solid lightgray;
        z-index: 10;
    }

    .list-search {
        margin-top: 10px;
        margin-bottom: 0;
        border-bottom: 1px solid lightgray;
        padding: 10px 0;
        background: lightgrey;
        width: 100%;
        padding: 10px;
    }

    .searchfield {
        display: flex;
        width: 100%;
        vertical-align: top;
        margin: 0;
        height: 45px;
    }

        .searchfield button {
            width: 100px;
            vertical-align: top;
            margin: 0;
        }

    .search-and-filter {
        position: sticky;
        top: -1px;
        padding: 10px 0;
        border-bottom: 1px solid lightgray;
        z-index: 10;
        background-color: #fff;
    }

    .show_filters {
        display: inline-block;
    }

    .toggle_filter {
        margin: 0;
        height: 100%;
    }

    input[type=checkbox]#show_filters ~ .filter_modal_background {
        display: none;
    }


    input[type=checkbox]:checked#show_filters ~ .filter_modal_background {
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        padding: 20px;
        top: 0;
        bottom: 0;
        position: fixed;
        max-width: 100vw;
        max-height: 100vh;
    }

        input[type=checkbox]:checked#show_filters ~ .filter_modal_background .filters_scrollable > .filter_groups {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            align-items: center;
        }

            input[type=checkbox]:checked#show_filters ~ .filter_modal_background .filters_scrollable > .filter_groups > div > button {
                display: block;
            }

    .filters {
        text-align: center;
        margin: 0;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 0;
        max-width: 100vw;
        max-height: 100vh;
    }

    #navbar-mobile {
        z-index: 1;
    }

    .filters_scrollable {
        max-height: 90vh;
        overflow-y: scroll;
        background: white;
        border: 1px solid black;
    }

    .filters label {
        position: sticky;
        top: 0;
    }

    li.checkbox {
        margin: 5px;
    }
} 

/* Collapsible */
input[type=checkbox]:checked#show_category~.filter_category,
input[type=checkbox]:checked#show_region~.filter_region,
input[type=checkbox]:checked#show_european_population~.filter_european_population,
input[type=checkbox]:checked#show_criteria~.filter_criteria,
input[type=checkbox]:checked#show_habitat~.filter_habitat,
input[type=checkbox]:checked#show_extinct~.filter_extinct,
input[type=checkbox]:checked#show_species_groups~.filter_species_groups
 {
  display: block;
}

input[type=checkbox]:checked#show_area ~ .filter_area,
.filter_category,
.filter_region,
.filter_european_population,
.filter_criteria,
.filter_extinct,
.filter_habitat,
.filter_species_groups,
.material-icons.more,
.material-icons.less {
    display: none;
}

.collapse_checkbox {
    opacity: 0;
}

input[type=checkbox]:not(:checked)#show_area~label>.list_header>.material-icons.less,
input[type=checkbox]:checked#show_category~label>.list_header>.material-icons.less,
input[type=checkbox]:checked#show_region~label>.list_header>.material-icons.less,
input[type=checkbox]:checked#show_european_population~label>.list_header>.material-icons.less,
input[type=checkbox]:checked#show_criteria~label>.list_header>.material-icons.less,
input[type=checkbox]:checked#show_habitat~label>.list_header>.material-icons.less,
input[type=checkbox]:checked#show_extinct~label>.list_header>.material-icons.less,
input[type=checkbox]:checked#show_species_groups~label>.list_header>.material-icons.less
 {
  display: inline-block;
}

input[type=checkbox]:checked#show_area~label>.list_header>.material-icons.more,
input[type=checkbox]:not(:checked)#show_category~label>.list_header>.material-icons.more,
input[type=checkbox]:not(:checked)#show_region~label>.list_header>.material-icons.more,
input[type=checkbox]:not(:checked)#show_european_population~label>.list_header>.material-icons.more,
input[type=checkbox]:not(:checked)#show_criteria~label>.list_header>.material-icons.more,
input[type=checkbox]:not(:checked)#show_habitat~label>.list_header>.material-icons.more,
input[type=checkbox]:not(:checked)#show_extinct~label>.list_header>.material-icons.more,
input[type=checkbox]:not(:checked)#show_species_groups~label>.list_header>.material-icons.more
 {
  display: inline-block;
}

/* FILTER GROUP */

.filter_group {
    margin-top: -1px;
    padding-right: 5px;
}

.filter_group ul {
    background: #f0f0f0;
    padding: 5px;
}

/* FILTER GROUP HEADING*/
.list_header .material-icons {
    float: right;
}

.filter_group h4 {
    width: 100%;
    background: white;
    text-align: left;
    border: 1px solid lightgrey;
    padding: 10px;
    border-right: 0;
    border-left: 0;
    margin: 0;
}

.filter_group h4:hover,
input.collapse_checkbox:focus~label>.list_header,
input.collapse_checkbox:active~label>.list_header {
    cursor: pointer;
    background: #7f7f7f;
    color:white;
}

@media only screen and (max-width: 750px) {

    .filter_groups {
        display: none;
        background-color: #f7f7f7;
        padding-top: 15px;
    }

    .filter_group {
        width: 100%;
        padding: 0px;
        padding-right: 5px;
    }

        .filter_group ul {
            background: #f0f0f0;
            padding: 5px;
        }

        .filter_group h4 {
            width: 100%;
            background: white;
            text-align: left;
            border: 1px solid lightgrey;
            padding: 10px;
            border-right: 0;
            border-left: 0;
            margin: 0;
        }

    .controls button {
        font-size: 10pt;
    }

    .controls .material-icons {
        display: block;
        font-size: 15pt;
    }
}

.controls_left button{
    padding:0;
}
.controls_left button label {
    display: block;
    padding: 6px 12px;
}

.controls_left button label:hover{
    cursor:pointer;
}







