html {
    max-width: 100%;
    overflow-x: hidden;
}

/* Graphic profile colours for reference - classes are not in use as is */
.TextPrimary {
    color: #4c4a48;
}
.TextSecondary,
.ButtonActive{
    /* Use color as bg for all active elements that should have a clicked/chosen status*/
    color: #7f726b;
}
.TextAccentPrimary {
    color:#eb6109;
}
.TextAccentSecondary {
    color: #de8608;
}

/* Actual page css */

h1 {
    margin-bottom: 0;
}

.header-logo:active,
.header-logo:focus {
    border:2px solid blue;
}


/* PAGE CRUMB*/
.currentcrumb {
    text-decoration: none !important;
    color: grey !important;
}

/* TEMPORARY CODE NEEDS TO BE THOUGHT ABOUT*/

.fact_box{
    color:grey;
}

/* SHOULD MOVE TO THE GRAPHIC PROFILE PROJECT */

.ingress p {
    font-size: 22.5px;
}

/* OVERRIDE STYLES */

.page_section h2{
    margin-top:40px;
}

.breadcrumbs {
    max-width: 100%;
}

.title_header {
    width: 100%;
    background: darkred;
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20pt;
}

.bigmid .mid {
    width: 100%;
}

/* FULLSCREEN above 940px*/
@media only screen and (min-width: 940px) {
    .mid-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Page setup */
    .side {
        float: right;
        display: inline-block;
        height: 100%;
        padding: 10px;
        padding-top: 0;
        padding-left: 20px;
        height:100%;
        width:25%;
    }

    .side button{
        width:100%;
    }

    .with_sidebar {
        width: 75%;
        padding:20px;
        padding-top:0;
        border-right:2px solid lightgrey;
    }

    .content-placer {
        padding-top: 20px;
        width: calc(75% - 4px);
        display: inline-block;
    }


    .sidebarmenu {
        vertical-align: top;
        display: inline-block;
    }

}
/* PAD-SIZE 940px */
@media only screen and (max-width: 940px) {

    .mid-content {
        width: 100%;
    }

    .side {
        padding: 30px;
        margin-top: 50px;
        background: #f2f1f1;
        width: 100vw;
        margin-bottom: -14px;
        margin-left: -30px;
    }

    .content-placer {
        display: flex;
        flex-direction: column-reverse;
        padding-top: 20px;
    }

    .main-content{
        display:flex;
        flex-direction:column;
        padding-bottom:0;
    }

    footer{
        margin-top:0;
    }

    .sidebarmenu {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
        border: 0;
        border-top:2px solid lightgrey;
        padding: 10px;
        margin-top: 20px;
        margin-bottom: 0;
        order: 3;
        padding: 20px;
    }

    .sidebarmenu ul {
        display: block;
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 0;
        border: 0;
        padding-bottom: 0;
    }


}



/* BIG MOBILE SIZE: 766px  */
@media only screen and (max-width: 766px) {
    .mid-content {
    }

    .taxonomy {
        font-size: 10pt;
    }

    .history {
        display: none;
    }


}


/* MOBILE SIZE: 650px  */
@media only screen and (max-width: 650px) {

}

/* Tiny mobile : 550px */
@media only screen and (max-width: 527px) {

}

/* SUPER-tiny: 300px*/
@media only screen and (max-width: 300px) {

}


/* other stuff*/



.species_main_colour {
    fill: #4c4a48 !important;
}

.page-header{
    border-bottom:0;
}

.button,
.main button {
    padding: 6px 12px;
    font-size: 15px;
    line-height: 1.42857143;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background: #ddd;
    color: #000;
    border: none;
    display: inline-block;
    border-radius: 2px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    margin: 2px;
    border: 1px solid #a6a6a6;
    margin-bottom: 10px;
    text-decoration: none;
    text-transform:uppercase;
    font-weight:bold;
}


.button .material-icons,
.main button .material-icons {
    vertical-align: bottom;
    font-size: 16pt;
}

.button .main button.primary,
.main button.primary {
    background: #3d3b3a;
    color: #fff;
    border: none;
}

.button .main button.tertiary,
.main button.tertiary {
    background: none;
    color: #7f726b;
    border: none;
}

.button.active,
.main button.active {
    background: #7f726b;
    color: #fff;
    border: none;
}

.button:hover,
.main button:hover {
    background: #4c4a48;
    color: #fff;
    cursor:pointer;
}

.main .closebutton {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 0px;
    border: 0px;
    background: none;
    border-radius: 2px;
}

.trashbutton{
    padding:0px;
    position:absolute;
    right:0;
    top:0;
    border-radius:5px;
}

.trashbutton .hidetext{
    display:none;
}
