html {
    max-width: 100%;
    overflow-x: hidden;
}


/* PAGE CRUMB*/
.currentcrumb {
    text-decoration: none !important;
    color: grey !important;
}

/* TEMPORARY CODE NEEDS TO BE THOUGHT ABOUT*/

.fact_box{
    color:grey;
}

/* SHOULD MOVE TO THE GRAPHIC PROFILE PROJECT */

.ingress p {
    font-size: 22.5px;
}

/* OVERRIDE STYLES */

.page_section h2{
    margin-top:40px;
}

.breadcrumbs {
    max-width: 100%;
}

.title_header {
    width: 100%;
    background: darkred;
    margin: 0;
    padding: 10px;
    color: white;
    text-align: center;
    font-size: 20pt;
}

.bigmid .mid {
    width: 100%;
}

/* FULLSCREEN above 940px*/
@media only screen and (min-width: 940px) {
    .mid-content {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Page setup */
    .side {
        float: right;
        width: 200px;
        display: inline-block;
        height: 100%;
        border-left: 1px solid lightgrey;
        padding: 10px;
        padding-top: 0;
        margin-left: 10px;
        height:100%;
        width:25%;
    }

    .content-placer {
        width: 85%;
    }

}
/* PAD-SIZE 940px */
@media only screen and (max-width: 940px) {

    .mid-content {
        width: 100%;
    }

    .side {
        padding: 30px;
        margin-top:50px;
        background: #f2f1f1;
        width: 100vw;
        margin-bottom: -14px;
        margin-left: -30px;
    }

    .content-placer {
        display: flex;
        flex-direction: column-reverse;
    }
}

/* BIG MOBILE SIZE: 766px  */
@media only screen and (max-width: 766px) {
    .mid-content {
    }

    .taxonomy {
        font-size: 10pt;
    }

    .history {
        display: none;
    }
}


/* MOBILE SIZE: 650px  */
@media only screen and (max-width: 650px) {
}

/* Tiny mobile : 550px */
@media only screen and (max-width: 550px) {
}

/* SUPER-tiny: 300px*/
@media only screen and (max-width: 300px) {

}


/* other stuff*/



.species_main_colour {
    fill: #4c4a48 !important;
}