/* TABS ON ASSESSMENT PAGE */

.main .changetab {
    visibility: hidden;
}

.tabbed_element_container li {
    padding: 2px;
    padding-left: 20px;
}

.tabbed_element_container li.active {
    color: black;
    display: block;
}

.tabbed_element_container li.inactive {
    color: grey;
    font-weight: normal;
}

.tabbed_element_container .text_collection,
.tabbed_element_container .title_field {
    width: 100%;
}

.tabbed_element_container .text_container {
    display: flex;
    padding-bottom: 2px;
}

.tabbed_element_container .title_field {
    font-weight: bold;
}

.tabbed_element_container .text_collection {
    align-self: center;
    /*padding-left: 5px;*/
}

.text_icon,
.text_text {
    display: inline-block;
}

.text_icon {
    vertical-align: top;
}

.text_text {
    max-width: calc(100% - 28px);
}

.tabbed_element_container .circle {
    font-size: 4px;
    padding: 10px;
}

.tabbed_element_container ul,
.impact_table {
    border-left: 1px solid #dfdddd;
}

.tabbed_element_container ul ul {
    border-left: none;
}

ul.fourth,
ul.second {
    border-color: lightgrey;
}

.tabbed_element_container ul p {
    padding-left: 24px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    border-left: 1px solid #dfdddd;
}

.tabbed_element_container .noline {
    border: none;
    padding-left: 0;
}

.tabbed_element_container .thresholdlist_container {
    padding-left: 24px;
    padding-bottom: 20px;
}

/* HOVER EFFECT */

.full_list .clickable:hover {
    color: #098293;
    cursor: pointer;
    color: #098293;
    border-bottom: 2px solid #098293;
}


/* FULL VERSION */

.show_expand ul {
    visibility: hidden;
}

.impact_v {
    color: white;
    background: #138454;
    border-radius: 8px;
    overflow: visible;
    height: 20px;
    width: 20px;
    position: relative;
    margin-left: 10px;
    display: inline-block;
    vertical-align: bottom;
}

.impact_v .material-icons {
    position: absolute;
    top: 0px;
    left: -1px;
    font-size: 20px;
}

/* SUMMARY VERSION */

.summary .clickable:hover {
    background: inherit;
    color: inherit;
    cursor: inherit;
    text-decoration: none;
}

.summary li.active {
    font-weight: normal;
}

.tabbed_element_container .b_summary {
    border: none;
    padding-left: 0;
    display: flex;
    padding-top: 5px;
}

.b_summary .graphic_element {
    margin-left: 0px;
    margin-right: 10px;
}

.summary .inactive.listitem_criteria,
.summary .impact_v,
.summary li.inactive {
    display: none;
}

.summary .thresholdlist.inactive {
    display: block;
}

/* HANDLING DROPDOWN EFFECTS IN MAAANY LAYERS  */

.tabbed_element_container li {
    display: block;
}



/* FIRST LAYER */
.full_list .impact_table,
.full_list li > p,
.full_list li > ul {
    display: none;
}

.full_list .opened_element .impact_table,
.full_list .opened_element p,
.full_list .opened_element ul {
    display: block;
}

/* SECOND LAYER */
.full_list .opened_element li .impact_table,
.full_list .opened_element li p,
.full_list .opened_element li ul {
    display: none;
}

.full_list .opened_element .opened_element .impact_table,
.full_list .opened_element .opened_element p,
.full_list .opened_element .opened_element ul {
    display: block;
}


/* THIRD LAYER */
.full_list .opened_element .opened_element li .impact_table,
.full_list .opened_element .opened_element li p,
.full_list .opened_element .opened_element li ul {
    display: none;
}

.full_list .opened_element .opened_element .opened_element .impact_table,
.full_list .opened_element .opened_element .opened_element p,
.full_list .opened_element .opened_element .opened_element ul {
    display: block;
}

/* FOURTH LAYER */
.full_list .opened_element .opened_element .opened_element li .impact_table,
.full_list .opened_element .opened_element .opened_element li p,
.full_list .opened_element .opened_element .opened_element li ul {
    display: none;
}

.full_list .opened_element .opened_element .opened_element .opened_element .impact_table,
.full_list .opened_element .opened_element .opened_element .opened_element p,
.full_list .opened_element .opened_element .opened_element .opened_element ul {
    display: block;
}


/* OPEN AND CLOSE ICONS*/
.tabbed_element_container .open_icon,
.tabbed_element_container .close_icon,
.tabbed_element_container .circle {
    display: none;
}


/* FIRST LAYER */
.full_list .tabbed_element_container li .open_icon,
.full_list .tabbed_element_container .opened_element .close_icon,
.full_list .tabbed_element_container .opened_element .circle {
    display:inline;
}

.full_list .tabbed_element_container .opened_element .open_icon {
    display: none;
}

/* SECOND LAYER */
.full_list .tabbed_element_container .opened_element li .open_icon,
.full_list .tabbed_element_container .opened_element .opened_element .close_icon {
    display: inline;
}

.full_list .tabbed_element_container .opened_element li .close_icon,
.full_list .tabbed_element_container .opened_element .opened_element .open_icon {
    display: none;
}

/* THIRD LAYER */
.full_list .tabbed_element_container .opened_element .opened_element li .open_icon,
.full_list .tabbed_element_container .opened_element .opened_element .opened_element .close_icon {
    display: inline;
}

.full_list .tabbed_element_container .opened_element .opened_element li .close_icon,
.full_list .tabbed_element_container .opened_element .opened_element .opened_element .open_icon {
    display: none;
}

/* CRITERIA EXPLANATION */

.tabbed_element_container .criteria-summary-list,
.criteria-summary-list {
    border: none;
}

.criteria-summary-list .collapsible,
.criteria-summary-list .collapsible_header {
    border: 0;
    padding: 0;
    margin: 0;
}

.criteria-summary-list .collapsible_header {
    padding-left: 8px;
}

.criteria-summary-list li {
    border: 0;
    padding: 0;
    background: #f0f0f0;
}

.criteria-summary-list .collapsible {
    margin: 5px 0;
}

.criteria-summary-list .collapsible .collapsible_content {
    padding: 8px;
    margin-bottom: 10px;
    background: #f5e7d3;
}

.tabbed_element_container .criteria-summary-list p{
    padding:0;
    margin-top:8px;
    margin-bottom:8px;
}