@model SpeciesAssessment2021
@* 
   Breacrumb - specific for inner layer of Assessment *@


<div class="breadcrumbs">
    <ol>
        <li class="lead in-breadcrumb">
            <a asp-controller="Redlist" asp-action="rodlisteforarter">Rødlista for arter</a>
            <span class="breadcrumbdivider">&gt; </span>
        </li>
        
        <li class="in-breadcrumb">
            <a asp-controller="Redlist" asp-action="Index2021">2021</a>
            <span class="breadcrumbdivider">&gt; </span>
        </li>
        
        @if (@Model.AssessmentArea == "N")
        {
            <li class="in-breadcrumb">
                <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="N">
                    Norge
                </a>
                <span class="breadcrumbdivider">&gt; </span>
            </li>
        }
        @if (@Model.AssessmentArea == "S")
        {
            <li class="in-breadcrumb">
                <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="S">
                    Svalbard
                </a>
                <span class="breadcrumbdivider">&gt; </span>
            </li>
        }
        
        <li class="in-breadcrumb currentcrumb"  disabled="true">
            @Model.ScientificName
        </li>
    </ol>
</div>
