@model SpeciesAssessment2021
@*
    Codeblock from Innsynsløsninga 2021 by SN. 
    Slightly modified by HEM for launch.
*@

<div class="page_section">
    <partial name="/Views/Shared/_Categorybar.cshtml" />
    <a href="/" class="link-styled">
        Alt om kategoriskalaen 
    </a>
</div>