@model SpeciesAssessment2021
@*
    Map of Svalbard 
*@

@functions{
    string className(string name)
    {
        string classN = "current";

        foreach (var region in Model.RegionOccurrences)
        {
            if (region.Fylke.Contains(name))
            {
                @if (region.State == 0)
                {
                    classN = "known";
                }
                else if (region.State == 1)
                {
                    classN = "presumed";
                }
                else if (region.State == 2)
                {
                    classN = "current";
                }
                else if (region.State == 3)
                {
                    classN = "presumed_extinct";
                }
                else if (region.State == 4)
                {
                    classN = "extinct";
                }
            }

        }

        return classN;
    }
}

@{
    @* string seastyle = "fill:#e7f1f2;stroke:#000000;stroke-width:0.5px;"; *@
    string nauticstyle = "fill:lightblue;stroke:#000000;stroke-width:0.5px;";
    string placestyle = "fill:#f2e7da;stroke:#000000;stroke-width:0.5px;";

    // FOR SPECIES WHERE HOVEDHABITAT = SALTVANN: DO NOT SHOW ONLAND COLOURS

}

<svg viewBox="0 0 43.36521 48.197609"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:svg="http://www.w3.org/2000/svg">

    <g class="nautic" style=@nauticstyle>
    <path d="m 35.30105,38.299871 -3.13606,0.44801 -1.12003,3.584074 0.67201,2.688057 h 2.01604 l 2.01604,-2.016043 z m -30.026594,-8.10816 1.818778,9.639522 3.091926,3.637555 2.36441,4.183189 2.91004,0.545633 1.81878,-1.6369 0.90939,-9.275766 h 3.45568 l 1.27314,2.000655 0.72751,3.455678 3.2738,0.727511 3.63756,-4.9107 0.72751,-4.728822 2.72816,-2.728167 -1.09126,-2.000655 -4.00131,-2.546289 -3.2738,-5.092578 5.63821,-4.365066 4.18319,-9.275767 -1.6369,-3.091922 H 31.28298 L 29.64608,2.000655 26.00852,0.727511 23.46223,3.091922 18.55153,0 17.09651,1.818778 16.73276,3.819433 13.82271,7.456989 8.730134,9.457644 7.456989,11.276422 4.183189,9.457644 0.909389,12.731444 1.6369,19.6428 0,21.825333 1.273145,28.554811 3.637556,31.101099 Z M 36.19707,5.147178 l 2.24004,3.36007 h 2.68806 L 43.36521,5.371181 V 1.339096 L 39.10913,1.115093 Z m -3.36008,11.872248 -2.91205,1.568032 -0.22401,1.792037 1.79204,2.91206 3.13607,-0.224003 0.89601,-2.240048 2.68806,0.672015 3.13606,-5.376112 -2.24004,-2.688057 z"
              id="svalbard-hav" class="sea coast_svalbard @className("Svalbard")">
            <title>Svalbard kyst</title>
        </path>
    </g>

    <g class="land" style=@placestyle>
    <path d="M 39.53711,3.302296 37.63036,5.081923 37.8846,6.86155 40.80827,4.954806 Z m -1.27117,13.474318 v 0.762697 l 0.7627,-0.381348 z m -17.16068,46.651645 -0.88982,1.01693 0.88982,1.01693 0.50846,-1.27116 z m 12.5845,-22.753797 -1.14404,2.66944 1.39827,-1.525394 z m 5.08465,-24.024964 z m -2.92367,0.889813 -1.01693,1.398279 h 2.92367 z m -29.999429,-3.68637 -1.01693,-1.525394 -1.525395,2.66944 0.635581,4.321951 1.01693,-1.271162 0.635581,2.923673 L 4.1988,21.098565 5.21573,24.784935 3.817451,24.657819 2.546289,21.225681 2.800522,25.166284 5.21573,28.089957 4.1988,25.166284 h 1.525394 l 1.144046,2.796557 2.66944,-1.271163 0.25423,-3.68637 5.33888,2.923673 -6.991388,4.067719 -0.127116,2.288092 6.228694,-1.271162 -3.81349,2.415208 2.92368,1.65251 -5.338884,-0.127116 3.050794,4.449068 h 3.05078 l -1.90674,2.033859 2.28809,3.305021 1.27117,-1.525394 0.38134,-9.025251 1.01693,0.889813 1.27117,-6.101578 1.01693,0.508465 -0.88982,-4.194835 3.43214,-2.542324 0.50846,1.144046 -1.65251,1.144046 1.14405,2.66944 2.03386,-0.508465 -2.03386,1.525395 1.65251,2.542324 -0.7627,2.923673 0.38135,0.635581 2.66944,-1.779627 h 1.01693 l -0.25423,3.813486 2.79656,-4.449067 -0.25424,-2.66944 -1.65251,-0.254233 -1.90674,-2.796557 -1.27116,0.762698 0.38135,-1.525395 -0.88982,-2.66944 -1.65251,0.635581 0.7627,-3.050789 -4.19484,-2.669441 -1.39827,0.254233 -0.25424,-0.635581 0.25424,-2.160976 1.65251,-0.381349 1.39827,1.398279 4.32196,-0.762697 -0.38135,1.016929 2.54232,0.889814 2.79656,-2.796557 1.77963,-7.118508 -6.35582,-2.796556 -1.14404,3.432137 -0.38135,-3.559254 -1.14405,4.321952 -3.55925,-3.940603 -4.06772,3.940603 2.16098,3.432137 5.72023,-0.508465 -5.466,3.050789 -0.7627,-1.016929 -1.01693,2.288092 0.25424,-3.940603 -2.92368,-2.288092 -1.14404,2.542324 1.27116,8.262554 -2.66944,-8.516786 -3.050791,3.305022 1.906743,-3.813487 -3.050789,0.127116 z m 25.677479,6.737159 1.01693,1.144046 0.76269,-1.016929 z"
              id="Svalbard" class="@className("Svalbard") land svalbard_land">
            <title>Svalbard</title>
        </path>
    </g>
</svg>
