@model SpeciesAssessment2021
@*
    Map of Svalbard 
*@

@functions{
    string className(string name)
    {
        string classN = "current";

        foreach (var region in Model.RegionOccurrences)
        {
            if (region.Fylke.Contains(name))
            {
                @if (region.State == 0)
                {
                    classN = "known";
                }
                else if (region.State == 1)
                {
                    classN = "presumed";
                }
                else if (region.State == 2)
                {
                    classN = "current";
                }
                else if (region.State == 3)
                {
                    classN = "presumed_extinct";
                }
                else if (region.State == 4)
                {
                    classN = "extinct";
                }
            }

        }

        return classN;
    }
}

@{
    @* string seastyle = "fill:#e7f1f2;stroke:#000000;stroke-width:0.5px;"; *@
    string nauticstyle = "fill:lightblue;stroke:#000000;stroke-width:0.5px;";
    string placestyle = "fill:#f2e7da;stroke:#000000;stroke-width:0.5px;";

    // FOR SPECIES WHERE HOVEDHABITAT = SALTVANN: DO NOT SHOW ONLAND COLOURS

}

<svg viewBox="0 0 319.99999 500"
     xmlns="http://www.w3.org/2000/svg"
     xmlns:svg="http://www.w3.org/2000/svg">

    <g class="nautic" style=@nauticstyle>
        <path 
          d="m 285.62105,107.45614 -32.95677,14.90901 -3.13875,6.27749 -14.90902,6.27748 -9.4162,4.7081 -2.35406,12.55497 7.84684,14.12433 12.55497,7.84684 10.2009,-0.78468 9.41622,-7.84684 v -1.56937 l 14.12432,-1.56937 10.20092,-12.55496 7.06216,-10.20092 10.20091,-14.12432 -3.92343,-11.77028 -7.84685,-4.70811 z m -13.33965,-49.435155 10.98559,5.492795 10.2009,-3.138741 16.4784,-10.200905 7.84684,-14.909015 -3.92343,-15.693701 -12.55496,-8.631535 -16.47837,0.784684 -11.77028,10.200906 -7.84685,18.832441 1.56936,8.631536 z m -112.99465,209.510905 7.84686,8.63154 5.49279,18.04775 3.92343,12.55496 8.63153,7.06217 14.90901,-2.35405 14.12434,-18.83246 12.55496,-23.54054 3.92342,-16.47838 7.84686,-14.12434 7.84684,-7.06216 3.13874,-10.9856 -7.06216,-9.41621 -20.40181,-10.98559 -25.10992,-24.32524 -9.41623,-18.04775 10.9856,-8.63154 32.95677,-26.6793 13.33964,-31.387391 13.33965,-33.741459 -5.49279,-14.124331 -10.20091,-7.062165 h -10.98559 l -9.41622,-13.339645 -15.6937,-10.200906 -10.9856,-4.70811 -12.55496,6.27748 -10.98559,7.84685 L 156.14802,10.155198 141.239,3.8777177 131.03808,7.801143 l -7.84684,15.6937 -16.47838,21.971181 -6.27749,14.909015 -32.17208,3.923426 -11.77028,10.200905 h -9.41622 l -7.84685,-3.923424 -14.12432,6.277479 -14.90902,11.770278 -3.13874,9.416223 3.92342,21.186494 3.92343,19.61712 -10.20091,9.41623 -1.569363,14.12433 3.923423,25.10992 15.6937,29.03335 10.98559,7.84685 11.77028,-0.78469 6.27747,54.14326 9.41623,14.90901 21.97117,29.03335 13.33965,21.18651 6.27749,6.27747 h 11.77027 l 10.98559,-9.41622 4.7081,-13.33964 5.4928,-51.00454 7.06217,-9.4162 z m 74.54508,59.63606 7.06217,7.06216 h 10.98559 l 8.63153,-7.84684 5.4928,-14.90901 0.78468,-17.26308 -12.55496,-10.2009 -10.2009,3.92342 -9.41623,14.12433 -3.13873,14.90901 z m -71.40633,128.68834 -14.12434,2.35406 -8.63153,8.63154 -1.56937,10.98559 5.4928,11.77028 14.12432,7.84684 13.33965,-3.92342 7.06216,-14.90901 v -10.9856 z" 
              id="svalbard-hav" class="sea coast_svalbard @className("Svalbard")">
            <title>Svalbard kyst</title>
        </path>
    </g>

    <g class="land" style=@placestyle>
        <path 
          d="m 188.6183,296.17408 -0.7256,2.72098 h 1.99539 l 0.18139,-2.35819 z m 9.6141,-12.51648 -1.63258,0.90699 1.08839,1.63258 2.17677,-1.08839 z m -3.62796,4.53496 1.26978,1.81397 2.53958,-1.45118 -1.26979,-2.35818 -2.35818,-0.36279 z m -2.17677,-0.907 -1.4512,-1.45118 -1.81398,1.99537 0.54419,3.99078 3.08377,-0.5442 z m -13.42349,-19.95381 -1.45119,0.72559 v 2.90237 l 2.90238,0.36281 0.36279,-2.35818 z m 2.72098,0.1814 0.72559,2.53958 h 2.35819 l 0.18139,-3.08378 h -3.26517 z m 8.34432,2.90237 v 1.63258 h 1.63258 l 0.72561,-1.99537 z m -85.98279,58.59166 2.35817,-0.1814 1.45119,1.45118 -1.99538,2.17677 -2.17678,-1.08839 z M 72.857,79.041584 h 2.53515 l 0.72432,-2.897296 -2.8973,-0.362157 z m 0,-1.448647 z m 68.08653,-61.567594 -2.53515,2.897299 2.53515,1.086488 2.89729,-1.810813 z m 1.81081,6.518923 2.53514,0.362162 4.7081,1.448648 3.98378,0.362164 1.44865,4.345947 h -6.15676 l -1.44864,4.708111 -4.70811,-0.724325 -1.08649,-3.259461 3.25947,-1.448649 h 2.89729 l -3.25946,-3.259461 z m 52.51354,-0.362162 z m 16.65946,11.227031 -2.17298,0.724325 0.36218,3.259461 2.53512,-0.724325 z m -3.62162,229.248755 -2.53514,3.98379 2.17297,0.72432 1.44866,-1.81081 z m -3.62163,9.77838 -1.81081,3.98379 1.44865,1.08649 3.62162,-3.98379 z M 142.39217,125.0362 h 6.88108 l -2.89729,-4.70811 -6.88108,-2.17297 v 1.44865 l 2.17297,1.81082 -0.36216,3.25946 z m -0.72432,1.44865 -5.07027,-0.72433 v 1.81083 z m 18.83244,-2.53513 -0.72432,2.53513 h 2.89729 l 0.72433,-2.53513 z m -15.21081,5.43244 v 2.53513 h 3.62161 v -2.53513 z m 21.36757,17.38379 2.53514,2.17297 3.62162,0.36217 v -2.53514 z m 101.76761,-3.25947 -1.44865,2.17298 2.17298,1.44865 2.17297,-1.81081 z m 14.48649,-18.47028 2.53514,2.17297 2.8973,-2.17297 v -3.25945 l -3.98378,0.72433 z m -52.15137,96.33519 -1.08649,2.53513 1.81081,1.44865 2.17298,-1.8108 z M 37.72726,92.441605 l -6.15675,-3.259464 5.07027,-1.448647 4.34594,2.897296 -3.62162,4.708111 z m -9.05406,10.864855 1.08649,-5.070263 -2.89729,-5.794592 -1.81082,7.243239 z m 105.02708,5.07028 0.36215,2.17297 h 3.62163 z m 18.47028,39.4757 -3.62163,-5.07028 5.79461,-4.34595 3.25945,3.98379 -0.36216,2.8973 6.51892,-2.8973 v 3.25946 l -3.98378,1.81081 -2.17298,-2.53513 z m 88.3676,-95.248702 -2.8973,0.362162 -0.36215,3.983787 2.53512,1.448649 h 3.25947 V 54.41455 Z m -120.23789,-0.362163 -2.17297,5.794597 2.53512,2.8973 h 3.62164 l 1.08648,-4.70811 z M 19.25698,157.26866 l 3.62162,0.72433 2.53515,6.51891 1.44865,12.67568 4.34593,9.05406 4.34595,7.24325 2.89731,7.60541 -0.72433,4.34594 -3.25946,-2.17297 -5.07028,-11.58919 -2.89729,-3.25946 -2.53514,-2.53514 -1.81081,-7.60541 -3.62162,-11.95135 z m 82.93518,159.35142 v 0 l -3.62163,-3.98379 -10.5027,-11.58919 9.05406,-4.34595 3.62162,1.81081 3.25946,-2.17297 h 1.81082 l 1.08647,-6.88109 -2.53512,-0.36215 -5.43244,3.25946 -2.53514,-5.43244 -3.25946,5.43244 -6.51892,2.17297 -6.88109,-4.34595 2.53514,-7.24325 -10.50271,-2.53514 -7.96757,-16.2973 v -6.88108 l 6.51893,-5.7946 2.53512,2.8973 -0.72432,4.34594 1.81082,0.36217 5.43243,-3.98379 8.6919,2.53514 6.88108,0.72432 4.34595,6.88109 2.8973,-0.72432 -0.36217,-5.79461 h -5.07028 l -4.70809,-5.43243 -13.03785,-2.53513 -1.08649,-3.62163 13.4,-7.24324 4.70811,1.8108 7.96758,-5.79459 8.32973,3.25947 -3.62163,-5.43244 v -6.88108 l -5.43243,5.07027 -12.31351,2.89729 -1.44865,-5.43244 -8.32974,8.6919 -3.25946,-0.72432 -3.62163,2.8973 -5.79459,-0.36216 -7.24325,2.89729 -1.08648,-11.22704 -1.81081,-13.4 4.7081,-2.89728 3.25947,1.08647 2.53514,7.60541 h 2.89729 l -3.62163,-8.69188 1.44866,-1.0865 9.05406,0.72432 2.53513,-3.98378 4.70811,-6.15677 3.98378,2.8973 -0.36215,-8.32973 5.07026,-2.53513 13.40001,1.81081 v -3.25946 l 6.15677,-3.62162 -2.17298,-1.44865 -5.43243,4.34594 -6.88109,-3.62162 2.53514,-9.41622 6.51891,-6.88108 -7.24324,-3.62163 -2.8973,9.41623 -6.15675,7.96757 -6.51893,1.81081 -2.17297,-10.86488 4.34595,-3.25946 -0.72432,-14.48648 -2.89731,0.36215 -2.8973,7.60542 1.08649,5.79459 -3.25946,3.25946 -3.25946,-9.41622 -1.08649,3.62162 -2.53513,-0.36216 v 4.70811 l 1.8108,3.98379 -3.62162,2.17298 v 3.62162 l 4.34595,3.98378 1.08649,4.34595 -8.32973,-2.17297 v 3.25945 l 3.25946,2.8973 -1.81082,3.62163 h -2.89729 l -2.53514,4.34595 -13.76216,-0.36217 -1.0865,-11.22703 -2.8973,-1.44865 -2.53513,-7.24324 h 6.51893 l 7.96755,-5.07027 -4.34593,-2.17297 -2.53515,2.89729 -4.70811,-0.36217 -2.89729,-3.98378 -4.34595,0.72432 -6.51893,-11.5892 4.34596,-4.70809 -6.51893,-9.41623 1.44865,-2.53514 13.76217,9.77838 2.17298,-4.34594 -3.62163,-0.72433 2.8973,-2.53513 -2.8973,-3.62162 -9.05405,-3.25946 3.25946,-4.70812 v -2.53514 l 5.07027,-9.77838 -7.60541,-3.98379 -1.81082,14.12433 -5.79458,2.17298 -1.44865,-13.4 -1.81082,-8.69189 2.89729,-1.0865 -3.98378,-5.79459 4.34596,-6.88108 6.88108,0.36216 -3.25947,-9.778385 6.51893,-2.535139 3.25947,7.605404 2.89728,-0.36215 -0.36216,-10.502718 h 5.07028 l 0.36215,5.070279 14.84866,-7.605407 1.44865,2.172971 0.36217,8.691899 -3.25947,2.172976 -6.88108,0.72432 -4.70811,5.07027 c 0,0 -4.70811,0 -4.70811,1.44865 0,1.44865 1.08649,6.51892 1.08649,6.51892 l 6.15676,-5.07027 6.88108,-1.08649 -2.17298,7.24326 -2.53513,3.98377 6.15676,-2.53513 2.17297,6.15676 2.17297,9.05405 2.89731,-2.17297 -2.53513,-12.31351 -1.81082,-3.25947 0.36217,-5.07027 5.07026,-6.15677 3.98379,-9.778374 1.44865,0.724323 1.81081,2.897296 4.34595,11.227035 2.89729,14.12434 3.25946,12.67567 0.72433,9.05405 2.17297,-3.62162 1.44866,2.17298 5.43243,16.65948 h 2.53514 l 1.08648,-3.62164 -7.24325,-24.62703 -2.17296,-2.8973 0.72432,-16.65947 c 0,0 -2.8973,-5.43243 -3.25947,-7.6054 -0.36215,-2.17298 -1.44865,-16.297306 -1.44865,-16.297306 l 5.43245,2.172971 -2.53515,-6.518927 5.07028,-8.691897 2.53514,3.259463 1.81081,7.605407 3.25946,3.983787 1.44864,-6.15676 5.79461,2.897296 7.6054,15.210826 -3.25945,9.05405 0.72432,10.14056 -1.0865,2.89728 2.17299,2.17297 2.89729,-9.05405 1.44865,-11.22702 7.96758,5.07026 2.53512,17.02164 -4.34594,3.98378 2.17297,1.44865 2.17297,5.79459 3.25946,0.72434 3.9838,-4.34596 5.07028,3.98378 1.8108,10.50272 h 7.6054 l 2.89731,5.79459 4.7081,-0.36216 7.96758,5.07028 -1.44865,11.22703 -6.51893,-2.17298 -2.53513,-2.17297 -5.07028,2.17297 -1.8108,5.43244 -6.15675,2.53513 -3.25947,4.34595 -6.88108,3.25947 2.89729,7.96756 v 3.98379 l -3.25947,1.44866 3.25947,5.79458 v 2.8973 h -2.53514 l 3.62163,6.51893 -1.44866,4.7081 -5.07027,-1.08648 -3.62161,2.53513 1.8108,3.9838 -2.17297,5.07026 3.98378,7.24325 -0.72431,4.70812 -3.25947,2.89728 2.17297,3.25947 -0.36215,3.98379 v 5.43243 l -4.34596,1.08649 -5.07027,-5.43244 -1.44865,4.70811 1.08649,3.25946 -2.8973,12.67568 -2.17297,2.8973 1.08649,13.4 v 0 m 0,0 -2.17299,1.0865 -0.36215,3.62161 1.81081,2.17297 -1.81081,4.34596 -1.0865,3.25947 -3.62162,1.8108 v 6.88108 l 3.9838,0.36217 1.08647,4.70811 -3.25945,6.88108 -5.07028,2.53515 -0.36215,-3.25947 -5.07028,2.53514 -0.72432,-7.24325 1.44865,-1.81081 m 81.84868,-113.35681 5.43243,-4.70811 6.15676,-0.72433 2.89731,2.8973 2.17297,3.25946 -1.81082,4.34595 2.17297,5.43244 5.79461,6.51892 4.34594,-3.62162 5.79461,-0.72433 2.89729,1.44865 v 2.53513 l -4.34594,2.89731 0.36215,4.70811 4.70812,3.25945 -2.17297,3.62163 -1.44865,7.24324 -5.07028,9.41623 -4.34595,9.77839 -6.51893,7.96756 -2.89729,-1.81081 0.72432,-2.53513 2.53515,-5.07028 h -7.60541 l 5.07026,-3.62162 1.0865,-3.62162 0.36215,-3.25946 -5.07026,-6.15677 -3.9838,2.53515 -3.98378,7.6054 -6.51892,-0.36216 -4.34595,5.79459 -3.98379,-1.08648 -2.53512,-2.17298 -1.44865,-8.6919 6.51891,-2.53512 -0.72433,-12.67569 3.62162,-9.41622 -5.43243,-2.17298 -4.34594,-2.89729 -2.8973,-6.88109 7.60541,-5.43243 6.88109,-2.53513 z m -16.65947,-30.42164 4.34595,4.34595 3.25946,-1.08649 h 3.98379 l 2.53514,10.14055 3.62162,2.53514 -1.81081,8.6919 -5.7946,0.36215 -4.34595,1.44865 -5.43242,2.8973 -5.79461,2.53513 1.08649,-8.69189 -4.34596,-8.69189 -4.70811,-1.44865 v -2.17298 l 12.31353,-5.07027 z m 17.00729,-56.15667 -4.10211,5.64041 2.56382,4.10211 h 6.15317 l 3.58935,2.56382 7.69147,-2.05105 1.02553,-5.64041 7.17869,-6.15317 h 6.66595 l 5.64041,-11.79358 -2.05107,-4.614884 8.717,-11.79359 -0.51276,-4.614883 7.17871,-8.204231 -4.61489,-8.20423 -1.02552,-9.742525 -2.56383,3.076586 -1.02553,-6.153174 -11.79357,-1.538292 -4.6149,1.538292 -7.17869,-1.538292 -2.05106,-7.178704 -3.07659,6.665938 -9.74252,-15.895697 3.58935,15.382933 -4.61489,0.512764 2.05106,10.25529 -6.15317,-4.102116 -2.05106,5.64041 -2.05105,-5.64041 2.05105,-4.614879 0.51277,-3.589352 -1.53829,-3.076587 3.07658,-3.589352 -6.66593,-7.691467 -4.10212,6.153175 0.51276,3.58935 h -5.6404 l 1.02552,2.051058 3.07658,6.153175 v 10.255289 l 3.07661,7.178702 -1.53831,4.102115 -5.6404,-9.229759 h -2.05107 v -9.229761 l -5.12763,2.563822 -6.15318,2.051058 -3.07659,-6.153173 -3.07658,1.538293 v -7.691467 l -7.17871,-1.538294 v -1.538293 l 5.64041,-6.153174 -6.15317,-1.538293 -5.64041,6.153173 -1.53829,6.665939 5.64041,2.051057 -0.51278,8.716997 -6.66593,-7.691468 -0.51276,4.614881 v 2.051059 l 5.12764,7.691467 0.51276,5.127645 -8.20422,-7.178704 h -1.53829 l -9.74254,1.538293 -2.56381,3.076587 8.20423,6.665939 h 4.61487 l -7.1787,5.127639 0.51277,6.665952 5.6404,4.614873 3.58936,-0.512757 0.51276,6.153173 3.07658,-6.153173 4.61488,3.076582 5.12766,-2.051059 9.74252,-3.589348 8.20423,-1.538291 h 7.69147 v 6.66593 l -8.71699,1.538302 -9.22977,4.102111 13.33189,6.15318 -6.15318,1.53829 h -7.17871 l -1.53829,-6.15317 -5.64041,2.05105 -1.5383,4.10212 6.15318,6.66594 10.25529,3.07658 -2.05106,4.61488 h 6.15317 l 2.56382,-3.07658 h 3.58936 l 3.58935,3.07658 5.12765,-5.12764 z m 70.24873,23.07441 4.10212,4.61488 2.05106,-2.56383 4.61488,-4.61488 4.10212,-0.51277 4.10211,3.0766 3.07658,-1.53829 3.58936,-4.61489 -0.51276,-1.53829 -9.74253,1.02552 -3.07659,-3.07658 -7.69147,4.10212 z m -14.87017,7.69146 3.58935,4.61488 5.64041,5.12764 -2.05105,2.05106 h -3.58936 l -5.12764,-6.15317 -2.56382,-3.07658 z m 52.18244,-122.969107 5.08361,1.906351 5.08359,6.354504 -1.27089,4.448153 -9.53177,3.812704 -8.26084,6.354504 -3.81271,-3.812702 -1.2709,-4.448153 7.62541,-10.167208 z m -42.57519,275.150057 -5.71904,17.15715 1.90635,5.71907 6.35451,-20.33441 z m -90.86941,169.02982 -6.98995,2.5418 1.2709,5.08361 4.44816,5.0836 4.44815,-3.8127 1.27089,-4.44816 z" 
              id="Svalbard" class="@className("Svalbard") land svalbard_land">
            <title>Svalbard</title>
        </path>
    </g>
</svg>

