@model SpeciesAssessment2021

@if (Model.Category.Contains("LC"))
{
    <h3>
        Hvorfor er ikke denne @Helpers.FixSpeciesLevel("{art}en", Model.TaxonRank) rødlistet?
    </h3>
    <p>
        Denne @Helpers.FixSpeciesLevel("{art}en", Model.TaxonRank) oppfyller ikke kriteriene for rødlisting.
        Den vurderes derfor til kategorien <i>livskraftig</i> LC.
    </p>
    <a class="link-styled" href="https://artsdatabanken.no/rodlisteforarter2021/Metode#193097">
        Les om kriteriene her
    </a>
}





