@model SpeciesAssessment2021

@{
    string distributionName = "no_distribution";

    if (Model.AssessmentArea == "N")
    {
        distributionName = "vurdert_N";
    }
    else if (Model.AssessmentArea == "S")
    {
        if (Model.SpeciesGroup == "Pattedyr")
        {
            distributionName = "vurdert_S_pattedyr";
        }
        else
        {
            distributionName = "vurdert_S";
        }
    }

    string description = ViewBag.glossary[distributionName]["description"];
    if (Model.Category == "NA" || Model.Category == "NE")
        description = description.Replace("Vurderingen gjelder", "Gjelder");
}

<div class="page_section @distributionName">
    <h2>Vurderingsområde og @Helpers.FixSpeciesLevel("{art}ens", Model.TaxonRank) utbredelse</h2>
    <p>
        @Helpers.FixSpeciesLevel(description, Model.TaxonRank)
    </p>

    <partial name="/Views/Redlist/Species/2021/Assessment/partials/_RegionStatistics.cshtml" />
</div><!-- End section -->