@model HeaderViewModel
@using Microsoft.Extensions.Hosting
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment Environment

@{
    PageMenuViewModel pageMenuViewModel = new PageMenuViewModel
    {
        AssessmentType = Assessments.Frontend.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023,
        PageMenuContentId = Constants.AlienSpecies2023PageMenuContentId,
        PageMenuExpandButtonText = Constants.AlienSpecies2023PageManuExpandButtonText,
        PageMenuHeaderText = Constants.AlienSpecies2023PageMenuHeaderText
    };
}

<div class="title_header">
    <a asp-controller="AlienSpecies" asp-action="Index" class="alien-species">
        <span class="full_title">@Model.Title</span>
        <span class="short_title">@Model.TitleShort</span>
    </a>

    <partial name="/Views/Shared/_PageMenu.cshtml" model="@pageMenuViewModel" />
</div>