@model AlienSpeciesDetailViewModel

@{
    AlienSpeciesAssessment2023 assessment = Model.Assessment;
    ViewBag.Title = assessment.ScientificName + " - Fremmedartslista";

    Filter.FilterItem speciesGroup = AlienSpeciesHelpers.GetSpeciesGroup(SpeciesGroups.AlienSpecies2023SpeciesGroups, assessment.SpeciesGroup);
    var speciesGroupImageUrl = speciesGroup.ImageUrl;

    AssessmentPageHeaderViewModel assessmentPageHeaderViewModel = new AssessmentPageHeaderViewModel()
            {
                AssessmentArea = assessment.AlienSpeciesCategory == Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciecAssessment2023AlienSpeciesCategory.RegionallyAlien ? Constants.AlienSpecies2023PageMenuAssessmentAreaText : assessment.EvaluationContext.DisplayName(),
                scientificNameViewModel = new ScientificNameViewModel()
                {
                    PopularName = assessment.VernacularName,
                    ScientificName = assessment.ScientificName,
                    ScientificNameAuthor = assessment.ScientificNameAuthor
                },
                speciesGroupViewModel = new SpeciesGroupViewModel()
                {
                    AssessmentYear = 2023, // TODO: create this field in assessment model
                    ExpertCommittee = assessment.ExpertGroup,
                    //RevisionDate = assessment.LastUpdatedAt, // TODO: check if this is revision date
                    RevisionReason = "", // TODO: create a field for this, if we need revisions at all for alien species
                    SpeciesGroup = assessment.SpeciesGroup,
                    SpeciesGroupImageUrl = speciesGroupImageUrl,
                    SpeciesGroupInfoUrl = "https://www.artsdatabanken.no/rodlisteforarter2021/ekspertkomiteene", // TODO: add correct link for alien species
                    PreviousAssessmentYear = assessment.PreviousAssessments.Where(x => x.RevisionYear < 0).OrderByDescending(x => x.RevisionYear).Select(x => x.RevisionYear).FirstOrDefault()
        }
    };

    PageMenuViewModel pageMenuViewModel = new PageMenuViewModel
    {
        PageMenuContentId = Constants.AlienSpecies2023PageMenuContentId,
        PageMenuExpandButtonText = Constants.AlienSpecies2023PageManuExpandButtonText,
        PageMenuHeaderText = Constants.AlienSpecies2023PageMenuHeaderText
    };

    TaxonRank.TaxonRankEnum scientificNameRank;
    var taxonRank = "Ukjent";
    if (Enum.TryParse(Model.Assessment.ScientificNameRank.ToString(), out scientificNameRank))
        if (scientificNameRank != 0)
            taxonRank = scientificNameRank.DisplayName();
    SideBarContentViewModel sideBarContentViewModel = new SideBarContentViewModel()
    {
         AssessmentYear = 2023,
         Category = Categories.AlienSpecies2023Categories
                                                        .Where(x => x.NameShort == assessment.Category.ToString())
                                                        .Select(x => x.Name).FirstOrDefault(),
         CategoryShort = assessment.Category.ToString(),
         PreviousAssessments = assessment.PreviousAssessments.Select(x => new SideBarContentViewModel.SideBarPreviousAssessment()
         {
             Category = Categories.AlienSpecies2023Categories
                                                        .Where(y => y.NameShort == x.MainCategory)
                                                        .Select(y => y.Name).FirstOrDefault(),
             CategoryShort = x.MainCategory,
             Url = "https://artsdatabanken.no/fremmedarter/2018/N/" + x.AssessmentId, // TODO: get real url when the model is ready
             Year = x.RevisionYear
         }).ToArray(),
         ScientificName = Model.Assessment.ScientificName,
         ScientificNameId = Model.Assessment.ScientificNameId,
         TaxonRank = taxonRank
    };
}

<partial name="/Views/AlienSpecies/2023/AssesmentPartials/_Breadcrumb.cshtml" />

<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenu.cshtml" model="pageMenuViewModel" />

    <div class="content-placer bigmid">
        <div class="mid-content with_sidebar">
            <partial name="/Views/Shared/_AssessmentPageHeader.cshtml" model="assessmentPageHeaderViewModel" />
            <div class="mobile_padding">
                @*
                    Check which ones are appropriate for alien species list
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Ingress.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_CategoryDescription.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_ExpertStatement.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Method.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_ImpactFactors.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Regions.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Habitat.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_SpeciesDetails.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Reference.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Citation.cshtml" model="Model" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Revision.cshtml" model="Model" />*@
            </div>
        </div>
        <div class="side mobile_padding">
            <partial name="/Views/Shared/_SidebarContent.cshtml" model="sideBarContentViewModel" />
        </div>
    </div>
</div>