@model AlienSpeciesListViewModel
@using Assessments.Shared.Options
@using Microsoft.Extensions.Options

@inject IOptions<ApplicationOptions> Options

@{
    CitationForListViewModel citationViewModel = new CitationForListViewModel
    {
        CitationString = Constants.AlienSpecies2023CitationString
    };

    PageHeaderViewModel pageHeaderViewModel = new PageHeaderViewModel
    {
        HeaderText = Constants.AlienSpecies2023HeaderText,
        HeaderByline = Constants.AlienSpecies2023HeaderByline
    };

    IntroductionViewModel introductionViewModel = new IntroductionViewModel
    {
        Introduction = Constants.AlienSpecies2023Introduction
    };

    PageMenuViewModel pageMenuViewModel = new PageMenuViewModel
    {
        AssessmentType = Assessments.Frontend.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023,
        PageMenuContentId = Constants.AlienSpecies2023PageMenuContentId,
        PageMenuExpandButtonText = Constants.AlienSpecies2023PageManuExpandButtonText,
        PageMenuHeaderText = Constants.AlienSpecies2023PageMenuHeaderText
    };

    ViewData["Title"] = "Fremmedartslista - innsyn"; // TODO: change to correct publishing date

    var enableCitation = Options.Value.AlienSpecies2023.EnableCitation;
}

<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenu.cshtml" model="@pageMenuViewModel" />

    <div class="content-placer bigmid">
        <div class="mid-content">
            <div class="title_with_image">
                <div class="title_with_header">
                    <partial name="/Views/Shared/_Header.cshtml" model="@pageHeaderViewModel" />
                </div>
                <div class="title_with_ingress">
                    @*<img src="https://design.artsdatabanken.no/list-icons/FA.png" alt="Bilde av en mandarinand" />*@
                    <partial name="/Views/Shared/_Introduction.cshtml" model="@introductionViewModel" />
                </div>
            </div>
             <!-- Innsyntekst TODO: remove after innsight process -->
           <partial name="/Views/AlienSpecies/2023/ListPartials/_InnsynInfo.cshtml" />
            <!-- Innsyntekst slutt -->

            <form id="search_and_filter_form" aps-action="" method="get">
                <partial name="/Views/AlienSpecies/2023/ListPartials/_Search.cshtml" />
                <partial name="/Views/AlienSpecies/2023/ListPartials/_Filters.cshtml" />
            </form>

            <div is-visible="enableCitation">
                <partial name="/Views/Shared/_CitationForList.cshtml" model="citationViewModel"/>
            </div>
        </div>
    </div>
</div>
