@model AlienSpeciesDetailViewModel

@{
    var assessment = Model.Assessment;
    ViewBag.Title = assessment.EvaluatedScientificName + " - Fremmedartslista 2023";
}

<h3>@assessment.EvaluatedScientificName</h3>