@model AlienSpeciesListViewModel
@using Assessments.Shared.Options
@using Microsoft.Extensions.Options

@inject IOptions<ApplicationOptions> Options

@{
    CitationForListViewModel citationViewModel = new CitationForListViewModel
    {
        CitationString = Constants.AlienSpecies2023CitationString
    };

    PageHeaderViewModel pageHeaderViewModel = new PageHeaderViewModel
    {
        HeaderText = Constants.AlienSpecies2023HeaderText,
        HeaderByline = Constants.AlienSpecies2023HeaderByline
    };

    IntroductionViewModel introductionViewModel = new IntroductionViewModel
    {
        Introduction = Constants.AlienSpecies2023Introduction
    };

    PageMenuViewModel pageMenuViewModel = new PageMenuViewModel
    {
        AssessmentType = Assessments.Frontend.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023,
        PageMenuContentId = Constants.AlienSpecies2023PageMenuContentId,
        PageMenuExpandButtonText = Constants.AlienSpecies2023PageManuExpandButtonText,
        PageMenuHeaderText = Constants.AlienSpecies2023PageMenuHeaderText
    };

    ViewData["Title"] = "Fremmedartslista - innsyn"; // TODO: change to correct publishing date

    var enableCitation = Options.Value.AlienSpecies2023.EnableCitation;
}

<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenu.cshtml" model="@pageMenuViewModel" />

    <div class="content-placer bigmid">
        <div class="mid-content">
            <div class="title_with_image">
                <div class="title_with_header">
                    <partial name="/Views/Shared/_Header.cshtml" model="@pageHeaderViewModel" />
                </div>
                <div class="title_with_ingress">
                    <img src="https://design.artsdatabanken.no/list-icons/FA.png" alt="Bilde av en mandarinand" />
                    <partial name="/Views/Shared/_Introduction.cshtml" model="@introductionViewModel" />
                </div>
            </div>
            
            <!-- Innsyntekst TODO: remove after innsight process -->
            <div style="margin-bottom: 30px;">
                <h2>Innsyn i de foreløpige vurderingene</h2>
                <p>I august 2023 lanserer Artsdatabanken en ny utgave av Fremmedartslista. Nå åpner vi for innsyn i de foreløpige risikovurderingene. Hensikten med innsynet er å øke kunnskapsgrunnlaget for vurderingene. Vi ønsker innspill fra alle som har utfyllende og relevant kunnskap. Eksempel på relevant informasjon er publiserte artikler eller rapporter som dokumenterer fremmede arters effekt eller spredning. Funn som dokumenterer spredning til og etablering i nye områder er også av stor interesse. Innsynet er åpent fra mandag 20. februar 2023.</p>
                <p>Risikovurderingene blir utført av 58 eksperter, fordelt på 12 <a href="https://artsdatabanken.no/Pages/328670/Ekspertkomit_ene">komitéer</a>. Hver komité har en ansvarlig leder og arbeidet er kontraktsfestet med den institusjonen ekspertkomitélederen tilhører.</p>
                <p>Resultatene er foreløpige. Det er ikke tillatt å publisere sammenstillinger av resultatene som framkommer i innsynet.</p>
                <p><b style="color: #b77818; font-size: 20px;">Fristen for å sende inn innspill er 12. mars 2023.</b></p>
                <ul>
                    <lh>Slik gjør du for å se en vurdering og gi tilbakemelding</lh>
                    <li>
                        <ol style="margin-left: 24px; margin-bottom: 15px;">
                            <li>Skriv inn navn på en art (eller slekt) i tekstfeltet «Søk i Fremmedartslista 2023» eller bruk øvrige filter for å finne arten du vil lese om.</li>
                            <li>Klikk på linjen for å komme til vurderingen.</li>
                            <li>Nederst i de foreløpige vurderingene finner du skjemaet «Tilbakemelding». Fyll først inn navn og e-postadresse, og godta vilkårene. Du vil da motta en e-post for å validere e-postadressen. Trykk på lenken i eposten så blir du sendt tilbake til vurderingen hvor du kan skrive din tilbakemelding inkludert eventuelle filvedlegg. <a href="/feedback/terms">Se hvordan Artsdatabanken behandler dine personopplysninger.</a></li>
                        </ol>
                    </li>
                    <li>Hvis du ønsker å gi en tilbakemelding som ikke er relatert til en spesifikk art gjøres det via <a href="mailto:fremmedearter@artsdatabanken.no">epost</a>.</li>
                </ul>
            </div>
            <!-- Innsyntekst slutt -->

            <form id="search_and_filter_form" aps-action="" method="get">
                <partial name="/Views/AlienSpecies/2023/ListPartials/_Search.cshtml" />
                <partial name="/Views/AlienSpecies/2023/ListPartials/_Filters.cshtml" />
            </form>

            <div is-visible="enableCitation">
                <partial name="/Views/Shared/_CitationForList.cshtml" model="citationViewModel"/>
            </div>
        </div>
    </div>
</div>
