@model AlienSpeciesDetailViewModel
@using Assessments.Frontend.Web.Infrastructure.AlienSpecies

@{
    AlienSpeciesAssessment2023 assessment = Model.Assessment;
    ViewBag.Title = assessment.ScientificName + " - Fremmedartslista";

    //TODO: need species group in model first. Use dummy value until then
    //SpeciesGroups.SpeciesGroupItem speciesGroup = AlienSpeciesHelpers.GetSpeciesGroup(SpeciesGroups.AlienSpecies2023SpeciesGroups, Model.Assessment.SpecieGroup);
    SpeciesGroups.SpeciesGroupItem speciesGroup = AlienSpeciesHelpers.GetSpeciesGroup(SpeciesGroups.AlienSpecies2023SpeciesGroups, "Fisker");
    string speciesGroupImageUrl = String.Empty;
    if (speciesGroup != null)
    {
        speciesGroupImageUrl = speciesGroup.ImageUrl;
    }

    AssessmentPageHeaderViewModel assessmentPageHeaderViewModel = new AssessmentPageHeaderViewModel()
            {
                RenderSvalbard = false,
                scientificNameViewModel = new ScientificNameViewModel()
                {
                    PopularName = assessment.EvaluatedVernacularName,
                    ScientificName = assessment.ScientificName,
                    ScientificNameAuthor = "" // TODO: get author from model - assessment.ScientificNameAuthor
                },
                speciesGroupViewModel = new SpeciesGroupViewModel()
                {
                    AssessmentYear = 2023, // TODO: create this field in assessment model
                    ExpertCommittee = "ekspertkommité", // TODO: same as above
                    //RevisionDate = assessment.LastUpdatedAt, // TODO: check if this is revision date
                    RevisionReason = "", // TODO: create a field for this, if we need revisions at all for alien species
                    SpeciesGroup = "", // TODO: create this field in model
                    SpeciesGroupImageUrl = speciesGroupImageUrl,
                    PreviousAssessmentYear = assessment.PreviousAssessments.Where(x => x.RevisionYear < 0).OrderByDescending(x => x.RevisionYear).Select(x => x.RevisionYear).FirstOrDefault()
        }
    };

    PageMenuViewModel pageMenuViewModel = new PageMenuViewModel
    {
        PageMenuContentId = Constants.AlienSpecies2023PageMenuContentId,
        PageMenuExpandButtonText = Constants.AlienSpecies2023PageManuExpandButtonText,
        PageMenuHeaderText = Constants.AlienSpecies2023PageMenuHeaderText
    };

    SideBarContentViewModel sideBarContentViewModel = new SideBarContentViewModel()
    {
         AssessmentYear = 2023,
         Category = Categories.AlienSpecies2023Categories
                                                        .Where(x => x.Category == assessment.Category)
                                                        .Select(x => x.TagLine).FirstOrDefault(),
         CategoryShort = assessment.Category,
         PreviousAssessments = assessment.PreviousAssessments.Select(x => new SideBarContentViewModel.SideBarPreviousAssessment()
         {
             Category = Categories.AlienSpecies2023Categories
                                                        .Where(y => y.Category == x.MainCategory)
                                                        .Select(y => y.TagLine).FirstOrDefault(),
             CategoryShort = x.MainCategory,
             Url = "https://artsdatabanken.no/fremmedarter/2018/N/" + x.AssessmentId, // TODO: get real url when the model is ready
             Year = x.RevisionYear
         }).ToArray(),
         ScientificName = Model.Assessment.ScientificName,
         ScientificNameId = Model.Assessment.EvaluatedScientificNameId.GetValueOrDefault(),
         TaxonRank = Model.Assessment.ScientificName // TODO: get scientificNameRank when it exists in the model
    };
}

<partial name="/Views/AlienSpecies/2023/AssesmentPartials/_Breadcrumb.cshtml" />

<h3>@assessment.ScientificName</h3>

<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenu.cshtml" model="pageMenuViewModel" />

    <div class="content-placer bigmid">
        <div class="mid-content with_sidebar">
            <partial name="/Views/Shared/_AssessmentPageHeader.cshtml" model="assessmentPageHeaderViewModel" />
            <div class="mobile_padding">
                @*
                    Check which ones are appropriate for alien species list
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Ingress.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_CategoryDescription.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_ExpertStatement.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Method.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_ImpactFactors.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Regions.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Habitat.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_SpeciesDetails.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Reference.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Citation.cshtml" model="Model" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Revision.cshtml" model="Model" />*@
            </div>
        </div>
        <div class="side mobile_padding">
            <partial name="/Views/Shared/_SidebarContent.cshtml" model="sideBarContentViewModel" />
        </div>
    </div>
</div>