@model AlienSpeciesDetailViewModel
@using Assessments.Mapping.AlienSpecies.Model.Enums
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Assessments.Data.Models


@{
    var assessment = Model.Assessment;
    ViewBag.Title = assessment.ScientificName + " - Fremmedartslista";

    var speciesGroup = AlienSpeciesHelpers.GetSpeciesGroup(SpeciesGroups.AlienSpecies2023SpeciesGroups.Filters, assessment.SpeciesGroup);
    var speciesGroupImageUrl = speciesGroup.ImageUrl;
    var showRiskMatrix = Model.Assessment.ScoreEcologicalEffect != null && Model.Assessment.ScoreInvasionPotential != null;

    var assessmentPageHeaderViewModel = new AssessmentPageHeaderViewModel()
    {
        AssessmentArea = assessment.AlienSpeciesCategory == Assessments.Mapping.AlienSpecies.Model.Enums.AlienSpeciecAssessment2023AlienSpeciesCategory.RegionallyAlien ? Constants.AlienSpecies2023PageMenuAssessmentAreaText : assessment.EvaluationContext.DisplayName(),
        ScientificNameViewModel = new ScientificNameViewModel()
        {
            PopularName = assessment.VernacularName,
            ScientificName = assessment.ScientificName,
            ScientificNameAuthor = assessment.ScientificNameAuthor
        },
        SpeciesGroupViewModel = new SpeciesGroupViewModel()
        {
            AssessmentYear = 2023, // TODO: create this field in assessment model
            ExpertCommittee = assessment.ExpertGroup,
            FirstPublishedDateString = "ikke publisert", // TODO: add date of publishing when we get this knowledge
            //RevisionDate = assessment.LastUpdatedAt, // TODO: check if this is revision date
            RevisionReason = "", // TODO: create a field for this, if we need revisions at all for alien species
            SpeciesGroup = assessment.SpeciesGroup,
            SpeciesGroupImageUrl = speciesGroupImageUrl,
            SpeciesGroupInfoUrl = "https://www.artsdatabanken.no/rodlisteforarter2021/ekspertkomiteene", // TODO: add correct link for alien species
            PreviousAssessmentYear = assessment.PreviousAssessments.Where(x => x.RevisionYear < 0).OrderByDescending(x => x.RevisionYear).Select(x => x.RevisionYear).FirstOrDefault()
        }
    };

    var citationViewModel = new CitationForAssessmentViewModel
    {
        AssessmentName = $"{assessment.SpeciesGroup}: Vurdering av {assessment.VernacularName} {Helpers.getScientificNameElement(assessment.ScientificName)} for {assessment.EvaluationContext.DisplayName()}",
        AssessmentYear = 2023, // TODO: add year when it comes into model
        ExpertCommittee = assessment.ExpertGroup,
        FirstPublished = Constants.RedlistSpecies2021FirstPublished,
        PublicationText = $"{Constants.AlienSpecies2023PageMenuHeaderText}.  {Constants.Artsdatabanken}.",
        RevisionDate = new DateTime(), // TODO: add if we handle revisions in this list
        RevisionReason = string.Empty, // TODO: add if we handle revisions in this list
        YearPreviousAssessment = assessment.PreviousAssessments?.Select(x => x.RevisionYear).OrderByDescending(x => x).FirstOrDefault() ?? 0,
        ExpertGroupMembers = Model.ExpertGroupMembers.Select(x => $"{x.LastName} {x.FirstNameInitials}").JoinAnd(", ", " og ")
    };

    var categoryDescriptionViewModel = new CategoryDescriptionViewModel()
    {
        CategoryShort = assessment.Category.ToString(),
        CategoryBar = Enum.GetValues<AlienSpeciesAssessment2023Category>().Select(x => new CategoryBarListElement()
        {
            Name = x.DisplayName(),
            NameShort = x.ToString()
        }).Reverse().ToArray(),
        MethodUrl = "https://artsdatabanken.no/pages/239659"
    };

    var ingressViewModel = new IngressViewModel()
    {
        AlienSpeciesCategory = assessment.AlienSpeciesCategory,
        Category = assessment.Category,
        Environment = assessment.Environment,
        EvaluationContext = assessment.EvaluationContext,
        ListName = Constants.AlienSpecies2023PageMenuHeaderText,
        ParentAssessmentId = assessment.ParentAssessmentId,
        SpeciesStatus = assessment.SpeciesStatus,
        Status = assessment.EstablishmentCategory + assessment.AlienSpeciesCategory,
        TaxonRank = assessment.ScientificNameRank
    };

    var pageMenuViewModel = new PageMenuViewModel
    {
        AssessmentType = Assessments.Frontend.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023,
        PageMenuContentId = Constants.AlienSpecies2023PageMenuContentId,
        PageMenuExpandButtonText = Constants.AlienSpecies2023PageManuExpandButtonText,
        PageMenuHeaderText = Constants.AlienSpecies2023PageMenuHeaderText
    };
    
    TaxonRank.TaxonRankEnum scientificNameRank;
    var taxonRank = "Ukjent";
    if (Enum.TryParse(Model.Assessment.ScientificNameRank.ToString(), out scientificNameRank))
        if (scientificNameRank != 0)
            taxonRank = scientificNameRank.DisplayName();
}

<partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Breadcrumb.cshtml" />

<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenu.cshtml" model="pageMenuViewModel" />

    <div class="content-placer bigmid">
        <div class="mid-content with_sidebar">
            <partial name="/Views/Shared/_AssessmentPageHeader.cshtml" model="assessmentPageHeaderViewModel" />
            <div class="mobile_padding">
                <partial name="/Views/Shared/_Ingress.cshtml" model="ingressViewModel"/>
                <partial name="/Views/Shared/_CategoryDescription.cshtml" model="categoryDescriptionViewModel"/>
                <div is-visible="showRiskMatrix">
                    <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_RiskMatrix.cshtml" />
                </div>
                @*    Check which ones are appropriate for alien species list
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_CategoryDescription.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_ExpertStatement.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Method.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_ImpactFactors.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Habitat.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_SpeciesDetails.cshtml" />
                <partial name="/Views/Redlist/Species/2021/Assessment/partials/_Revision.cshtml" model="Model" />*@
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_ExpertStatement.cshtml" model="Model.ExpertStatementViewModel" />
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_RiskCategoryExplanation.cshtml" />
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_CategoryChange.cshtml" />
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_ClimateEffectsInvationpotential.cshtml" />
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_GeographicVariationInCategory.cshtml"  />
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_RegionalSpread.cshtml" model="Model.RegionalSpreadViewModel" />
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_Attachments.cshtml" model="Model.Assessment.Attachments" />
                <partial name="/Views/AlienSpecies/2023/AssessmentPartials/_ImpactedNatureTypes.cshtml" />
                <partial name="/Views/Shared/_Reference.cshtml" model="Model.ReferenceViewModel"/>
                <partial name="/Views/Shared/_CitationForAssessment.cshtml" model="citationViewModel" />
                <partial name="/Views/Shared/_Feedback.cshtml" model="new FeedbackFormViewModel { Year = 2023, AssessmentId = assessment.Id, ExpertGroup = assessment.ExpertGroup, Type = FeedbackType.AlienSpecies }" />
            </div>
        </div>
        <div class="side mobile_padding">
            <partial name="/Views/Shared/_SidebarContent.cshtml" model="Model.SideBarContentViewModel" />
        </div>
    </div>
</div>

