@model AlienSpeciesListViewModel

@{
    CitationForListViewModel citationViewModel = new CitationForListViewModel
    {
        CitationString = Constants.AlienSpecies2023CitationString
    };

    PageHeaderViewModel pageHeaderViewModel = new PageHeaderViewModel
    {
        HeaderText = Constants.AlienSpecies2023HeaderText,
        HeaderByline = Constants.AlienSpecies2023HeaderByline
    };

    IntroductionViewModel introductionViewModel = new IntroductionViewModel
    {
        Introduction = Constants.AlienSpecies2023Introduction
    };

    PageMenuViewModel pageMenuViewModel = new PageMenuViewModel
    {
        AssessmentType = Assessments.Frontend.Web.Infrastructure.Enums.AssessmentType.AlienSpecies2023,
        PageMenuContentId = Constants.AlienSpecies2023PageMenuContentId,
        PageMenuExpandButtonText = Constants.AlienSpecies2023PageManuExpandButtonText,
        PageMenuHeaderText = Constants.AlienSpecies2023PageMenuHeaderText
    };

    ViewData["Title"] = "Fremmedartslista 2023";

    bool MakeMarginLeftSide(int counter)
    {
        //kleng til 
        bool venstre = true ;

        if (venstre)
        {
            return (counter % 4) switch
            {
                0 => false,
                1 => false,
                2 => true,
                3 => true,
                _ => false
            };
        }
        else
        {
            return (counter % 4) switch
            {
                0 => true,
                1 => true,
                2 => false,
                3 => false,
                _ => false
            };
        }

        
    }

    List<AlienSpeciesDetailViewModel> koko = new List<AlienSpeciesDetailViewModel>();
    for (var i = 0; i < Model.Results.Count; i++)
    {
        var model = Model.Results[i];
        koko.Add(new AlienSpeciesDetailViewModel(model));
    }
}

@for (var i = 0; i < koko.Count; i++)
{
    <div class="flex-pdf-space @(MakeMarginLeftSide(i) ? "" : "make-margin-right-side")">
        <div is-visible="MakeMarginLeftSide(i)" class="page-side-margin"></div>
        <partial name="/Views/AlienSpecies/2023/AlienSpeciesDetail.cshtml" model="koko[i]"/>
        <div is-visible="!MakeMarginLeftSide(i)" class="page-side-margin"></div>
    </div>
}
