@model RL2021ViewModel

<div>
    <p>
        Norsk rødliste for arter 2021 er en oversikt over arter som har risiko for å dø ut fra Norge.
        Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
    </p>

    <partial name="/Views/Redlist/2021/List/partials/_Fancy.cshtml" />

    @*DUMPING COPY HERE DUE TO MODEL IN THE OTHER ONE WHO HASN*T BEEN DETACHED*@
    <div class="page_section" style="display:none;">

        <ul class="category_displayer">
            <li>
                <div class="category_item  RE ">
                    <span>RE</span>
                </div>
                <span class="tag">Regionalt utdødd</span>
            </li>
            <li>
                <div class="category_item CR  ">
                    <span>CR</span>
                </div>
                <span class="tag">Kritisk truet</span>
            </li>
            <li>
                <div class="category_item  EN ">
                    <span>EN</span>
                </div>
                <span class="tag">Sterkt truet</span>
            </li>
            <li>
                <div class="category_item  VU ">
                    <span>VU</span>
                </div>
                <span class="tag">Sårbar</span>
            </li>
            <li>
                <div class="category_item  NT">
                    <span>NT</span>
                </div>
                <span class="tag">Nær<br />truet</span>
            </li>
            <li>
                <div class="category_item  DD ">
                    <span>DD</span>
                </div>
                <span class="tag">Data- mangel</span>
            </li>
            <li>
                <div class="category_item  LC ">
                    <span>LC</span>
                </div>
                <span class="tag">Livs- kraftig</span>
            </li>
            <li>
                <div class="category_item  NA">
                    <span>NA</span>
                </div>
                <span class="tag">Ikke egnet</span>
            </li>
            <li>
                <div class="category_item  NE ">
                    <span>NE</span>
                </div>
                <span class="tag">Ikke vurdert</span>
            </li>

        </ul>
    </div>
</div>

    

    