@{
    ViewBag.Title = "Rødlista for arter";
}

<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenuHistorical.cshtml" />
    <div class="content-placer bigmid">
        <div class="mid-content">
            <div class="page-header">
                <h1>
                    Rødlista for arter
                </h1>

                <p>
                    Norsk rødliste for arter er en oversikt over arter som har risiko for å dø ut fra Norge. 
                    Rødlista er utarbeidet av Artsdatabanken i samarbeid med fageksperter.
                </p>
            </div>
            <div class="mobile_padding">

                <h2> Gjeldende rødliste</h2>

                <p class="page_section">
                    Gjeldende rødliste ble lansert 24. november, og vil være den gjeldende rødlista frem til neste revisjon i 2027.
                                    
                </p>
                <p>
                    <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="N" class="button primary">
                        Rødlista 2021
                        <span class="material-icons">keyboard_arrow_right</span>
                    </a>
                </p>

                <h2>Alle rødlistene</h2>
                <p class="page_section">


                    <ul>
                        <li>
                            <a asp-controller="Redlist" asp-action="Index2021" asp-route-Area="N" class="button secondary">
                                Rødlista 2021
                                <span class="material-icons">keyboard_arrow_right</span>
                            </a>
                        </li>

                        <li>

                            <a href="https://artsdatabanken.no/Rodliste2015/sok" class="button secondary">
                                <span>Rødlista 2015</span>
                                <span class="material-icons">keyboard_arrow_right</span>
                            </a>
                        </li>

                        <li>

                            <a href="http://www.artsportalen.artsdatabanken.no/" class="button secondary">
                                Rødlista 2010
                                <span class="material-icons">keyboard_arrow_right</span>
                            </a>
                        </li>

                        <li>

                            <a href="https://artsdatabanken.no/Pages/201632/Norsk_roedliste_2006" class="button secondary">
                                Rødlista 2006
                                <span class="material-icons">keyboard_arrow_right</span>
                            </a>
                        </li>
                        
                    </ul>
                </p>


            </div>
        </div>
    </div>
</div>





