<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="Database" name="database" connectionString="${configsetting:item=ConnectionStrings.Default}">
			<commandText>
				INSERT INTO dbo.Logs (Exception,Level,Logged,Logger,Message,Controller,Action,Method,Url,QueryString,Referrer,Hostname,Environment) values (@Exception,@Level,@Logged,@Logger,@Message,@Controller,@Action,@Method,@Url,@QueryString,@Referrer,@Hostname,@Environment);
			</commandText>
			<parameter name="@Exception" layout="${exception:format=tostring}" />
			<parameter name="@Level" layout="${level}" />
			<parameter name="@Logged" layout="${longdate}${date:format=K}" />
			<parameter name="@Logger" layout="${logger}" />
			<parameter name="@Message" layout="${message}" />
			<parameter name="@Controller" layout="${aspnet-mvc-controller}" />
			<parameter name="@Action" layout="${aspnet-mvc-action}" />
			<parameter name="@Method" layout="${aspnet-request-method}" />
			<parameter name="@Url" layout="${aspnet-request-url}" />
			<parameter name="@QueryString" layout="${aspnet-Request-QueryString}" />
			<parameter name="@Referrer" layout="${aspnet-Request-Referrer}" />
			<parameter name="@Hostname" layout="${hostname}" />
			<parameter name="@Environment" layout="${aspnet-environment}" />
		</target>
	</targets>
	<rules>
		<logger name="*" minlevel="Error" writeTo="database" />
	</rules>
</nlog>