@{
    ViewData["Title"] = "Kan ikke finne siden";
}

<div class="pagecontainer">
    <partial name="/Views/Shared/_PageMenuHistorical.cshtml" />
    <div class="content-placer bigmid">
        <div class="mid-content">
            <div class="page-header">
                <h3>@ViewData["Title"]</h3>
            </div>
        </div>
    </div>
</div>
